In [1]:
import os
import argparse
import codecs
import json
import random as rnd
import numpy as np
from collections import Counter, defaultdict
from itertools import chain, count
from six import string_types
import torch
import torchtext.data
import torchtext.vocab

import table
import table.IO
import opts
from tree import SCode

In [2]:
OLD_WHERE_OPS = ('not', 'between', '=', '>', '<', '>=', '<=', '!=', 'in', 'like', 'is', 'exists')
NEW_WHERE_OPS = ('=','>','<','>=','<=','!=','like','not in','in','between','is')
NEW_WHERE_DICT = {
    '=': 0,
    '>': 1,
    '<': 2,
    '>=': 3,
    '<=': 4,
    '!=': 5,
    'like': 6,
    'not in': 7,
    'in': 8,
    'between': 9,
    'is':10
}
# SQL_OPS = ('none','intersect', 'union', 'except')
SQL_OPS = {
    'none': 0,
    'intersect': 1,
    'union': 2,
    'except': 3
}
KW_DICT = {
    'where': 0,
    'groupBy': 1,
    'orderBy': 2
}
ORDER_OPS = {
    'desc': 0,
    'asc': 1}
AGG_OPS = ('none','max', 'min', 'count', 'sum', 'avg')

COND_OPS = {
    'and':0,
    'or':1
}

TRAIN_COMPONENTS = ('multi_sql','keyword','col','op','agg','root_tem','des_asc','having','andor','value')
COMPONENTS_DICT = {
    'multi_sql':0,
    'keyword':1,
    'col':2,
    'op':3,
    'agg':4,
    'root_tem':5,
    'des_asc':6,
    'having':7,
    'andor':8,
    'value':9
}

In [3]:
def convert_to_op_index(is_not,op):
    op = OLD_WHERE_OPS[op]
    if is_not and op == "in":
        return 7
    try:
        return NEW_WHERE_DICT[op]
    except:
        print("Unsupport op: {}".format(op)) # TODO: check ! =
        return -1

def index_to_column_name(index, table):
    column_name = table["column_names"][index][1]
    table_index = table["column_names"][index][0]
    table_name = table["table_names"][table_index]
    return table_name, column_name, index


def get_label_cols(with_join,fk_dict,labels):
    # list(set([l[1][i][0][2] for i in range(min(len(l[1]), 3))]))
    cols = set()
    ret = []
    for i in range(len(labels)):
        cols.add(labels[i][0][2]) # still col index
        if len(cols) > 3:
            break
    for col in cols:
        # ret.append([col])
        if with_join and len(fk_dict[col]) > 0:
            ret.append([col]+fk_dict[col])
        else:
            ret.append(col)
    return ret


# history added
class MultiSqlPredictor:
    def __init__(self, question, sql, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.keywords = ('intersect', 'except', 'union')

    def generate_output(self):
        for key in self.sql:
            if key in self.keywords and self.sql[key]:
                return self.history + ['root'], key, self.sql[key]
        return self.history + ['root'], 'none', self.sql


class KeyWordPredictor:
    def __init__(self, question, sql, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.keywords = ('select', 'where', 'groupBy', 'orderBy', 'limit', 'having')

    def generate_output(self):
        sql_keywords = []
        for key in self.sql:
            if key in self.keywords and self.sql[key]: # included other keywords
                sql_keywords.append(key)
        return self.history, [len(sql_keywords), sql_keywords], self.sql


# history added
class ColPredictor:
    def __init__(self, question, sql, table, history, kw=None):
        self.sql = sql
        self.question = question
        self.history = history
        self.table = table
        self.keywords = ('select', 'where', 'groupBy', 'orderBy', 'having')
        self.kw = kw

    def generate_output(self):
        ret = []
        candidate_keys = self.sql.keys()
        if self.kw:
            candidate_keys = [self.kw]
        for key in candidate_keys:
            if key in self.keywords and self.sql[key]:
                cols = []
                sqls = []
                if key == 'groupBy':
                    sql_cols = self.sql[key]
                    for col in sql_cols:
                        cols.append((index_to_column_name(col[1], self.table), col[2]))
                        sqls.append(col) # col_unit1
                elif key == 'orderBy':
                    sql_cols = self.sql[key][1]
                    for col in sql_cols: # only contain col_unit1 in val_unit: (unit_op, col_unit1, col_unit2)
                        cols.append((index_to_column_name(col[1][1], self.table), col[1][2]))
                        sqls.append(col) # val_unit1
                elif key == 'select':
                    sql_cols = self.sql[key][1]
                    for col in sql_cols:  # only contain col_unit1 in val_unit
                        cols.append((index_to_column_name(col[1][1][1], self.table), col[1][1][2]))
                        sqls.append(col) # (agg_id, val_unit)
                elif key == 'where' or key == 'having':
                    sql_cols = self.sql[key]
                    for col in sql_cols: # TODO: check this one!
                        if not isinstance(col, list):
                            continue
                        try: # col_id of col_unit of val_unit of cond_unit of condition
                            cols.append((index_to_column_name(col[2][1][1], self.table), col[2][1][2]))
                        except:
                            print("Key:{} Col:{} Question:{}".format(key, col, self.question))
                        sqls.append(col) # cond_unit
                ret.append((
                    self.history + [key], (len(cols), cols), sqls
                ))
        return ret
        # ret.append(history+[key],)


class OpPredictor:
    def __init__(self, question, sql, history):
        self.sql = sql # check sql is cond_unit
        self.question = question
        self.history = history # history not change
        # self.keywords = ('select', 'where', 'groupBy', 'orderBy', 'having')

    def generate_output(self): # sql3: val_unit, sql4: val1
        return self.history, convert_to_op_index(self.sql[0],self.sql[1]), (self.sql[3], self.sql[4])


class AggPredictor:
    def __init__(self, question, sql, history,kw=None):
        self.sql = sql
        self.question = question
        self.history = history
        self.kw = kw
    def generate_output(self):
        label = -1
        if self.kw:
            key = self.kw
        else:
            key = self.history[-2]
        if key == 'select':
            label = self.sql[0] # check sql: (agg_id, val_unit)
        elif key == 'orderBy':
            label = self.sql[1][0] # check sql: val_unit1
        elif key == 'having':
            label = self.sql[2][1][0] # check sql: cond_unit
        else: # ADDED
            print("\n Unexpected pre-agg key: ", key)
            exit()
        return self.history, label

# TODO: check why not RootTemPredictor

# class RootTemPredictor:
#     def __init__(self, question, sql):
#         self.sql = sql
#         self.question = question
#         self.keywords = ('intersect', 'except', 'union')
#
#     def generate_output(self):
#         for key in self.sql:
#             if key in self.keywords:
#                 return ['ROOT'], key, self.sql[key]
#         return ['ROOT'], 'none', self.sql


# history added orderBy only one col and agg! TODO: CHECK multiple orderBy columns
class DesAscPredictor:
    def __init__(self, question, sql, table, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.table = table

    def generate_output(self):
        for key in self.sql: # check sql: whole sql
            if key == "orderBy" and self.sql[key]:
                # self.history.append(key)
                try:
                    col = self.sql[key][1][0][1][1] # w
                except:
                    print("question:{} sql:{}".format(self.question, self.sql))
                # self.history.append(index_to_column_name(col, self.table))
                # self.history.append(self.sql[key][1][0][1][0])
                if self.sql[key][0] == "asc" and self.sql["limit"]: # TODO: get limit value and labels
                    label = 0
                elif self.sql[key][0] == "asc" and not self.sql["limit"]:
                    label = 1
                elif self.sql[key][0] == "desc" and self.sql["limit"]:
                    label = 2
                else:
                    label = 3                                           # agg_id in col_unit of val_unit in orderBy
                return self.history+[index_to_column_name(col, self.table), self.sql[key][1][0][1][0]], label


class AndOrPredictor:
    def __init__(self, question, sql, table, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.table = table

    def generate_output(self):
        if 'where' in self.sql and self.sql['where'] and len(self.sql['where']) > 1:
            return self.history, COND_OPS[self.sql['where'][1]]
        return self.history,-1
    
    
def get_table_dict(table_data_path):
    data = json.load(open(table_data_path))
    table = dict()
    for item in data:
        table[item["db_id"]] = item
    return table

In [4]:
def parse_data_full_history(question_tokens, sql, table, history):
    table_schema = [
        table["table_names"],
        table["column_names"],
        table["column_types"]
    ]
    full_labels = []
    masks = [COMPONENTS_DICT['multi_sql']]
    stack = [("root", sql)]
    with_join = False
    fk_dict = defaultdict(list)
    for fk in table["foreign_keys"]:
        fk_dict[fk[0]].append(fk[1])
        fk_dict[fk[1]].append(fk[0])
    while len(stack) > 0:
        node = stack.pop()
        if node[0] == "root":
            if len(masks) > 1:
                masks.append(COMPONENTS_DICT['root_tem'])
                full_labels.append(-1)
            history, label, sql = MultiSqlPredictor(question_tokens, node[1], history).generate_output()
            full_labels.append(SQL_OPS[label])
            history.append(label)
            if label == "none":
                stack.append((label, sql))
                masks.append(COMPONENTS_DICT['keyword'])
            else:
                node[1][label] = None
                stack.append((label, node[1], sql)) # TODO: double check
                masks.append(COMPONENTS_DICT['multi_sql'])
                # if label != "none":
                # stack.append(("none",node[1]))
        elif node[0] in ('intersect', 'except', 'union'):
            stack.append(("root", node[1]))
            stack.append(("root", node[2]))
        elif node[0] == "none":
            with_join = len(node[1]["from"]["table_units"]) > 1
            history, label, sql = KeyWordPredictor(question_tokens, node[1], history).generate_output()
            # full_labels.append(label)
            # [len(sql_keywords), sql_keywords]

            label_idxs = []
            for item in label[1]:
                if item in KW_DICT:
                    label_idxs.append(KW_DICT[item])
            label_idxs.sort()
            full_labels.append(label_idxs)

            if "orderBy" in label[1]:
                stack.append(("orderBy", node[1]))
            if "groupBy" in label[1]:
                has_having = "having" in label[1]

                stack.append(("groupBy", node[1], has_having))
            if "where" in label[1]:
                stack.append(("where", node[1]))
            if "select" in label[1]:
                stack.append(("select", node[1]))

        elif node[0] in ("select", "having", "orderBy"):
            # if node[0] != "orderBy":
            history.append(node[0])
            masks.append(COMPONENTS_DICT['col'])

            col_ret = ColPredictor(question_tokens, node[1], table, history, node[0]).generate_output()
            agg_col_dict = dict()
            op_col_dict = dict()
            if len(col_ret) > 1:
                print("\nWarning: why return more than one col_ret!")
                exit()
            # history + [key], (len(cols), cols), sqls
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("\nWarning: predicted 0 columns!")
                    exit()

                full_labels.append(get_label_cols(with_join, fk_dict, l[1]))
                for col, sql_item in zip(l[1], s):
                    key = "{}{}{}".format(col[0][0], col[0][1], col[0][2]) #table_name, column_name, index
                    # sql_item: (agg_id, val_unit)/select, val_unit1/orderBy, col_unit1/groupBy, cond_unit/where/having
                    if key not in agg_col_dict:
                        agg_col_dict[key] = [(sql_item, col[0])]
                    else:
                        agg_col_dict[key].append((sql_item, col[0])) # for the same col with multiple agg
                    if key not in op_col_dict:
                        op_col_dict[key] = [(sql_item, col[0])]
                    else:
                        op_col_dict[key].append((sql_item, col[0]))
                for key in agg_col_dict:
                    stack.append(("col", node[0], agg_col_dict[key], op_col_dict[key]))
        elif node[0] == "col":
            # full_labels.append(node[2][-1])
            history.append(node[2][0][1])
            if node[1] == "where":
                # stack.append(("value", node[2], "where"))
                stack.append(("op", node[2], "where"))
                # masks.append(COMPONENTS_DICT['op'])
            elif node[1] != "groupBy":
                labels = []
                for sql_item, col in node[2]:
                    _, label = AggPredictor(question_tokens, sql_item, history, node[1]).generate_output()
                    if label - 1 >= 0:
                        labels.append(label - 1) # TODO: check why -1

                # print(node[2][0][1][2])
                masks.append(COMPONENTS_DICT['agg'])
                full_labels.append(labels[:min(len(labels), 3)])

                if node[1] == "having":
                    # stack.append(("value", node[2], "having"))
                    stack.append(("op", node[2], "having"))
                if node[1] == "orderBy":
                    stack.append(("des_asc", sql))

                if len(labels) > 0:
                    history.append(AGG_OPS[labels[0] + 1])

        elif node[0] == "des_asc":
            orderby_ret = DesAscPredictor(question_tokens, node[1], table, history).generate_output()

            if not orderby_ret:
                continue
            masks.append(COMPONENTS_DICT['des_asc'])
            # print(node[1])
            history.append(orderby_ret[1])
            full_labels.append(orderby_ret[1])
            if len(stack) > 0:
                masks.append(-1)
        elif node[0] == "value":
            masks.append([COMPONENTS_DICT['value'],COMPONENTS_DICT['root_tem']])
            val1 = node[1][3]
            val2 = node[1][4]
            if val2:
                if len(stack) > 0:
                    masks.append(-1)
                full_labels.append([1,[val1,val2]])
                history.append([val1,val2])
            else:
                if len(stack) > 0:
                    masks.append(-1)
                full_labels.append([1,[val1]])
                history.append([val1])

        elif node[0] == "op":
            labels = []

            for sql_item, col in node[1]:
                _, label, s = OpPredictor(question_tokens, sql_item, history).generate_output()
                if label != -1:
                    labels.append(label)
                    history.append(NEW_WHERE_OPS[label])

                # masks.append(COMPONENTS_DICT['root_tem'])
                if isinstance(s[0], dict):
                    stack.append(("root", s[0]))
                    masks.append(COMPONENTS_DICT['root_tem'])
                    full_labels.append([0,[]])
                else:
                    stack.append(("value",sql_item))

            if len(labels) > 2:
                print(question_tokens)

            masks.append(COMPONENTS_DICT['op'])
            full_labels.append(labels)
        elif node[0] == "where":
            history.append(node[0])
            hist, andor_label = AndOrPredictor(question_tokens, node[1], table, history).generate_output()

            col_ret = ColPredictor(question_tokens, node[1], table, history, "where").generate_output()
            masks.append(COMPONENTS_DICT['col'])
            op_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue

                label = get_label_cols(with_join, fk_dict, l[1])
                if len(label) > 1:
                    full_labels.append([label,[andor_label]])
                    masks.append([COMPONENTS_DICT['col'],COMPONENTS_DICT['andor']])
                else:
                    full_labels.append([label,[]])
                    masks.append([COMPONENTS_DICT['col'], COMPONENTS_DICT['andor']])
                # full_labels.append()
                for col, sql_item in zip(l[1], s):
                    key = "{}{}{}".format(col[0][0], col[0][1], col[0][2])
                    if key not in op_col_dict:
                        op_col_dict[key] = [(sql_item, col[0])]
                    else:
                        op_col_dict[key].append((sql_item, col[0]))
                for key in op_col_dict:
                    stack.append(("col", "where", op_col_dict[key]))
        elif node[0] == "groupBy":
            history.append(node[0])
            col_ret = ColPredictor(question_tokens, node[1], table, history, node[0]).generate_output()
            masks.append(COMPONENTS_DICT['col'])
            # agg_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue

                full_labels.append(get_label_cols(with_join, fk_dict, l[1]))
                if node[2]:
                    stack.append(("having", node[1]))
                    full_labels.append(1)
                    masks.append(COMPONENTS_DICT['having'])
                else:
                    full_labels.append(0)
                    masks.append(COMPONENTS_DICT['having'])

    return history,full_labels,masks

In [20]:
def replace_value(conditions,nl,mp):
    for cond in conditions:
        for i,value in enumerate(cond):
            if i < 3:
                continue
            if not value or isinstance(value,dict):
                continue
            old_value = value
            if isinstance(value,str):
                if value[0] in ('\'','\"'):
                    value = value[1:-1]
                value = value.split()
            else:
                value = [value]
            try:
                new_val = 'VALUE_{}'.format(len(mp))
                cond[i] = new_val
                mp.append(old_value)
                if isinstance(value[0],str):
                    idx = nl.index(value[0])
                else:
                    idx = -1
                    for i in range(len(nl)):
                        if nl[i].isdigit() and (float(nl[i]) == value[0]):
                            idx = i
                            break
                    if idx == -1:
                        # print(old_value)
                        # print(nl)
                        continue
                nl = nl[:idx] + [new_val] + nl[idx+len(value):]
            except Exception:
                # print(old_value)
                # print(nl)
                continue
    return conditions,nl

def replace_nl(sql,nl):
    mp = []
    sql["where"],nl = replace_value(sql["where"],nl,mp)
    sql["having"],nl = replace_value(sql["having"],nl,mp)
    d = {}
    for i,val in enumerate(mp):
        d["VALUE_{}".format(i)] = val
    return d,sql,nl

def parse_data_new_format(data, table_dict):
    dataset = []
    for item in data:
        mp,sql,nl = replace_nl(item["sql"],item["question_toks"])
        history,labels,masks = parse_data_full_history(nl, sql, table_dict[item["db_id"]], [])
        
#         assert len(history) == len(labels) == len(masks)
        print('\n-------------------------------')
        print('len of hisotry: ', len(history), 'len of labels: ', len(labels), "len of masks: ", len(masks))
        print("query  : ", item['query'])
        print("history: ", history)
        print("masks   : ", masks)
        print("label  : ", labels)
        dataset.append({
            "history":history,
            "label":labels,
            "mask":masks,
            "map":mp,
            "nl":nl
        })

In [21]:
data_path = '../../SyntaxSQL/data/dev.json'
table_data_path = '../../SyntaxSQL/data/tables.json'
data = json.load(open(data_path))
table_dict = get_table_dict(table_data_path)
parse_data_new_format(data, table_dict)

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM singer
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM singer
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT name ,  country ,  age FROM singer ORDER BY age DESC
history:  ['root', 'none', 'select', ('singer', 'age', 13), ('singer', 'country', 10), ('singer', 'name', 9), 'orderBy', ('singer', 'age', 13), 3]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6]
label  :  [0, [2], [9, 10, 13], [], [], [], [13], [], 3]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT name ,  country ,  age FROM singer ORDER BY age DESC
history:  ['root', 'none', 'select', ('singer', 'age', 13), ('singer', 'country', 10), ('singer', 'name', 9), 'orderBy', ('singer', 'age', 13), 3]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6]
label  :  [0, [2], [9, 10, 13], [], [], [], [13], [], 3]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
history:  ['root', 'none', 'select', ('singer', 'age', 13), 'avg', 'where', ('singer', 'country', 10), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [13], [4, 1, 0], [[10], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
history:  ['root', 'none', 'select', ('singer', 'age', 13), 'avg', 'where', ('singer', 'country', 10), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [13], [4, 1, 0], [[10], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
history:  ['root', 'none', 'select', ('singer', 'song release year', 12), ('singer', 'song name', 11), 'orderBy', ('singer', 'age', 13), 0]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [11, 12], [], [], [13], [], 0]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
history:  ['root', 'none', 'select', ('singer', 'song release year', 12), ('singer', 'song name', 11), 'orderBy', ('singer', 'age', 13), 0]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [11, 12], [], [], [13], [], 0]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT country FROM singer WHERE age  >  20
history:  ['root', 'none', 'select', ('singer', 'country', 10), 'where', ('singer', 'age', 13), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [10], [], [[13], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT country FROM singer WHERE age  >  20
history:  ['root', 'none', 'select', ('singer', 'country', 10), 'where', ('singer', 'age', 13), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [10], [], [[13], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT country ,  count(*) FROM singer GROUP BY country
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('singer', 'country', 10), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 10], [2], [], [10], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT country ,  count(*) FROM singer GROUP BY country
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('singer', 'country', 10), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 10], [2], [], [10], 0]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
history:  ['root', 'none', 'select', ('singer', 'song name', 11), 'where', ('singer', 'age', 13), '>', 'root', 'none', 'select', ('singer', 'age', 13), 'avg']
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [11], [], [[13], []], [0, []], [1], -1, 0, [], [13], [4]]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
history:  ['root', 'none', 'select', ('singer', 'song name', 11), 'where', ('singer', 'age', 13), '>', 'root', 'none', 'select', ('singer', 'age', 13), 'avg']
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [11], [], [[13], []], [0, []], [1], -1, 0, [], [13], [4]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
history:  ['root', 'none', 'select', ('stadium', 'name', 3), ('stadium', 'location', 2), 'where', ('stadium', 'capacity', 4), 'between', ['VALUE_0', 'VALUE_1']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2, 3], [], [], [[4], []], [9], [1, ['VALUE_0', 'VALUE_1']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
history:  ['root', 'none', 'select', ('stadium', 'name', 3), ('stadium', 'location', 2), 'where', ('stadium', 'capacity', 4), 'between', ['VALUE_0', 'VALUE_1']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2, 3], [], [], [[4], []], [9], [1, ['VALUE_0', 'VALUE_1']]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT avg(capacity) ,  max(capacity) FROM stadium
history:  ['root', 'none', 'select', ('stadium', 'capacity', 4), 'avg']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [4], [4, 0]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT avg(capacity) ,  max(capacity) FROM stadium
history:  ['root', 'none', 'select', ('stadium', 'capacity', 4), 'avg']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [4], [4, 0]]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
history:  ['root', 'none', 'select', ('stadium', 'capacity', 4), ('stadium', 'name', 3), 'orderBy', ('stadium', 'average', 7), 2]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [3, 4], [], [], [7], [], 2]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
history:  ['root', 'none', 'select', ('stadium', 'capacity', 4), ('stadium', 'name', 3), 'orderBy', ('stadium', 'average', 7), 2]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [3, 4], [], [], [7], [], 2]

-------------------------------
len of hisotry:  11 len of labels:  8 len of masks:  10
query  :  SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', 'where', ('concert', 'year', 19), '=', '=', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [0], [2], [[19], []], [0, 0], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  8 len of masks:  10
query  :  SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', 'where', ('concert', 'year', 19), '=', '=', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [0], [2], [[19], []], [0, 0], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('stadium', 'name', 3), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 3], [2], [], [[18, 1]], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('stadium', 'name', 3), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 3], [2], [], [[18, 1]], 0]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('stadium', 'capacity', 4), ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '>=', ['VALUE_0'], 'groupBy', 'orderBy', ('singer in concert', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7, 2, 4, 6]
label  :  [0, [0, 1, 2], [3, 4], [], [], [[19], []], [3], [1, ['VALUE_0']], [[1, 18]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('stadium', 'capacity', 4), ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '>=', ['VALUE_0'], 'groupBy', 'orderBy', ('singer in concert', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7, 2, 4, 6]
label  :  [0, [0, 1, 2], [3, 4], [], [], [[19], []], [3], [1, ['VALUE_0']], [[1, 18]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('concert', 'year', 19), 'groupBy', 'orderBy', ('singer in concert', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [19], [], [19], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('concert', 'year', 19), 'groupBy', 'orderBy', ('singer in concert', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [19], [], [19], 0, [0], [2], 2]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
history:  ['root', 'none', 'select', ('stadium', 'name', 3), 'where', ('stadium', 'stadium id', 1), 'not in', 'root', 'none', 'select', ('concert', 'stadium id', 18)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [3], [], [[1], []], [0, []], [7], -1, 0, [], [18], []]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
history:  ['root', 'none', 'select', ('stadium', 'name', 3), 'where', ('stadium', 'stadium id', 1), 'not in', 'root', 'none', 'select', ('concert', 'stadium id', 18)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [3], [], [[1], []], [0, []], [7], -1, 0, [], [18], []]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
history:  ['root', 'intersect', 'root', 'none', 'select', ('singer', 'country', 10), 'where', ('singer', 'age', 13), '<', [30.0], 'root', 'none', 'select', ('singer', 'country', 10), 'where', ('singer', 'age', 13), '>', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [10], [], [[13], []], [2], [1, [30.0]], -1, 0, [0], [10], [], [[13], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  14 len of labels:  14 len of masks:  15
query  :  SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
history:  ['root', 'except', 'root', 'none', 'select', ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '=', [2014.0], 'root', 'none', 'select', ('stadium', 'name', 3)]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4]
label  :  [3, -1, 0, [0], [3], [], [[19], []], [0], [1, [2014.0]], -1, 0, [], [3], []]

-------------------------------
len of hisotry:  14 len of labels:  14 len of masks:  15
query  :  SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
history:  ['root', 'except', 'root', 'none', 'select', ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '=', [2014.0], 'root', 'none', 'select', ('stadium', 'name', 3)]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4]
label  :  [3, -1, 0, [0], [3], [], [[19], []], [0], [1, [2014.0]], -1, 0, [], [3], []]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('concert', 'theme', 17), ('concert', 'concert name', 16), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 4, 2, 7]
label  :  [0, [1], [16, 17, 0], [2], [], [], [[15, 20]], 0]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('concert', 'theme', 17), ('concert', 'concert name', 16), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 4, 2, 7]
label  :  [0, [1], [16, 17, 0], [2], [], [], [[15, 20]], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('singer', 'name', 9), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 9], [2], [], [[8, 21]], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', ('singer', 'name', 9), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 9], [2], [], [[8, 21]], 0]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
history:  ['root', 'none', 'select', ('singer', 'name', 9), 'where', ('concert', 'year', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
history:  ['root', 'none', 'select', ('singer', 'name', 9), 'where', ('concert', 'year', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
history:  ['root', 'none', 'select', ('singer', 'country', 10), ('singer', 'name', 9), 'where', ('singer', 'song name', 11), 'like', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9, 10], [], [], [[11], []], [6], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
history:  ['root', 'none', 'select', ('singer', 'country', 10), ('singer', 'name', 9), 'where', ('singer', 'song name', 11), 'like', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9, 10], [], [], [[11], []], [6], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  20 len of labels:  19 len of masks:  21
query  :  SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
history:  ['root', 'intersect', 'root', 'none', 'select', ('stadium', 'location', 2), ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '=', [2015.0], 'root', 'none', 'select', ('stadium', 'location', 2), ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [2, 3], [], [], [[19], []], [0], [1, [2015.0]], -1, 0, [0], [2, 3], [], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  20 len of labels:  19 len of masks:  21
query  :  SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
history:  ['root', 'intersect', 'root', 'none', 'select', ('stadium', 'location', 2), ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '=', [2015.0], 'root', 'none', 'select', ('stadium', 'location', 2), ('stadium', 'name', 3), 'where', ('concert', 'year', 19), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [2, 3], [], [], [[19], []], [0], [1, [2015.0]], -1, 0, [0], [2, 3], [], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  7
query  :  SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
history:  ['root', 'none', 'select', ('singer in concert', '*', 0), 'count', 'orderBy', ('stadium', 'capacity', 4), 2]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [0], [2], [4], [], 2]

-------------------------------

len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT max(Accelerate) ,  Cylinders FROM CARS_DATA GROUP BY Cylinders;
history:  ['root', 'none', 'select', ('cars data', 'cylinders', 18), ('cars data', 'accelerate', 22), 'max', 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [18, 22], [], [0], [18], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT Model FROM CAR_NAMES GROUP BY Model ORDER BY count(*) DESC LIMIT 1;
history:  ['root', 'none', 'select', ('car names', 'model', 14), 'groupBy', 'orderBy', ('cars data', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [14], [], [14], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT Model FROM CAR_NAMES GROUP BY Model ORDER BY count(*) DESC LIMIT 1;
history:  ['root', 'none', 'select', ('car names', 'model', 14), 'groupBy', 'orderBy', ('cars data', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [14], [], [14], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM CARS_DATA WHERE Cylinders  >  4;
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'cylinders', 18), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM CARS_DATA WHERE Cylinders  >  4;
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'cylinders', 18), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM CARS_DATA WHERE YEAR  =  1980;
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'year', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[23], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM CARS_DATA WHERE YEAR  =  1980;
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'year', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[23], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker WHERE T1.FullName  =  'American Motor Company';
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('car makers', 'full name', 8), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[8], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker WHERE T1.FullName  =  'American Motor Company';
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('car makers', 'full name', 8), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[8], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  11
query  :  SELECT T1.FullName ,  T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >  3;
history:  ['root', 'none', 'select', ('car makers', 'id', 6), ('car makers', 'full name', 8), 'groupBy', 'having', ('cars data', '*', 0), 'count', '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [8, [6, 11]], [], [], [[6, 11]], 1, [0], [2], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  11
query  :  SELECT T1.FullName ,  T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >  3;
history:  ['root', 'none', 'select', ('car makers', 'id', 6), ('car makers', 'full name', 8), 'groupBy', 'having', ('cars data', '*', 0), 'count', '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [8, [6, 11]], [], [], [[6, 11]], 1, [0], [2], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT DISTINCT T2.Model FROM CAR_NAMES AS T1 JOIN MODEL_LIST AS T2 ON T1.Model  =  T2.Model JOIN CAR_MAKERS AS T3 ON T2.Maker  =  T3.Id JOIN CARS_DATA AS T4 ON T1.MakeId  =  T4.Id WHERE T3.FullName  =  'General Motors' OR T4.weight  >  3500;
history:  ['root', 'none', 'select', ('model list', 'model', 12), 'where', ('cars data', 'weight', 21), '>', ['VALUE_1'], ('car makers', 'full name', 8), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [[12, 14]], [], [[8, 21], [1]], [1], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT DISTINCT T2.Model FROM CAR_NAMES AS T1 JOIN MODEL_LIST AS T2 ON T1.Model  =  T2.Model JOIN CAR_MAKERS AS T3 ON T2.Maker  =  T3.Id JOIN CARS_DATA AS T4 ON T1.MakeId  =  T4.Id WHERE T3.FullName  =  'General Motors' OR T4.weight  >  3500;
history:  ['root', 'none', 'select', ('model list', 'model', 12), 'where', ('cars data', 'weight', 21), '>', ['VALUE_1'], ('car makers', 'full name', 8), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [[12, 14]], [], [[8, 21], [1]], [1], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT DISTINCT T1.Year FROM CARS_DATA AS T1 WHERE T1.Weight  >  3000 AND T1.weight  <  4000;
history:  ['root', 'none', 'select', ('cars data', 'year', 23), 'where', ('cars data', 'weight', 21), '>', '<', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [23], [], [[21], []], [1, 2], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT DISTINCT T1.Year FROM CARS_DATA AS T1 WHERE T1.Weight  >  3000 AND T1.weight  <  4000;
history:  ['root', 'none', 'select', ('cars data', 'year', 23), 'where', ('cars data', 'weight', 21), '>', '<', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [23], [], [[21], []], [1, 2], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T1.horsepower FROM CARS_DATA AS T1 ORDER BY T1.accelerate DESC LIMIT 1;
history:  ['root', 'none', 'select', ('cars data', 'horsepower', 20), 'orderBy', ('cars data', 'accelerate', 22), 2]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [20], [], [22], [], 2]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T1.horsepower FROM CARS_DATA AS T1 ORDER BY T1.accelerate DESC LIMIT 1;
history:  ['root', 'none', 'select', ('cars data', 'horsepower', 20), 'orderBy', ('cars data', 'accelerate', 22), 2]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [20], [], [22], [], 2]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT T1.cylinders FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T2.Model  =  'volvo' ORDER BY T1.accelerate ASC LIMIT 1;
history:  ['root', 'none', 'select', ('cars data', 'cylinders', 18), 'where', ('car names', 'model', 14), '=', ['VALUE_0'], 'orderBy', ('cars data', 'accelerate', 22), 0]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [18], [], [[[14, 12]], []], [0], [1, ['VALUE_0']], [22], [], 0]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT T1.cylinders FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T2.Model  =  'volvo' ORDER BY T1.accelerate ASC LIMIT 1;
history:  ['root', 'none', 'select', ('cars data', 'cylinders', 18), 'where', ('car names', 'model', 14), '=', ['VALUE_0'], 'orderBy', ('cars data', 'accelerate', 22), 0]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [18], [], [[[14, 12]], []], [0], [1, ['VALUE_0']], [22], [], 0]

-------------------------------
len of hisotry:  15 len of labels:  15 len of masks:  15
query  :  SELECT COUNT(*) FROM CARS_DATA WHERE Accelerate  >  ( SELECT Accelerate FROM CARS_DATA ORDER BY Horsepower DESC LIMIT 1 );
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'accelerate', 22), '>', 'root', 'none', 'select', ('cars data', 'accelerate', 22), 'orderBy', ('cars data', 'horsepower', 20), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4, 2, 4, 6]
label  :  [0, [0], [0], [2], [[22], []], [0, []], [1], -1, 0, [2], [22], [], [20], [], 2]

-------------------------------
len of hisotry:  15 len of labels:  15 len of masks:  15
query  :  SELECT COUNT(*) FROM CARS_DATA WHERE Accelerate  >  ( SELECT Accelerate FROM CARS_DATA ORDER BY Horsepower DESC LIMIT 1 );
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'accelerate', 22), '>', 'root', 'none', 'select', ('cars data', 'accelerate', 22), 'orderBy', ('cars data', 'horsepower', 20), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4, 2, 4, 6]
label  :  [0, [0], [0], [2], [[22], []], [0, []], [1], -1, 0, [2], [22], [], [20], [], 2]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT COUNT(*) FROM ( SELECT T1.CountryId ,  COUNT(*) FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >  2 );
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT COUNT(*) FROM ( SELECT T1.CountryId ,  COUNT(*) FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >  2 );
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders  >  6;
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'cylinders', 18), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders  >  6;
history:  ['root', 'none', 'select', ('cars data', '*', 0), 'count', 'where', ('cars data', 'cylinders', 18), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.Cylinders  =  4 ORDER BY T2.horsepower DESC LIMIT 1;
history:  ['root', 'none', 'select', ('car names', 'model', 14), 'where', ('cars data', 'cylinders', 18), '=', ['VALUE_0'], 'orderBy', ('cars data', 'horsepower', 20), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [[14, 12]], [], [[18], []], [0], [1, ['VALUE_0']], [20], [], 2]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.Cylinders  =  4 ORDER BY T2.horsepower DESC LIMIT 1;
history:  ['root', 'none', 'select', ('car names', 'model', 14), 'where', ('cars data', 'cylinders', 18), '=', ['VALUE_0'], 'orderBy', ('cars data', 'horsepower', 20), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [[14, 12]], [], [[18], []], [0], [1, ['VALUE_0']], [20], [], 2]

-------------------------------
len of hisotry:  16 len of labels:  15 len of masks:  16
query  :  SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Horsepower  >  (SELECT min(Horsepower) FROM CARS_DATA) AND T1.Cylinders  <=  3;
history:  ['root', 'none', 'select', ('car names', 'make', 15), ('car names', 'make id', 13), 'where', ('cars data', 'cylinders', 18), '<=', ['VALUE_0'], ('cars data', 'horsepower', 20), '>', 'root', 'none', 'select', ('cars data', 'horsepower', 20), 'min']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [[13, 16], 15], [], [], [[18, 20], [0]], [4], [1, ['VALUE_0']], [0, []], [1], -1, 0, [], [20], [1]]

-------------------------------
len of hisotry:  16 len of labels:  15 len of masks:  16
query  :  SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Horsepower  >  (SELECT min(Horsepower) FROM CARS_DATA) AND T1.Cylinders  <=  3;
history:  ['root', 'none', 'select', ('car names', 'make', 15), ('car names', 'make id', 13), 'where', ('cars data', 'cylinders', 18), '<=', ['VALUE_0'], ('cars data', 'horsepower', 20), '>', 'root', 'none', 'select', ('cars data', 'horsepower', 20), 'min']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [[13, 16], 15], [], [], [[18, 20], [0]], [4], [1, ['VALUE_0']], [0, []], [1], -1, 0, [], [20], [1]]

-------------------------------
len of hisotry:  14 len of labels:  12 len of masks:  15
query  :  SELECT mpg FROM CARS_DATA WHERE Cylinders  =  8 OR YEAR  <  1980 ORDER BY mpg DESC LIMIT 1;
history:  ['root', 'none', 'select', ('cars data', 'mpg', 17), 'where', ('cars data', 'year', 23), '<', ['VALUE_1'], ('cars data', 'cylinders', 18), '=', ['VALUE_0'], 'orderBy', ('cars data', 'mpg', 17), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [17], [], [[18, 23], [1]], [2], [1, ['VALUE_1']], [0], [1, ['VALUE_0']], [17], [], 2]

-------------------------------
len of hisotry:  14 len of labels:  12 len of masks:  15
query  :  SELECT mpg FROM CARS_DATA WHERE Cylinders  =  8 OR YEAR  <  1980 ORDER BY mpg DESC LIMIT 1;
history:  ['root', 'none', 'select', ('cars data', 'mpg', 17), 'where', ('cars data', 'year', 23), '<', ['VALUE_1'], ('cars data', 'cylinders', 18), '=', ['VALUE_0'], 'orderBy', ('cars data', 'mpg', 17), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [17], [], [[18, 23], [1]], [2], [1, ['VALUE_1']], [0], [1, ['VALUE_0']], [17], [], 2]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.Model  =  T2.Model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.Id JOIN CAR_MAKERS AS T4 ON T1.Maker  =  T4.Id WHERE T3.weight  <  3500 AND T4.FullName ! =  'Ford Motor Company';
history:  ['root', 'none', 'select', ('model list', 'model', 12), 'where', ('car makers', 'full name', 8), '!=', ['VALUE_1'], ('cars data', 'weight', 21), '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [[12, 14]], [], [[8, 21], [0]], [5], [1, ['VALUE_1']], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.Model  =  T2.Model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.Id JOIN CAR_MAKERS AS T4 ON T1.Maker  =  T4.Id WHERE T3.weight  <  3500 AND T4.FullName ! =  'Ford Motor Company';
history:  ['root', 'none', 'select', ('model list', 'model', 12), 'where', ('car makers', 'full name', 8), '!=', ['VALUE_1'], ('cars data', 'weight', 21), '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [[12, 14]], [], [[8, 21], [0]], [5], [1, ['VALUE_1']], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  11 len of masks:  10
query  :  SELECT CountryName FROM countries EXCEPT SELECT T1.CountryName FROM countries AS T1 JOIN CAR_MAKERS AS T2 ON T1.countryId  =  T2.Country;
history:  ['root', 'except', 'root', 'none', 'select', ('countries', 'country name', 4), 'root', 'none', 'select', ('countries', 'country name', 4)]
masks   :  [0, 0, 5, 1, 2, 4, 5, 1, 2, 4]
label  :  [3, -1, 0, [], [4], [], -1, 0, [], [4], []]

-------------------------------
len of hisotry:  10 len of labels:  11 len of masks:  10
query  :  SELECT CountryName FROM countries EXCEPT SELECT T1.CountryName FROM countries AS T1 JOIN CAR_MAKERS AS T2 ON T1.countryId  =  T2.Country;
history:  ['root', 'except', 'root', 'none', 'select', ('countries', 'country name', 4), 'root', 'none', 'select', ('countries', 'country name', 4)]
masks   :  [0, 0, 5, 1, 2, 4, 5, 1, 2, 4]
label  :  [3, -1, 0, [], [4], [], -1, 0, [], [4], []]

-------------------------------
len of hisotry:  24 len of labels:  25 len of masks:  25
query  :  SELECT T1.Id ,  T1.Maker FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >=  2 INTERSECT SELECT T1.Id ,  T1.Maker FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker JOIN CAR_NAMES AS T3 ON T2.model  =  T3.model GROUP BY T1.Id HAVING count(*)  >  3;
history:  ['root', 'intersect', 'root', 'none', 'select', ('car makers', 'maker', 7), ('car makers', 'id', 6), 'groupBy', 'having', ('cars data', '*', 0), 'count', '>', [3.0], 'root', 'none', 'select', ('car makers', 'maker', 7), ('car makers', 'id', 6), 'groupBy', 'having', ('cars data', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5], -1, 5, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [1, -1, 0, [1], [[6, 11], 7], [], [], [[6, 11]], 1, [0], [2], [1], [1, [3.0]], -1, 0, [1], [[6, 11], 7], [], [], [[6, 11]], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  24 len of labels:  25 len of masks:  25
query  :  SELECT T1.Id ,  T1.Maker FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >=  2 INTERSECT SELECT T1.Id ,  T1.Maker FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker JOIN CAR_NAMES AS T3 ON T2.model  =  T3.model GROUP BY T1.Id HAVING count(*)  >  3;
history:  ['root', 'intersect', 'root', 'none', 'select', ('car makers', 'maker', 7), ('car makers', 'id', 6), 'groupBy', 'having', ('cars data', '*', 0), 'count', '>', [3.0], 'root', 'none', 'select', ('car makers', 'maker', 7), ('car makers', 'id', 6), 'groupBy', 'having', ('cars data', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5], -1, 5, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [1, -1, 0, [1], [[6, 11], 7], [], [], [[6, 11]], 1, [0], [2], [1], [1, [3.0]], -1, 0, [1], [[6, 11], 7], [], [], [[6, 11]], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  22 len of labels:  22 len of masks:  23

-------------------------------
len of hisotry:  11 len of labels:  8 len of masks:  10
query  :  SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('airports', 'city', 5), '=', '=', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [0], [2], [[5], []], [0, 0], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('flights', 'destination airport', 13), '=', ['VALUE_1'], ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2, [13, 6]], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('flights', 'destination airport', 13), '=', ['VALUE_1'], ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2, [13, 6]], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('flights', 'source airport', 12), '=', ['VALUE_1'], ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2, [12, 6]], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('flights', 'source airport', 12), '=', ['VALUE_1'], ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2, [12, 6]], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('airlines', 'airline name', 2), '=', ['VALUE_1'], ('airports', 'city', 5), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2, 5], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"
history:  ['root', 'none', 'select', ('flights', '*', 0), 'count', 'where', ('airlines', 'airline name', 2), '=', ['VALUE_1'], ('airports', 'city', 5), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[2, 5], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'city', 5), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'city', 5), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'city', 5), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'city', 5), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'airport code', 6), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[6, 13, 12]], [], [[6, 13, 12]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'airport code', 6), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[6, 13, 12]], [], [[6, 13, 12]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'airport code', 6), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[6, 13, 12]], [], [[6, 13, 12]], 0, [0], [2], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1
history:  ['root', 'none', 'select', ('airports', 'airport code', 6), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[6, 13, 12]], [], [[6, 13, 12]], 0, [0], [2], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [2], [], [2], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [2], [], [2], 0, [0], [2], 2]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) LIMIT 1
history:  ['root', 'none', 'select', ('airlines', 'country', 4), ('airlines', 'abbreviation', 3), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [3, 4], [], [], [2], 0, [0], [2], 0]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) LIMIT 1
history:  ['root', 'none', 'select', ('airlines', 'country', 4), ('airlines', 'abbreviation', 3), 'groupBy', 'orderBy', ('flights', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [3, 4], [], [], [2], 0, [0], [2], 0]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2], [], [[[12, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2], [], [[[12, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'destination airport', 13), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2], [], [[[13, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'destination airport', 13), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2], [], [[[13, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"
history:  ['root', 'intersect', 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['"CVO"'], 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['"CVO"']], -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"
history:  ['root', 'intersect', 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['"CVO"'], 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['"CVO"']], -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO" EXCEPT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"
history:  ['root', 'except', 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['"APG"'], 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [3, -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['"APG"']], -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO" EXCEPT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"
history:  ['root', 'except', 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['"APG"'], 'root', 'none', 'select', ('airlines', 'airline name', 2), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [3, -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['"APG"']], -1, 0, [0], [2], [], [[[12, 6]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  >  10
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'groupBy', 'having', ('flights', '*', 0), 'count', '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [2], [], [2], 1, [0], [2], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  >  10
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'groupBy', 'having', ('flights', '*', 0), 'count', '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [2], [], [2], 1, [0], [2], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  <  200
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'groupBy', 'having', ('flights', '*', 0), 'count', '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [2], [], [2], 1, [0], [2], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  <  200
history:  ['root', 'none', 'select', ('airlines', 'airline name', 2), 'groupBy', 'having', ('flights', '*', 0), 'count', '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [2], [], [2], 1, [0], [2], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"
history:  ['root', 'none', 'select', ('flights', 'flight number', 11), 'where', ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"
history:  ['root', 'none', 'select', ('flights', 'flight number', 11), 'where', ('airlines', 'airline name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT FlightNo FROM FLIGHTS WHERE SourceAirport  =  "APG"
history:  ['root', 'none', 'select', ('flights', 'flight number', 11), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[12], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT FlightNo FROM FLIGHTS WHERE SourceAirport  =  "APG"
history:  ['root', 'none', 'select', ('flights', 'flight number', 11), 'where', ('flights', 'source airport', 12), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[12], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT FlightNo FROM FLIGHTS WHERE DestAirport  =  "APG"
history:  ['root', 'none', 'select', ('flights', 'flight number', 11), 'where', ('flights', 'destination airport', 13), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]

len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT version_number ,  template_type_code FROM Templates WHERE version_number  >  5
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), ('templates', 'version number', 4), 'where', ('templates', 'version number', 4), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [4, 5], [], [], [[4], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT version_number ,  template_type_code FROM Templates WHERE version_number  >  5
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), ('templates', 'version number', 4), 'where', ('templates', 'version number', 4), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [4, 5], [], [], [[4], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT template_type_code ,  count(*) FROM Templates GROUP BY template_type_code
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('templates', 'template type code', 5), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 5], [2], [], [5], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT template_type_code ,  count(*) FROM Templates GROUP BY template_type_code
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('templates', 'template type code', 5), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 5], [2], [], [5], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT template_type_code FROM Templates GROUP BY template_type_code ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'groupBy', 'orderBy', ('paragraphs', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT template_type_code FROM Templates GROUP BY template_type_code ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'groupBy', 'orderBy', ('paragraphs', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT template_type_code FROM Templates GROUP BY template_type_code HAVING count(*)  <  3
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'groupBy', 'having', ('paragraphs', '*', 0), 'count', '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [5], [], [5], 1, [0], [2], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT template_type_code FROM Templates GROUP BY template_type_code HAVING count(*)  <  3
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'groupBy', 'having', ('paragraphs', '*', 0), 'count', '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [5], [], [5], 1, [0], [2], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  6 len of labels:  5 len of masks:  5
query  :  SELECT min(Version_Number) ,  template_type_code FROM Templates
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), ('templates', 'version number', 4), 'min']
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [4, 5], [], [1]]

-------------------------------
len of hisotry:  6 len of labels:  5 len of masks:  5
query  :  SELECT min(Version_Number) ,  template_type_code FROM Templates
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), ('templates', 'version number', 4), 'min']
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [4, 5], [], [1]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id WHERE T2.document_name  =  "Data base"
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [[5, 1]], [], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id WHERE T2.document_name  =  "Data base"
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [[5, 1]], [], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T2.document_name FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id WHERE T1.template_type_code  =  "BK"
history:  ['root', 'none', 'select', ('documents', 'document name', 11), 'where', ('templates', 'template type code', 5), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[[5, 1]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T2.document_name FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id WHERE T1.template_type_code  =  "BK"
history:  ['root', 'none', 'select', ('documents', 'document name', 11), 'where', ('templates', 'template type code', 5), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[[5, 1]], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T1.template_type_code ,  count(*) FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('templates', 'template type code', 5), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, [5, 1]], [2], [], [[5, 1]], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT T1.template_type_code ,  count(*) FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('templates', 'template type code', 5), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, [5, 1]], [2], [], [[5, 1]], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'groupBy', 'orderBy', ('paragraphs', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[5, 1]], [], [[5, 1]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('templates', 'template type code', 5), 'groupBy', 'orderBy', ('paragraphs', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[5, 1]], [], [[5, 1]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  10 len of labels:  11 len of masks:  10
query  :  SELECT template_type_code FROM Templates EXCEPT SELECT template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id
history:  ['root', 'except', 'root', 'none', 'select', ('templates', 'template type code', 5), 'root', 'none', 'select', ('templates', 'template type code', 5)]
masks   :  [0, 0, 5, 1, 2, 4, 5, 1, 2, 4]
label  :  [3, -1, 0, [], [[5, 1]], [], -1, 0, [], [5], []]

-------------------------------
len of hisotry:  10 len of labels:  11 len of masks:  10
query  :  SELECT template_type_code FROM Templates EXCEPT SELECT template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id
history:  ['root', 'except', 'root', 'none', 'select', ('templates', 'template type code', 5), 'root', 'none', 'select', ('templates', 'template type code', 5)]
masks   :  [0, 0, 5, 1, 2, 4, 5, 1, 2, 4]
label  :  [3, -1, 0, [], [[5, 1]], [], -1, 0, [], [5], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT template_type_code ,  template_type_description FROM Ref_template_types
history:  ['root', 'none', 'select', ('reference template types', 'template type description', 2), ('reference template types', 'template type code', 1)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [1, 2], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT template_type_code ,  template_type_description FROM Ref_template_types
history:  ['root', 'none', 'select', ('reference template types', 'template type description', 2), ('reference template types', 'template type code', 1)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [1, 2], [], []]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT template_type_description FROM Ref_template_types WHERE template_type_code  =  "AD"
history:  ['root', 'none', 'select', ('reference template types', 'template type description', 2), 'where', ('reference template types', 'template type code', 1), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2], [], [[1], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT template_type_description FROM Ref_template_types WHERE template_type_code  =  "AD"
history:  ['root', 'none', 'select', ('reference template types', 'template type description', 2), 'where', ('reference template types', 'template type code', 1), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [2], [], [[1], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT template_type_code FROM Ref_template_types WHERE template_type_description  =  "Book"
history:  ['root', 'none', 'select', ('reference template types', 'template type code', 1), 'where', ('reference template types', 'template type description', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [1], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT template_type_code FROM Ref_template_types WHERE template_type_description  =  "Book"
history:  ['root', 'none', 'select', ('reference template types', 'template type code', 1), 'where', ('reference template types', 'template type description', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [1], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT T1.template_type_description FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code JOIN Documents AS T3 ON T2.Template_ID  =  T3.template_ID
history:  ['root', 'none', 'select', ('reference template types', 'template type description', 2)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [2], []]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT T1.template_type_description FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code JOIN Documents AS T3 ON T2.Template_ID  =  T3.template_ID
history:  ['root', 'none', 'select', ('reference template types', 'template type description', 2)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [2], []]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T2.template_id FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code WHERE T1.template_type_description  =  "Presentation"
history:  ['root', 'none', 'select', ('templates', 'template id', 3), 'where', ('reference template types', 'template type description', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [[3, 10]], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T2.template_id FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code WHERE T1.template_type_description  =  "Presentation"
history:  ['root', 'none', 'select', ('templates', 'template id', 3), 'where', ('reference template types', 'template type description', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [[3, 10]], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM Paragraphs
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM Paragraphs
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_ID  =  T2.document_ID WHERE T2.document_name  =  'Summer Show'
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_ID  =  T2.document_ID WHERE T2.document_name  =  'Summer Show'
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Other_Details FROM Paragraphs WHERE paragraph_text  =  'Korea'
history:  ['root', 'none', 'select', ('paragraphs', 'other details', 17), 'where', ('paragraphs', 'paragraph text', 16), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [17], [], [[16], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Other_Details FROM Paragraphs WHERE paragraph_text  =  'Korea'
history:  ['root', 'none', 'select', ('paragraphs', 'other details', 17), 'where', ('paragraphs', 'paragraph text', 16), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [17], [], [[16], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT T1.paragraph_id ,   T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.Document_Name  =  'Welcome to NY'
history:  ['root', 'none', 'select', ('paragraphs', 'paragraph text', 16), ('paragraphs', 'paragraph id', 14), 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 14], [], [], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT T1.paragraph_id ,   T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.Document_Name  =  'Welcome to NY'
history:  ['root', 'none', 'select', ('paragraphs', 'paragraph text', 16), ('paragraphs', 'paragraph id', 14), 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 14], [], [], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.document_name  =  "Customer reviews"
history:  ['root', 'none', 'select', ('paragraphs', 'paragraph text', 16), 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16], [], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT T1.paragraph_text FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id WHERE T2.document_name  =  "Customer reviews"
history:  ['root', 'none', 'select', ('paragraphs', 'paragraph text', 16), 'where', ('documents', 'document name', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16], [], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT document_id ,  count(*) FROM Paragraphs GROUP BY document_id ORDER BY document_id
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('paragraphs', 'document id', 15), 'groupBy', 'orderBy', ('paragraphs', 'document id', 15), 1]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [0, 15], [2], [], [15], 0, [15], [], 1]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT document_id ,  count(*) FROM Paragraphs GROUP BY document_id ORDER BY document_id
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('paragraphs', 'document id', 15), 'groupBy', 'orderBy', ('paragraphs', 'document id', 15), 1]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [0, 15], [2], [], [15], 0, [15], [], 1]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT T1.document_id ,  T2.document_name ,  count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id GROUP BY T1.document_id
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('documents', 'document name', 11), ('paragraphs', 'document id', 15), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 4, 2, 7]
label  :  [0, [1], [0, 11, [15, 9]], [2], [], [], [[15, 9]], 0]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT T1.document_id ,  T2.document_name ,  count(*) FROM Paragraphs AS T1 JOIN Documents AS T2 ON T1.document_id  =  T2.document_id GROUP BY T1.document_id
history:  ['root', 'none', 'select', ('paragraphs', '*', 0), 'count', ('documents', 'document name', 11), ('paragraphs', 'document id', 15), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 4, 2, 7]

history:  ['root', 'none', 'select', ('projects', 'name', 4), ('assigned to', '*', 0), 'count', 'where', ('projects', 'hours', 5), '>', ['VALUE_0'], 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7]
label  :  [0, [0, 1], [0, 4], [], [2], [[5], []], [1], [1, ['VALUE_0']], [4], 0]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT count(*) ,  T1.name FROM projects AS T1 JOIN assignedto AS T2 ON T1.code  =  T2.project WHERE T1.hours  >  300 GROUP BY T1.name
history:  ['root', 'none', 'select', ('projects', 'name', 4), ('assigned to', '*', 0), 'count', 'where', ('projects', 'hours', 5), '>', ['VALUE_0'], 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7]
label  :  [0, [0, 1], [0, 4], [], [2], [[5], []], [1], [1, ['VALUE_0']], [4], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT count(*) ,  T1.name FROM scientists AS T1 JOIN assignedto AS T2 ON T1.ssn  =  T2.scientist GROUP BY T1.name
history:  ['root', 'none', 'select', ('scientists', 'name', 2), ('assigned to', '*', 0), 'count', 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 2], [], [2], [2], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT count(*) ,  T1.name FROM scientists AS T1 JOIN assignedto AS T2 ON T1.ssn  =  T2.scientist GROUP BY T1.name
history:  ['root', 'none', 'select', ('scientists', 'name', 2), ('assigned to', '*', 0), 'count', 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 2], [], [2], [2], 0]

-------------------------------
len of hisotry:  13 len of labels:  13 len of masks:  13
query  :  SELECT T3.ssn ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT max(hours) FROM projects)
history:  ['root', 'none', 'select', ('scientists', 'name', 2), ('scientists', 'ssn', 1), 'where', ('projects', 'hours', 5), '=', 'root', 'none', 'select', ('projects', 'hours', 5), 'max']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [[1, 6], 2], [], [], [[5], []], [0, []], [0], -1, 0, [], [5], [0]]

-------------------------------
len of hisotry:  13 len of labels:  13 len of masks:  13
query  :  SELECT T3.ssn ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT max(hours) FROM projects)
history:  ['root', 'none', 'select', ('scientists', 'name', 2), ('scientists', 'ssn', 1), 'where', ('projects', 'hours', 5), '=', 'root', 'none', 'select', ('projects', 'hours', 5), 'max']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [[1, 6], 2], [], [], [[5], []], [0, []], [0], -1, 0, [], [5], [0]]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT T2.name FROM assignedto AS T1 JOIN scientists AS T2 ON T1.scientist  =  T2.ssn
history:  ['root', 'none', 'select', ('scientists', 'name', 2)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [2], []]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT T2.name FROM assignedto AS T1 JOIN scientists AS T2 ON T1.scientist  =  T2.ssn
history:  ['root', 'none', 'select', ('scientists', 'name', 2)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [2], []]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT Name FROM Projects WHERE Code NOT IN (SELECT Project FROM AssignedTo)
history:  ['root', 'none', 'select', ('projects', 'name', 4), 'where', ('projects', 'code', 3), 'not in', 'root', 'none', 'select', ('assigned to', 'project', 7)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [4], [], [[3], []], [0, []], [7], -1, 0, [], [7], []]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT Name FROM Projects WHERE Code NOT IN (SELECT Project FROM AssignedTo)
history:  ['root', 'none', 'select', ('projects', 'name', 4), 'where', ('projects', 'code', 3), 'not in', 'root', 'none', 'select', ('assigned to', 'project', 7)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [4], [], [[3], []], [0, []], [7], -1, 0, [], [7], []]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT Name FROM scientists WHERE ssn NOT IN (SELECT scientist FROM AssignedTo)
history:  ['root', 'none', 'select', ('scientists', 'name', 2), 'where', ('scientists', 'ssn', 1), 'not in', 'root', 'none', 'select', ('assigned to', 'scientist', 6)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [2], [], [[1], []], [0, []], [7], -1, 0, [], [6], []]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT Name FROM scientists WHERE ssn NOT IN (SELECT scientist FROM AssignedTo)
history:  ['root', 'none', 'select', ('scientists', 'name', 2), 'where', ('scientists', 'ssn', 1), 'not in', 'root', 'none', 'select', ('assigned to', 'scientist', 6)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [2], [], [[1], []], [0, []], [7], -1, 0, [], [6], []]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT count(*) FROM scientists WHERE ssn NOT IN (SELECT scientist FROM AssignedTo)
history:  ['root', 'none', 'select', ('assigned to', '*', 0), 'count', 'where', ('scientists', 'ssn', 1), 'not in', 'root', 'none', 'select', ('assigned to', 'scientist', 6)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [0], [2], [[1], []], [0, []], [7], -1, 0, [], [6], []]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT count(*) FROM scientists WHERE ssn NOT IN (SELECT scientist FROM AssignedTo)
history:  ['root', 'none', 'select', ('assigned to', '*', 0), 'count', 'where', ('scientists', 'ssn', 1), 'not in', 'root', 'none', 'select', ('assigned to', 'scientist', 6)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [0], [2], [[1], []], [0, []], [7], -1, 0, [], [6], []]

-------------------------------
len of hisotry:  18 len of labels:  19 len of masks:  18
query  :  SELECT name FROM scientists EXCEPT SELECT T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT max(hours) FROM projects)
history:  ['root', 'except', 'root', 'none', 'select', ('scientists', 'name', 2), 'where', ('projects', 'hours', 5), '=', 'root', 'none', 'select', ('projects', 'hours', 5), 'max', 'root', 'none', 'select', ('scientists', 'name', 2)]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4, 5, 1, 2, 4]
label  :  [3, -1, 0, [0], [2], [], [[5], []], [0, []], [0], -1, 0, [], [5], [0], -1, 0, [], [2], []]

-------------------------------
len of hisotry:  18 len of labels:  19 len of masks:  18
query  :  SELECT name FROM scientists EXCEPT SELECT T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT max(hours) FROM projects)
history:  ['root', 'except', 'root', 'none', 'select', ('scientists', 'name', 2), 'where', ('projects', 'hours', 5), '=', 'root', 'none', 'select', ('projects', 'hours', 5), 'max', 'root', 'none', 'select', ('scientists', 'name', 2)]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4, 5, 1, 2, 4]
label  :  [3, -1, 0, [0], [2], [], [[5], []], [0, []], [0], -1, 0, [], [5], [0], -1, 0, [], [2], []]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  12
query  :  SELECT T1.Name ,  T3.Name ,  T3.Hours FROM Scientists AS T1 JOIN AssignedTo AS T2 ON T1.SSN = T2.Scientist JOIN Projects AS T3 ON T2.Project = T3.Code ORDER BY T3.Name ,  T1.Name
history:  ['root', 'none', 'select', ('projects', 'hours', 5), ('projects', 'name', 4), ('scientists', 'name', 2), 'orderBy', ('scientists', 'name', 2), 1, ('projects', 'name', 4), 1]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6, -1, 4, 6]
label  :  [0, [2], [2, 4, 5], [], [], [], [2, 4], [], 1, [], 1]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  12
query  :  SELECT T1.Name ,  T3.Name ,  T3.Hours FROM Scientists AS T1 JOIN AssignedTo AS T2 ON T1.SSN = T2.Scientist JOIN Projects AS T3 ON T2.Project = T3.Code ORDER BY T3.Name ,  T1.Name
history:  ['root', 'none', 'select', ('projects', 'hours', 5), ('projects', 'name', 4), ('scientists', 'name', 2), 'orderBy', ('scientists', 'name', 2), 1, ('projects', 'name', 4), 1]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6, -1, 4, 6]
label  :  [0, [2], [2, 4, 5], [], [], [], [2, 4], [], 1, [], 1]

-------------------------------
len of hisotry:  13 len of labels:  13 len of masks:  13
query  :  SELECT T2.name ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT min(hours) FROM projects)
history:  ['root', 'none', 'select', ('scientists', 'name', 2), ('projects', 'name', 4), 'where', ('projects', 'hours', 5), '=', 'root', 'none', 'select', ('projects', 'hours', 5), 'min']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [2, 4], [], [], [[5], []], [0, []], [0], -1, 0, [], [5], [1]]

-------------------------------
len of hisotry:  13 len of labels:  13 len of masks:  13
query  :  SELECT T2.name ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT min(hours) FROM projects)
history:  ['root', 'none', 'select', ('scientists', 'name', 2), ('projects', 'name', 4), 'where', ('projects', 'hours', 5), '=', 'root', 'none', 'select', ('projects', 'hours', 5), 'min']
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [2, 4], [], [], [[5], []], [0, []], [0], -1, 0, [], [5], [1]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT Name FROM WINE ORDER BY Score LIMIT 1
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'orderBy', ('wine', 'score', 18), 0]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [15], [], [18], [], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT Name FROM WINE ORDER BY Score LIMIT 1
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'orderBy', ('wine', 'score', 18), 0]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [15], [], [18], [], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT Winery FROM WINE ORDER BY SCORE LIMIT 1
history:  ['root', 'none', 'select', ('wine', 'winery', 12), 'orderBy', ('wine', 'score', 18), 0]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [12], [], [18], [], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT Winery FROM WINE ORDER BY SCORE LIMIT 1
history:  ['root', 'none', 'select', ('wine', 'winery', 12), 'orderBy', ('wine', 'score', 18), 0]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [12], [], [18], [], 0]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM WINE WHERE YEAR  =  "2008"
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('wine', 'year', 16), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[16], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM WINE WHERE YEAR  =  "2008"
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('wine', 'year', 16), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[16], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT Grape ,  Appelation FROM WINE
history:  ['root', 'none', 'select', ('wine', 'appelation', 13), ('wine', 'grape', 11)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [11, 13], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT Grape ,  Appelation FROM WINE
history:  ['root', 'none', 'select', ('wine', 'appelation', 13), ('wine', 'grape', 11)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [11, 13], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT Name ,  Score FROM WINE
history:  ['root', 'none', 'select', ('wine', 'score', 18), ('wine', 'name', 15)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [18, 15], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT Name ,  Score FROM WINE
history:  ['root', 'none', 'select', ('wine', 'score', 18), ('wine', 'name', 15)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [18, 15], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT Area ,  County FROM APPELLATIONS
history:  ['root', 'none', 'select', ('appellations', 'county', 6), ('appellations', 'area', 8)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [8, 6], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT Area ,  County FROM APPELLATIONS
history:  ['root', 'none', 'select', ('appellations', 'county', 6), ('appellations', 'area', 8)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [8, 6], [], []]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Price FROM WINE WHERE YEAR  <  2010
history:  ['root', 'none', 'select', ('wine', 'price', 17), 'where', ('wine', 'year', 16), '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [17], [], [[16], []], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Price FROM WINE WHERE YEAR  <  2010
history:  ['root', 'none', 'select', ('wine', 'price', 17), 'where', ('wine', 'year', 16), '<', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [17], [], [[16], []], [2], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM WINE WHERE score  >  90
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('wine', 'score', 18), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[18], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM WINE WHERE score  >  90
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('wine', 'score', 18), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[18], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT T2.Name FROM GRAPES AS T1 JOIN WINE AS T2 ON T1.Grape  =  T2.Grape WHERE T1.Color  =  "Red"
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('grapes', 'color', 3), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT T2.Name FROM GRAPES AS T1 JOIN WINE AS T2 ON T1.Grape  =  T2.Grape WHERE T1.Color  =  "Red"
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('grapes', 'color', 3), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT T2.Name FROM APPELLATIONs AS T1 JOIN WINE AS T2 ON T1.Appelation  =  T2.Appelation WHERE T1.Area  =  "North Coast"
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('appellations', 'area', 8), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[8], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT T2.Name FROM APPELLATIONs AS T1 JOIN WINE AS T2 ON T1.Appelation  =  T2.Appelation WHERE T1.Area  =  "North Coast"
history:  ['root', 'none', 'select', ('wine', 'name', 15), 'where', ('appellations', 'area', 8), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[8], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM WINE WHERE Winery  =  "Robert Biale"
history:  ['root', 'none', 'select', ('wine', '*', 0), 'count', 'where', ('wine', 'winery', 12), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[12], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM WINE WHERE Winery  =  "Robert Biale"
history:  ['root', 'none', 'select', ('wine', '*', 0), 'count', 'where', ('wine', 'winery', 12), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[12], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM APPELLATIONS WHERE County  =  "Napa"
history:  ['root', 'none', 'select', ('wine', '*', 0), 'count', 'where', ('appellations', 'county', 6), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[6], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM APPELLATIONS WHERE County  =  "Napa"
history:  ['root', 'none', 'select', ('wine', '*', 0), 'count', 'where', ('appellations', 'county', 6), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[6], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT AVG(T2.Price) FROM APPELLATIONS AS T1 JOIN WINE AS T2 ON T1.Appelation  =  T2.Appelation WHERE T1.County  =  "Sonoma"
history:  ['root', 'none', 'select', ('wine', 'price', 17), 'avg', 'where', ('appellations', 'county', 6), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [17], [4], [[6], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT AVG(T2.Price) FROM APPELLATIONS AS T1 JOIN WINE AS T2 ON T1.Appelation  =  T2.Appelation WHERE T1.County  =  "Sonoma"
history:  ['root', 'none', 'select', ('wine', 'price', 17), 'avg', 'where', ('appellations', 'county', 6), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [17], [4], [[6], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT T2.Name ,   T2.Score FROM GRAPES AS T1 JOIN WINE AS T2 ON T1.Grape  =  T2.Grape WHERE T1.Color  =  "White"
history:  ['root', 'none', 'select', ('wine', 'score', 18), ('wine', 'name', 15), 'where', ('grapes', 'color', 3), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [18, 15], [], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------

label  :  [0, [0], [10, 12], [], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT T2.first_name ,  T2.last_name FROM Addresses AS T1 JOIN Staff AS T2 ON T1.address_id = T2.staff_address_id WHERE T1.city = "Damianfort";
history:  ['root', 'none', 'select', ('staff', 'last name', 12), ('staff', 'first name', 10), 'where', ('addresses', 'city', 3), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [10, 12], [], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  10
query  :  SELECT T1.city ,  count(*) FROM Addresses AS T1 JOIN Staff AS T2 ON T1.address_id = T2.staff_address_id GROUP BY T1.city ORDER BY count(*) DESC LIMIT 1;
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', ('addresses', 'city', 3), 'groupBy', 'orderBy', ('lessons', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [0, 3], [2], [], [3], 0, [0], [2], 2]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  10
query  :  SELECT T1.city ,  count(*) FROM Addresses AS T1 JOIN Staff AS T2 ON T1.address_id = T2.staff_address_id GROUP BY T1.city ORDER BY count(*) DESC LIMIT 1;
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', ('addresses', 'city', 3), 'groupBy', 'orderBy', ('lessons', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [0, 3], [2], [], [3], 0, [0], [2], 2]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.state_province_county FROM Addresses AS T1 JOIN Staff AS T2 ON T1.address_id = T2.staff_address_id GROUP BY T1.state_province_county HAVING count(*) BETWEEN 2 AND 4;
history:  ['root', 'none', 'select', ('addresses', 'state province county', 5), 'groupBy', 'having', ('lessons', '*', 0), 'count', 'between', ['VALUE_0', 'VALUE_1']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [5], [], [5], 1, [0], [2], [9], [1, ['VALUE_0', 'VALUE_1']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.state_province_county FROM Addresses AS T1 JOIN Staff AS T2 ON T1.address_id = T2.staff_address_id GROUP BY T1.state_province_county HAVING count(*) BETWEEN 2 AND 4;
history:  ['root', 'none', 'select', ('addresses', 'state province county', 5), 'groupBy', 'having', ('lessons', '*', 0), 'count', 'between', ['VALUE_0', 'VALUE_1']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [5], [], [5], 1, [0], [2], [9], [1, ['VALUE_0', 'VALUE_1']]]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT first_name ,  last_name FROM Customers;
history:  ['root', 'none', 'select', ('customers', 'last name', 24), ('customers', 'first name', 23)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [24, 23], [], []]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT first_name ,  last_name FROM Customers;
history:  ['root', 'none', 'select', ('customers', 'last name', 24), ('customers', 'first name', 23)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [24, 23], [], []]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT email_address ,  date_of_birth FROM Customers WHERE first_name = "Carole"
history:  ['root', 'none', 'select', ('customers', 'date of birth', 22), ('customers', 'email address', 26), 'where', ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [26, 22], [], [], [[23], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT email_address ,  date_of_birth FROM Customers WHERE first_name = "Carole"
history:  ['root', 'none', 'select', ('customers', 'date of birth', 22), ('customers', 'email address', 26), 'where', ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [26, 22], [], [], [[23], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT phone_number ,  email_address FROM Customers WHERE amount_outstanding  >  2000;
history:  ['root', 'none', 'select', ('customers', 'email address', 26), ('customers', 'phone number', 27), 'where', ('customers', 'amount outstanding', 25), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [26, 27], [], [], [[25], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT phone_number ,  email_address FROM Customers WHERE amount_outstanding  >  2000;
history:  ['root', 'none', 'select', ('customers', 'email address', 26), ('customers', 'phone number', 27), 'where', ('customers', 'amount outstanding', 25), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [26, 27], [], [], [[25], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  13 len of labels:  11 len of masks:  13
query  :  SELECT customer_status_code ,  cell_mobile_phone_number ,  email_address FROM Customers WHERE first_name = "Marina" OR last_name  =  "Kohler"
history:  ['root', 'none', 'select', ('customers', 'email address', 26), ('customers', 'cell mobile phone number', 28), ('customers', 'customer status code', 20), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [26, 20, 28], [], [], [], [[24, 23], [1]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  13 len of labels:  11 len of masks:  13
query  :  SELECT customer_status_code ,  cell_mobile_phone_number ,  email_address FROM Customers WHERE first_name = "Marina" OR last_name  =  "Kohler"
history:  ['root', 'none', 'select', ('customers', 'email address', 26), ('customers', 'cell mobile phone number', 28), ('customers', 'customer status code', 20), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [26, 20, 28], [], [], [], [[24, 23], [1]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT date_of_birth FROM Customers WHERE customer_status_code  =  'Good Customer'
history:  ['root', 'none', 'select', ('customers', 'date of birth', 22), 'where', ('customers', 'customer status code', 20), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [22], [], [[20], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT date_of_birth FROM Customers WHERE customer_status_code  =  'Good Customer'
history:  ['root', 'none', 'select', ('customers', 'date of birth', 22), 'where', ('customers', 'customer status code', 20), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [22], [], [[20], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT date_became_customer FROM Customers WHERE first_name = "Carole" AND last_name = "Bernhard";
history:  ['root', 'none', 'select', ('customers', 'date became customer', 21), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [21], [], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT date_became_customer FROM Customers WHERE first_name = "Carole" AND last_name = "Bernhard";
history:  ['root', 'none', 'select', ('customers', 'date became customer', 21), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [21], [], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM Customers;
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM Customers;
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT customer_status_code , count(*) FROM Customers GROUP BY customer_status_code;
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', ('customers', 'customer status code', 20), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 20], [2], [], [20], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT customer_status_code , count(*) FROM Customers GROUP BY customer_status_code;
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', ('customers', 'customer status code', 20), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 20], [2], [], [20], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT customer_status_code FROM Customers GROUP BY customer_status_code ORDER BY count(*) ASC LIMIT 1;
history:  ['root', 'none', 'select', ('customers', 'customer status code', 20), 'groupBy', 'orderBy', ('lessons', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [20], [], [20], 0, [0], [2], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT customer_status_code FROM Customers GROUP BY customer_status_code ORDER BY count(*) ASC LIMIT 1;
history:  ['root', 'none', 'select', ('customers', 'customer status code', 20), 'groupBy', 'orderBy', ('lessons', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [20], [], [20], 0, [0], [2], 0]

-------------------------------
len of hisotry:  15 len of labels:  11 len of masks:  14
query  :  SELECT count(*) FROM Lessons AS T1 JOIN Customers AS T2 ON T1.customer_id  = T2.customer_id WHERE T2.first_name = "Rylan" AND T2.last_name = "Goodwin" AND T1.lesson_status_code = "Completed";
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', 'where', ('lessons', 'lesson status code', 35), '=', ['VALUE_2'], ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[24, 35, 23], [0]], [0], [1, ['VALUE_2']], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  15 len of labels:  11 len of masks:  14
query  :  SELECT count(*) FROM Lessons AS T1 JOIN Customers AS T2 ON T1.customer_id  = T2.customer_id WHERE T2.first_name = "Rylan" AND T2.last_name = "Goodwin" AND T1.lesson_status_code = "Completed";
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', 'where', ('lessons', 'lesson status code', 35), '=', ['VALUE_2'], ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[24, 35, 23], [0]], [0], [1, ['VALUE_2']], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT max(amount_outstanding) ,  min(amount_outstanding) ,  avg(amount_outstanding) FROM Customers;
history:  ['root', 'none', 'select', ('customers', 'amount outstanding', 25), 'max']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [25], [0, 1, 4]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT max(amount_outstanding) ,  min(amount_outstanding) ,  avg(amount_outstanding) FROM Customers;
history:  ['root', 'none', 'select', ('customers', 'amount outstanding', 25), 'max']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [25], [0, 1, 4]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT first_name ,  last_name FROM Customers WHERE amount_outstanding BETWEEN 1000 AND 3000;
history:  ['root', 'none', 'select', ('customers', 'last name', 24), ('customers', 'first name', 23), 'where', ('customers', 'amount outstanding', 25), 'between', ['VALUE_0', 'VALUE_1']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [24, 23], [], [], [[25], []], [9], [1, ['VALUE_0', 'VALUE_1']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT first_name ,  last_name FROM Customers WHERE amount_outstanding BETWEEN 1000 AND 3000;
history:  ['root', 'none', 'select', ('customers', 'last name', 24), ('customers', 'first name', 23), 'where', ('customers', 'amount outstanding', 25), 'between', ['VALUE_0', 'VALUE_1']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [24, 23], [], [], [[25], []], [9], [1, ['VALUE_0', 'VALUE_1']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT T1.first_name ,  T1.last_name FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id WHERE T2.city = "Lockmanfurt";
history:  ['root', 'none', 'select', ('customers', 'last name', 24), ('customers', 'first name', 23), 'where', ('addresses', 'city', 3), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [24, 23], [], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT T1.first_name ,  T1.last_name FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id WHERE T2.city = "Lockmanfurt";
history:  ['root', 'none', 'select', ('customers', 'last name', 24), ('customers', 'first name', 23), 'where', ('addresses', 'city', 3), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [24, 23], [], [], [[3], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT T2.country FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id WHERE T1.first_name = "Carole" AND T1.last_name = "Bernhard"
history:  ['root', 'none', 'select', ('addresses', 'country', 6), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [6], [], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT T2.country FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id WHERE T1.first_name = "Carole" AND T1.last_name = "Bernhard"
history:  ['root', 'none', 'select', ('addresses', 'country', 6), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [6], [], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT T2.zip_postcode FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id WHERE T1.first_name = "Carole" AND T1.last_name = "Bernhard"
history:  ['root', 'none', 'select', ('addresses', 'zip postcode', 4), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [4], [], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  9 len of masks:  11
query  :  SELECT T2.zip_postcode FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id WHERE T1.first_name = "Carole" AND T1.last_name = "Bernhard"
history:  ['root', 'none', 'select', ('addresses', 'zip postcode', 4), 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [4], [], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T2.city FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id GROUP BY T2.city ORDER BY count(*) DESC LIMIT 1;
history:  ['root', 'none', 'select', ('addresses', 'city', 3), 'groupBy', 'orderBy', ('lessons', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [3], [], [3], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T2.city FROM Customers AS T1 JOIN Addresses AS T2 ON T1.customer_address_id = T2.address_id GROUP BY T2.city ORDER BY count(*) DESC LIMIT 1;
history:  ['root', 'none', 'select', ('addresses', 'city', 3), 'groupBy', 'orderBy', ('lessons', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [3], [], [3], 0, [0], [2], 2]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT sum(T1.amount_payment) FROM Customer_Payments AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T2.first_name = "Carole" AND T2.last_name = "Bernhard"
history:  ['root', 'none', 'select', ('customer payments', 'amount payment', 32), 'sum', 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [32], [3], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT sum(T1.amount_payment) FROM Customer_Payments AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T2.first_name = "Carole" AND T2.last_name = "Bernhard"
history:  ['root', 'none', 'select', ('customer payments', 'amount payment', 32), 'sum', 'where', ('customers', 'last name', 24), '=', ['VALUE_1'], ('customers', 'first name', 23), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [32], [3], [[24, 23], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT count(*) FROM Customers WHERE customer_id NOT IN ( SELECT customer_id FROM Customer_Payments );
history:  ['root', 'none', 'select', ('lessons', '*', 0), 'count', 'where', ('customers', 'customer id', 18), 'not in', 'root', 'none', 'select', ('customer payments', 'customer id', 29)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [0], [2], [[18], []], [0, []], [7], -1, 0, [], [29], []]

-------------------------------

len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT Nationality FROM people GROUP BY Nationality HAVING COUNT(*)  >=  2
history:  ['root', 'none', 'select', ('people', 'nationality', 8), 'groupBy', 'having', ('people', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [8], [], [8], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC
history:  ['root', 'none', 'select', ('people', 'birth date', 10), ('people', 'name', 9), 'orderBy', ('people', 'name', 9), 1]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [9, 10], [], [], [9], [], 1]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC
history:  ['root', 'none', 'select', ('people', 'birth date', 10), ('people', 'name', 9), 'orderBy', ('people', 'name', 9), 1]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [9, 10], [], [], [9], [], 1]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM people WHERE Nationality ! =  "Russia"
history:  ['root', 'none', 'select', ('people', 'name', 9), 'where', ('people', 'nationality', 8), '!=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [], [[8], []], [5], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM people WHERE Nationality ! =  "Russia"
history:  ['root', 'none', 'select', ('people', 'name', 9), 'where', ('people', 'nationality', 8), '!=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [], [[8], []], [5], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT Name FROM people WHERE People_ID NOT IN (SELECT People_ID FROM poker_player)
history:  ['root', 'none', 'select', ('people', 'name', 9), 'where', ('people', 'people id', 7), 'not in', 'root', 'none', 'select', ('poker player', 'people id', 2)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [9], [], [[7], []], [0, []], [7], -1, 0, [], [2], []]

-------------------------------
len of hisotry:  11 len of labels:  12 len of masks:  12
query  :  SELECT Name FROM people WHERE People_ID NOT IN (SELECT People_ID FROM poker_player)
history:  ['root', 'none', 'select', ('people', 'name', 9), 'where', ('people', 'people id', 7), 'not in', 'root', 'none', 'select', ('poker player', 'people id', 2)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [9], [], [[7], []], [0, []], [7], -1, 0, [], [2], []]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(DISTINCT Nationality) FROM people
history:  ['root', 'none', 'select', ('people', 'nationality', 8), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [8], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(DISTINCT Nationality) FROM people
history:  ['root', 'none', 'select', ('people', 'nationality', 8), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [8], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM area_code_state
history:  ['root', 'none', 'select', ('votes', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  8 len of labels:  8 len of masks:  8
query  :  SELECT contestant_number ,  contestant_name FROM contestants ORDER BY contestant_name DESC
history:  ['root', 'none', 'select', ('contestants', 'contestant name', 4), ('contestants', 'contestant number', 3), 'orderBy', ('contestants', 'contestant name', 4), 3]
masks   :  [0, 1, 2, 4, 4, 2, 4, 6]
label  :  [0, [2], [3, 4], [], [], [4], [], 3]

-------------------------------
len of hisotry:  6 len of labels:  6 len of masks:  6
query  :  SELECT vote_id ,  phone_number ,  state FROM votes
history:  ['root', 'none', 'select', ('votes', 'state', 7), ('votes', 'phone number', 6), ('votes', 'vote id', 5)]
masks   :  [0, 1, 2, 4, 4, 4]
label  :  [0, [], [5, 6, 7], [], [], []]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT max(area_code) ,  min(area_code) FROM area_code_state
history:  ['root', 'none', 'select', ('area code state', 'area code', 1), 'max']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [1], [0, 1]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT max(created) FROM votes WHERE state  =  'CA'
history:  ['root', 'none', 'select', ('votes', 'created', 9), 'max', 'where', ('votes', 'state', 7), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [0], [[7], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT contestant_name FROM contestants WHERE contestant_name ! =  'Jessie Alloway'
history:  ['root', 'none', 'select', ('contestants', 'contestant name', 4), 'where', ('contestants', 'contestant name', 4), '!=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [4], [], [[4], []], [5], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT DISTINCT state ,  created FROM votes
history:  ['root', 'none', 'select', ('votes', 'created', 9), ('votes', 'state', 7)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [9, 7], [], []]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  11
query  :  SELECT T1.contestant_number , T1.contestant_name FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number GROUP BY T1.contestant_number HAVING count(*)  >=  2
history:  ['root', 'none', 'select', ('contestants', 'contestant name', 4), ('contestants', 'contestant number', 3), 'groupBy', 'having', ('votes', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [[3, 8], 4], [], [], [[3, 8]], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T1.contestant_number , T1.contestant_name FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number GROUP BY T1.contestant_number ORDER BY count(*) ASC LIMIT 1
history:  ['root', 'none', 'select', ('contestants', 'contestant name', 4), ('contestants', 'contestant number', 3), 'groupBy', 'orderBy', ('votes', '*', 0), 'count', 0]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[3, 8], 4], [], [], [[3, 8]], 0, [0], [2], 0]

-------------------------------
len of hisotry:  11 len of labels:  8 len of masks:  10
query  :  SELECT count(*) FROM votes WHERE state  =  'NY' OR state  =  'CA'
history:  ['root', 'none', 'select', ('votes', '*', 0), 'count', 'where', ('votes', 'state', 7), '=', '=', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [0], [2], [[7], []], [0, 0], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT count(*) FROM contestants WHERE contestant_number NOT IN ( SELECT contestant_number FROM votes )
history:  ['root', 'none', 'select', ('votes', '*', 0), 'count', 'where', ('contestants', 'contestant number', 3), 'not in', 'root', 'none', 'select', ('votes', 'contestant number', 8)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [0], [2], [[3], []], [0, []], [7], -1, 0, [], [8], []]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.area_code FROM area_code_state AS T1 JOIN votes AS T2 ON T1.state  =  T2.state GROUP BY T1.area_code ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('area code state', 'area code', 1), 'groupBy', 'orderBy', ('votes', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [1], [], [1], 0, [0], [2], 2]

-------------------------------
len of hisotry:  10 len of labels:  9 len of masks:  10
query  :  SELECT T2.created ,  T2.state ,  T2.phone_number FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number WHERE T1.contestant_name  =  'Tabatha Gehling'
history:  ['root', 'none', 'select', ('votes', 'phone number', 6), ('votes', 'state', 7), ('votes', 'created', 9), 'where', ('contestants', 'contestant name', 4), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9, 6, [7, 2]], [], [], [], [[4], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT T3.area_code FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number JOIN area_code_state AS T3 ON T2.state  =  T3.state WHERE T1.contestant_name  =  'Tabatha Gehling' INTERSECT SELECT T3.area_code FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number JOIN area_code_state AS T3 ON T2.state  =  T3.state WHERE T1.contestant_name  =  'Kelly Clauss'
history:  ['root', 'intersect', 'root', 'none', 'select', ('area code state', 'area code', 1), 'where', ('contestants', 'contestant name', 4), '=', ['"Kelly Clauss"'], 'root', 'none', 'select', ('area code state', 'area code', 1), 'where', ('contestants', 'contestant name', 4), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [1], [], [[4], []], [0], [1, ['"Kelly Clauss"']], -1, 0, [0], [1], [], [[4], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT contestant_name FROM contestants WHERE contestant_name LIKE "%Al%"
history:  ['root', 'none', 'select', ('contestants', 'contestant name', 4), 'where', ('contestants', 'contestant name', 4), 'like', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [4], [], [[4], []], [6], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM Faculty
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM Faculty
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT rank FROM Faculty
history:  ['root', 'none', 'select', ('faculty', 'rank', 18)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [18], []]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT rank FROM Faculty
history:  ['root', 'none', 'select', ('faculty', 'rank', 18)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [18], []]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT building FROM Faculty
history:  ['root', 'none', 'select', ('faculty', 'building', 22)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [22], []]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT building FROM Faculty
history:  ['root', 'none', 'select', ('faculty', 'building', 22)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [22], []]

-------------------------------
len of hisotry:  6 len of labels:  6 len of masks:  6
query  :  SELECT rank ,  Fname ,  Lname FROM Faculty
history:  ['root', 'none', 'select', ('faculty', 'last name', 16), ('faculty', 'first name', 17), ('faculty', 'rank', 18)]
masks   :  [0, 1, 2, 4, 4, 4]
label  :  [0, [], [16, 17, 18], [], [], []]

-------------------------------
len of hisotry:  6 len of labels:  6 len of masks:  6
query  :  SELECT rank ,  Fname ,  Lname FROM Faculty
history:  ['root', 'none', 'select', ('faculty', 'last name', 16), ('faculty', 'first name', 17), ('faculty', 'rank', 18)]
masks   :  [0, 1, 2, 4, 4, 4]
label  :  [0, [], [16, 17, 18], [], [], []]

-------------------------------
len of hisotry:  10 len of labels:  9 len of masks:  10
query  :  SELECT Fname ,  Lname ,  phone FROM Faculty WHERE Sex  =  'F'
history:  ['root', 'none', 'select', ('faculty', 'phone', 20), ('faculty', 'last name', 16), ('faculty', 'first name', 17), 'where', ('faculty', 'sex', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 17, 20], [], [], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  9 len of masks:  10
query  :  SELECT Fname ,  Lname ,  phone FROM Faculty WHERE Sex  =  'F'
history:  ['root', 'none', 'select', ('faculty', 'phone', 20), ('faculty', 'last name', 16), ('faculty', 'first name', 17), 'where', ('faculty', 'sex', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 17, 20], [], [], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT FacID FROM Faculty WHERE Sex  =  'M'
history:  ['root', 'none', 'select', ('faculty', 'faculty id', 15), 'where', ('faculty', 'sex', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT FacID FROM Faculty WHERE Sex  =  'M'
history:  ['root', 'none', 'select', ('faculty', 'faculty id', 15), 'where', ('faculty', 'sex', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM Faculty WHERE Sex  =  'F' AND Rank  =  "Professor"
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count', 'where', ('faculty', 'rank', 18), '=', ['VALUE_1'], ('faculty', 'sex', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18, 19], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM Faculty WHERE Sex  =  'F' AND Rank  =  "Professor"
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count', 'where', ('faculty', 'rank', 18), '=', ['VALUE_1'], ('faculty', 'sex', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18, 19], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  13 len of labels:  11 len of masks:  13
query  :  SELECT phone ,  room ,  building FROM Faculty WHERE Fname  =  "Jerry" AND Lname  =  "Prince"
history:  ['root', 'none', 'select', ('faculty', 'building', 22), ('faculty', 'room', 21), ('faculty', 'phone', 20), 'where', ('faculty', 'last name', 16), '=', ['VALUE_1'], ('faculty', 'first name', 17), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [20, 21, 22], [], [], [], [[16, 17], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  13 len of labels:  11 len of masks:  13
query  :  SELECT phone ,  room ,  building FROM Faculty WHERE Fname  =  "Jerry" AND Lname  =  "Prince"
history:  ['root', 'none', 'select', ('faculty', 'building', 22), ('faculty', 'room', 21), ('faculty', 'phone', 20), 'where', ('faculty', 'last name', 16), '=', ['VALUE_1'], ('faculty', 'first name', 17), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [20, 21, 22], [], [], [], [[16, 17], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM Faculty WHERE Rank  =  "Professor" AND building  =  "NEB"
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count', 'where', ('faculty', 'building', 22), '=', ['VALUE_1'], ('faculty', 'rank', 18), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18, 22], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  9 len of masks:  11
query  :  SELECT count(*) FROM Faculty WHERE Rank  =  "Professor" AND building  =  "NEB"
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count', 'where', ('faculty', 'building', 22), '=', ['VALUE_1'], ('faculty', 'rank', 18), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5]]
label  :  [0, [0], [0], [2], [[18, 22], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT fname ,  lname FROM Faculty WHERE Rank  =  "Instructor"
history:  ['root', 'none', 'select', ('faculty', 'last name', 16), ('faculty', 'first name', 17), 'where', ('faculty', 'rank', 18), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 17], [], [], [[18], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT fname ,  lname FROM Faculty WHERE Rank  =  "Instructor"
history:  ['root', 'none', 'select', ('faculty', 'last name', 16), ('faculty', 'first name', 17), 'where', ('faculty', 'rank', 18), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 17], [], [], [[18], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT building ,  count(*) FROM Faculty GROUP BY building
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count', ('faculty', 'building', 22), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 22], [2], [], [22], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT building ,  count(*) FROM Faculty GROUP BY building
history:  ['root', 'none', 'select', ('faculty', '*', 0), 'count', ('faculty', 'building', 22), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 22], [2], [], [22], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT building FROM Faculty GROUP BY building ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('faculty', 'building', 22), 'groupBy', 'orderBy', ('faculty', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [22], [], [22], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT building FROM Faculty GROUP BY building ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('faculty', 'building', 22), 'groupBy', 'orderBy', ('faculty', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [22], [], [22], 0, [0], [2], 2]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT building FROM Faculty WHERE rank  =  "Professor" GROUP BY building HAVING count(*)  >=  10

query  :  SELECT order_id FROM shipments WHERE shipment_date  =  (SELECT max(shipment_date) FROM shipments)
history:  ['root', 'none', 'select', ('shipments', 'order id', 21), 'where', ('shipments', 'shipment date', 24), '=', 'root', 'none', 'select', ('shipments', 'shipment date', 24), 'max']
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [21], [], [[24], []], [0, []], [0], -1, 0, [], [24], [0]]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT DISTINCT product_name FROM products ORDER BY product_name
history:  ['root', 'none', 'select', ('products', 'product name', 13), 'orderBy', ('products', 'product name', 13), 1]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [13], [], [13], [], 1]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT DISTINCT product_name FROM products ORDER BY product_name
history:  ['root', 'none', 'select', ('products', 'product name', 13), 'orderBy', ('products', 'product name', 13), 1]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [13], [], [13], [], 1]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT DISTINCT order_id FROM orders ORDER BY date_order_placed
history:  ['root', 'none', 'select', ('orders', 'order id', 7), 'orderBy', ('orders', 'date order placed', 10), 1]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [7], [], [10], [], 1]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT DISTINCT order_id FROM orders ORDER BY date_order_placed
history:  ['root', 'none', 'select', ('orders', 'order id', 7), 'orderBy', ('orders', 'date order placed', 10), 1]
masks   :  [0, 1, 2, 4, 2, 4, 6]
label  :  [0, [2], [7], [], [10], [], 1]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.order_id FROM orders AS T1 JOIN order_items AS T2 ON T1.order_id = T2.order_id GROUP BY T1.order_id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('orders', 'order id', 7), 'groupBy', 'orderBy', ('shipment items', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[7, 17, 21]], [], [[7, 17, 21]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.order_id FROM orders AS T1 JOIN order_items AS T2 ON T1.order_id = T2.order_id GROUP BY T1.order_id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('orders', 'order id', 7), 'groupBy', 'orderBy', ('shipment items', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[7, 17, 21]], [], [[7, 17, 21]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'groupBy', 'orderBy', ('shipment items', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [2], [], [[1, 8]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'groupBy', 'orderBy', ('shipment items', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [2], [], [[1, 8]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT invoice_number FROM invoices WHERE invoice_date < "1989-09-03" OR invoice_date > "2007-12-25"
history:  ['root', 'none', 'select', ('invoices', 'invoice number', 4), 'where', ('invoices', 'invoice date', 5), '<', '>', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [4], [], [[5], []], [2, 1], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT invoice_number FROM invoices WHERE invoice_date < "1989-09-03" OR invoice_date > "2007-12-25"
history:  ['root', 'none', 'select', ('invoices', 'invoice number', 4), 'where', ('invoices', 'invoice date', 5), '<', '>', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [4], [], [[5], []], [2, 1], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT DISTINCT invoice_details FROM invoices WHERE invoice_date < "1989-09-03" OR invoice_date > "2007-12-25"
history:  ['root', 'none', 'select', ('invoices', 'invoice details', 6), 'where', ('invoices', 'invoice date', 5), '<', '>', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [6], [], [[5], []], [2, 1], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT DISTINCT invoice_details FROM invoices WHERE invoice_date < "1989-09-03" OR invoice_date > "2007-12-25"
history:  ['root', 'none', 'select', ('invoices', 'invoice details', 6), 'where', ('invoices', 'invoice date', 5), '<', '>', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [6], [], [[5], []], [2, 1], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  11 len of masks:  11
query  :  SELECT T2.customer_name ,  count(*) FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id GROUP BY T2.customer_id HAVING count(*)  >=  2
history:  ['root', 'none', 'select', ('shipment items', '*', 0), 'count', ('customers', 'customer name', 2), 'groupBy', 'having', ('shipment items', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [0, 2], [2], [], [[1, 8]], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  12 len of labels:  11 len of masks:  11
query  :  SELECT T2.customer_name ,  count(*) FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id GROUP BY T2.customer_id HAVING count(*)  >=  2
history:  ['root', 'none', 'select', ('shipment items', '*', 0), 'count', ('customers', 'customer name', 2), 'groupBy', 'having', ('shipment items', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [0, 2], [2], [], [[1, 8]], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T2.customer_name FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id GROUP BY T2.customer_id HAVING count(*)  <=  2
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'groupBy', 'having', ('shipment items', '*', 0), 'count', '<=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [2], [], [[1, 8]], 1, [0], [2], [4], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  10 len of masks:  10
query  :  SELECT T2.customer_name FROM orders AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id GROUP BY T2.customer_id HAVING count(*)  <=  2
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'groupBy', 'having', ('shipment items', '*', 0), 'count', '<=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [2], [], [[1, 8]], 1, [0], [2], [4], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 JOIN order_items AS T3 JOIN products AS T4 ON T1.customer_id = T2.customer_id AND T2.order_id = T3.order_id AND T3.product_id = T4.product_id WHERE T4.product_name = "food" GROUP BY T1.customer_id HAVING count(*)  >=  1
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'where', ('products', 'product name', 13), '=', ['VALUE_0'], 'groupBy', 'having', ('shipment items', '*', 0), 'count', '>=', ['VALUE_1']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [0, 1], [2], [], [[13], []], [0], [1, ['VALUE_0']], [[1, 8]], 1, [0], [2], [3], [1, ['VALUE_1']]]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 JOIN order_items AS T3 JOIN products AS T4 ON T1.customer_id = T2.customer_id AND T2.order_id = T3.order_id AND T3.product_id = T4.product_id WHERE T4.product_name = "food" GROUP BY T1.customer_id HAVING count(*)  >=  1
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'where', ('products', 'product name', 13), '=', ['VALUE_0'], 'groupBy', 'having', ('shipment items', '*', 0), 'count', '>=', ['VALUE_1']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [0, 1], [2], [], [[13], []], [0], [1, ['VALUE_0']], [[1, 8]], 1, [0], [2], [3], [1, ['VALUE_1']]]

-------------------------------
len of hisotry:  17 len of labels:  15 len of masks:  18
query  :  SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 JOIN order_items AS T3 JOIN products AS T4 ON T1.customer_id = T2.customer_id AND T2.order_id = T3.order_id AND T3.product_id = T4.product_id WHERE T3.order_item_status = "Cancel" AND T4.product_name = "food" GROUP BY T1.customer_id HAVING count(*)  >=  1
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'where', ('products', 'product name', 13), '=', ['VALUE_1'], ('order items', 'order item status', 18), '=', ['VALUE_0'], 'groupBy', 'having', ('shipment items', '*', 0), 'count', '>=', ['VALUE_2']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5], -1, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [0, 1], [2], [], [[18, 13], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']], [[1, 8]], 1, [0], [2], [3], [1, ['VALUE_2']]]

-------------------------------
len of hisotry:  17 len of labels:  15 len of masks:  18
query  :  SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 JOIN order_items AS T3 JOIN products AS T4 ON T1.customer_id = T2.customer_id AND T2.order_id = T3.order_id AND T3.product_id = T4.product_id WHERE T3.order_item_status = "Cancel" AND T4.product_name = "food" GROUP BY T1.customer_id HAVING count(*)  >=  1
history:  ['root', 'none', 'select', ('customers', 'customer name', 2), 'where', ('products', 'product name', 13), '=', ['VALUE_1'], ('order items', 'order item status', 18), '=', ['VALUE_0'], 'groupBy', 'having', ('shipment items', '*', 0), 'count', '>=', ['VALUE_2']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 3, [9, 5], -1, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [0, 1], [2], [], [[18, 13], [0]], [0], [1, ['VALUE_1']], [0], [1, ['VALUE_0']], [[1, 8]], 1, [0], [2], [3], [1, ['VALUE_2']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM country WHERE IndepYear  >  1950
history:  ['root', 'none', 'select', ('country', 'name', 9), 'where', ('country', 'indepdent year', 13), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [], [[13], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Name FROM country WHERE IndepYear  >  1950
history:  ['root', 'none', 'select', ('country', 'name', 9), 'where', ('country', 'indepdent year', 13), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [9], [], [[13], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM country WHERE GovernmentForm  =  "Republic"
history:  ['root', 'none', 'select', ('countrylanguage', '*', 0), 'count', 'where', ('country', 'government form', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM country WHERE GovernmentForm  =  "Republic"
history:  ['root', 'none', 'select', ('countrylanguage', '*', 0), 'count', 'where', ('country', 'government form', 19), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[19], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"
history:  ['root', 'none', 'select', ('country', 'surface area', 12), 'sum', 'where', ('country', 'region', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [12], [3], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"
history:  ['root', 'none', 'select', ('country', 'surface area', 12), 'sum', 'where', ('country', 'region', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [12], [3], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Continent FROM country WHERE Name  =  "Anguilla"
history:  ['root', 'none', 'select', ('country', 'continent', 10), 'where', ('country', 'name', 9), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [10], [], [[9], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Continent FROM country WHERE Name  =  "Anguilla"
history:  ['root', 'none', 'select', ('country', 'continent', 10), 'where', ('country', 'name', 9), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [10], [], [[9], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Region FROM country AS T1 JOIN city AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Name  =  "Kabul"
history:  ['root', 'none', 'select', ('country', 'region', 11), 'where', ('city', 'name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT Region FROM country AS T1 JOIN city AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Name  =  "Kabul"
history:  ['root', 'none', 'select', ('country', 'region', 11), 'where', ('city', 'name', 2), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT T2.Language FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T1.Name  =  "Aruba" ORDER BY Percentage DESC LIMIT 1
history:  ['root', 'none', 'select', ('countrylanguage', 'language', 24), 'where', ('country', 'name', 9), '=', ['VALUE_0'], 'orderBy', ('countrylanguage', 'percentage', 26), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [24], [], [[9], []], [0], [1, ['VALUE_0']], [26], [], 2]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT T2.Language FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T1.Name  =  "Aruba" ORDER BY Percentage DESC LIMIT 1
history:  ['root', 'none', 'select', ('countrylanguage', 'language', 24), 'where', ('country', 'name', 9), '=', ['VALUE_0'], 'orderBy', ('countrylanguage', 'percentage', 26), 2]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [24], [], [[9], []], [0], [1, ['VALUE_0']], [26], [], 2]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT Population ,  LifeExpectancy FROM country WHERE Name  =  "Brazil"
history:  ['root', 'none', 'select', ('country', 'life expectancy', 15), ('country', 'population', 14), 'where', ('country', 'name', 9), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [14, 15], [], [], [[9], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT Population ,  LifeExpectancy FROM country WHERE Name  =  "Brazil"
history:  ['root', 'none', 'select', ('country', 'life expectancy', 15), ('country', 'population', 14), 'where', ('country', 'name', 9), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [14, 15], [], [], [[9], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT Population ,  Region FROM country WHERE Name  =  "Angola"
history:  ['root', 'none', 'select', ('country', 'region', 11), ('country', 'population', 14), 'where', ('country', 'name', 9), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11, 14], [], [], [[9], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT Population ,  Region FROM country WHERE Name  =  "Angola"
history:  ['root', 'none', 'select', ('country', 'region', 11), ('country', 'population', 14), 'where', ('country', 'name', 9), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [11, 14], [], [], [[9], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT avg(LifeExpectancy) FROM country WHERE Region  =  "Central Africa"
history:  ['root', 'none', 'select', ('country', 'life expectancy', 15), 'avg', 'where', ('country', 'region', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [4], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT avg(LifeExpectancy) FROM country WHERE Region  =  "Central Africa"
history:  ['root', 'none', 'select', ('country', 'life expectancy', 15), 'avg', 'where', ('country', 'region', 11), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [15], [4], [[11], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT Name FROM country WHERE Continent  =  "Asia" ORDER BY LifeExpectancy LIMIT 1
history:  ['root', 'none', 'select', ('country', 'name', 9), 'where', ('country', 'continent', 10), '=', ['VALUE_0'], 'orderBy', ('country', 'life expectancy', 15), 0]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [9], [], [[10], []], [0], [1, ['VALUE_0']], [15], [], 0]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT Name FROM country WHERE Continent  =  "Asia" ORDER BY LifeExpectancy LIMIT 1
history:  ['root', 'none', 'select', ('country', 'name', 9), 'where', ('country', 'continent', 10), '=', ['VALUE_0'], 'orderBy', ('country', 'life expectancy', 15), 0]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [9], [], [[10], []], [0], [1, ['VALUE_0']], [15], [], 0]


masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [3], [4], [[1], []], [0, []], [8], -1, 0, [], [[4, 1]], []]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT avg(grade) FROM Highschooler WHERE id IN (SELECT T1.student_id FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id)
history:  ['root', 'none', 'select', ('high schooler', 'grade', 3), 'avg', 'where', ('high schooler', 'id', 1), 'in', 'root', 'none', 'select', ('friend', 'student id', 4)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [3], [4], [[1], []], [0, []], [8], -1, 0, [], [[4, 1]], []]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT min(grade) FROM Highschooler WHERE id NOT IN (SELECT T1.student_id FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id)
history:  ['root', 'none', 'select', ('high schooler', 'grade', 3), 'min', 'where', ('high schooler', 'id', 1), 'not in', 'root', 'none', 'select', ('friend', 'student id', 4)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [3], [1], [[1], []], [0, []], [7], -1, 0, [], [[4, 1]], []]

-------------------------------
len of hisotry:  12 len of labels:  12 len of masks:  12
query  :  SELECT min(grade) FROM Highschooler WHERE id NOT IN (SELECT T1.student_id FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id)
history:  ['root', 'none', 'select', ('high schooler', 'grade', 3), 'min', 'where', ('high schooler', 'id', 1), 'not in', 'root', 'none', 'select', ('friend', 'student id', 4)]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4]
label  :  [0, [0], [3], [1], [[1], []], [0, []], [7], -1, 0, [], [[4, 1]], []]

-------------------------------
len of hisotry:  9 len of labels:  7 len of masks:  8
query  :  SELECT count(*) FROM architect WHERE gender  =  'female'
history:  ['root', 'none', 'select', ('mill', '*', 0), 'count', 'where', ('architect', 'gender', 4), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[4], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  13 len of labels:  12 len of masks:  14
query  :  SELECT name ,  nationality ,  id FROM architect WHERE gender  =  'male' ORDER BY name
history:  ['root', 'none', 'select', ('architect', 'id', 1), ('architect', 'nationality', 3), ('architect', 'name', 2), 'where', ('architect', 'gender', 4), '=', ['VALUE_0'], 'orderBy', ('architect', 'name', 2), 1]
masks   :  [0, 1, 2, 4, 4, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [1, 2, 3], [], [], [], [[4], []], [0], [1, ['VALUE_0']], [2], [], 1]

-------------------------------
len of hisotry:  6 len of labels:  5 len of masks:  5
query  :  SELECT max(T1.length_meters) ,  T2.name FROM bridge AS T1 JOIN architect AS T2 ON T1.architect_id  =  T2.id
history:  ['root', 'none', 'select', ('architect', 'name', 2), ('bridge', 'length meters', 9), 'max']
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [9, 2], [], [0]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT avg(length_feet) FROM bridge
history:  ['root', 'none', 'select', ('bridge', 'length feet', 10), 'avg']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [10], [4]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT name ,  built_year FROM mill WHERE TYPE  =  'Grondzeiler'
history:  ['root', 'none', 'select', ('mill', 'built year', 16), ('mill', 'name', 14), 'where', ('mill', 'type', 15), '=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [16, 14], [], [], [[15], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  5 len of labels:  5 len of masks:  5
query  :  SELECT DISTINCT T1.name ,  T1.nationality FROM architect AS T1 JOIN mill AS t2 ON T1.id  =  T2.architect_id
history:  ['root', 'none', 'select', ('architect', 'nationality', 3), ('architect', 'name', 2)]
masks   :  [0, 1, 2, 4, 4]
label  :  [0, [], [2, 3], [], []]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT name FROM mill WHERE LOCATION ! =  'Donceel'
history:  ['root', 'none', 'select', ('mill', 'name', 14), 'where', ('mill', 'location', 13), '!=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [14], [], [[13], []], [5], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT DISTINCT T1.type FROM mill AS T1 JOIN architect AS t2 ON T1.architect_id  =  T2.id WHERE T2.nationality  =  'American' OR T2.nationality  =  'Canadian'
history:  ['root', 'none', 'select', ('mill', 'type', 15), 'where', ('architect', 'nationality', 3), '=', '=', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [15], [], [[3], []], [0, 0], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  11
query  :  SELECT T1.id ,  T1.name FROM architect AS T1 JOIN bridge AS T2 ON T1.id  =  T2.architect_id GROUP BY T1.id HAVING count(*)  >=  3
history:  ['root', 'none', 'select', ('architect', 'name', 2), ('architect', 'id', 1), 'groupBy', 'having', ('mill', '*', 0), 'count', '>=', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [1], [[1, 5, 11], 2], [], [], [[1, 5, 11]], 1, [0], [2], [3], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  11 len of masks:  11
query  :  SELECT T1.id ,  T1.name ,  T1.nationality FROM architect AS T1 JOIN mill AS T2 ON T1.id  =  T2.architect_id GROUP BY T1.id ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('architect', 'nationality', 3), ('architect', 'name', 2), ('architect', 'id', 1), 'groupBy', 'orderBy', ('mill', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [[1, 5, 11], 2, 3], [], [], [], [[1, 5, 11]], 0, [0], [2], 2]

-------------------------------
len of hisotry:  26 len of labels:  27 len of masks:  27
query  :  SELECT T1.id ,  T1.name ,  T1.gender FROM architect AS T1 JOIN bridge AS T2 ON T1.id  =  T2.architect_id GROUP BY T1.id HAVING count(*)  =  2 UNION SELECT T1.id ,  T1.name ,  T1.gender FROM architect AS T1 JOIN mill AS T2 ON T1.id  =  T2.architect_id GROUP BY T1.id HAVING count(*)  =  1
history:  ['root', 'union', 'root', 'none', 'select', ('architect', 'gender', 4), ('architect', 'name', 2), ('architect', 'id', 1), 'groupBy', 'having', ('mill', '*', 0), 'count', '=', [1.0], 'root', 'none', 'select', ('architect', 'gender', 4), ('architect', 'name', 2), ('architect', 'id', 1), 'groupBy', 'having', ('mill', '*', 0), 'count', '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 4, 4, 2, 7, 2, 4, 3, [9, 5], -1, 5, 1, 2, 4, 4, 4, 2, 7, 2, 4, 3, [9, 5]]
label  :  [2, -1, 0, [1], [[1, 5, 11], 2, 4], [], [], [], [[1, 5, 11]], 1, [0], [2], [0], [1, [1.0]], -1, 0, [1], [[1, 5, 11], 2, 4], [], [], [], [[1, 5, 11]], 1, [0], [2], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  10 len of labels:  8 len of masks:  10
query  :  SELECT LOCATION FROM bridge WHERE name  =  'Kolob Arch' OR name  =  'Rainbow Bridge'
history:  ['root', 'none', 'select', ('bridge', 'location', 8), 'where', ('bridge', 'name', 7), '=', '=', ['VALUE_1'], ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, [9, 5]]
label  :  [0, [0], [8], [], [[7], []], [0, 0], [1, ['VALUE_1']], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT name FROM mill WHERE name LIKE '%Moulin%'
history:  ['root', 'none', 'select', ('mill', 'name', 14), 'where', ('mill', 'name', 14), 'like', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [14], [], [[14], []], [6], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  8 len of labels:  7 len of masks:  8
query  :  SELECT DISTINCT T1.name FROM mill AS T1 JOIN architect AS t2 ON T1.architect_id  =  T2.id JOIN bridge AS T3 ON T3.architect_id  =  T2.id WHERE T3.length_meters  >  80
history:  ['root', 'none', 'select', ('mill', 'name', 14), 'where', ('bridge', 'length meters', 9), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [14], [], [[9], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  10
query  :  SELECT TYPE ,  count(*) FROM mill GROUP BY TYPE ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('mill', '*', 0), 'count', ('mill', 'type', 15), 'groupBy', 'orderBy', ('mill', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [0, 15], [2], [], [15], 0, [0], [2], 2]

-------------------------------
len of hisotry:  16 len of labels:  15 len of masks:  16
query  :  SELECT count(*) FROM architect WHERE id NOT IN ( SELECT architect_id FROM mill WHERE built_year  <  1850 );
history:  ['root', 'none', 'select', ('mill', '*', 0), 'count', 'where', ('architect', 'id', 1), 'not in', 'root', 'none', 'select', ('mill', 'architect id', 11), 'where', ('mill', 'built year', 16), '<', [1850.0]]
masks   :  [0, 1, 2, 4, 2, [2, 8], 5, 3, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [0], [2], [[1], []], [0, []], [7], -1, 0, [0], [11], [], [[16], []], [2], [1, [1850.0]]]

-------------------------------
len of hisotry:  11 len of labels:  10 len of masks:  12
query  :  SELECT t1.name FROM bridge AS t1 JOIN architect AS t2 ON t1.architect_id  =  t2.id WHERE t2.nationality  =  'American' ORDER BY t1.length_feet
history:  ['root', 'none', 'select', ('bridge', 'name', 7), 'where', ('architect', 'nationality', 3), '=', ['VALUE_0'], 'orderBy', ('bridge', 'length feet', 10), 1]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 4, 6]
label  :  [0, [0, 2], [7], [], [[3], []], [0], [1, ['VALUE_0']], [10], [], 1]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM book_club
history:  ['root', 'none', 'select', ('culture company', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT count(*) FROM book_club
history:  ['root', 'none', 'select', ('culture company', '*', 0), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [0], [2]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT book_title ,  author_or_editor FROM book_club WHERE YEAR  >  1989
history:  ['root', 'none', 'select', ('book club', 'author or editor', 3), ('book club', 'book title', 4), 'where', ('book club', 'year', 2), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [3, 4], [], [], [[2], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  9 len of labels:  8 len of masks:  9
query  :  SELECT book_title ,  author_or_editor FROM book_club WHERE YEAR  >  1989
history:  ['root', 'none', 'select', ('book club', 'author or editor', 3), ('book club', 'book title', 4), 'where', ('book club', 'year', 2), '>', ['VALUE_0']]
masks   :  [0, 1, 2, 4, 4, 2, [2, 8], 3, [9, 5]]
label  :  [0, [0], [3, 4], [], [], [[2], []], [1], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT publisher FROM book_club
history:  ['root', 'none', 'select', ('book club', 'publisher', 5)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [5], []]

-------------------------------
len of hisotry:  4 len of labels:  4 len of masks:  4
query  :  SELECT DISTINCT publisher FROM book_club
history:  ['root', 'none', 'select', ('book club', 'publisher', 5)]
masks   :  [0, 1, 2, 4]
label  :  [0, [], [5], []]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT YEAR ,  book_title ,  publisher FROM book_club ORDER BY YEAR DESC
history:  ['root', 'none', 'select', ('book club', 'publisher', 5), ('book club', 'book title', 4), ('book club', 'year', 2), 'orderBy', ('book club', 'year', 2), 3]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6]
label  :  [0, [2], [2, 4, 5], [], [], [], [2], [], 3]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT YEAR ,  book_title ,  publisher FROM book_club ORDER BY YEAR DESC
history:  ['root', 'none', 'select', ('book club', 'publisher', 5), ('book club', 'book title', 4), ('book club', 'year', 2), 'orderBy', ('book club', 'year', 2), 3]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6]
label  :  [0, [2], [2, 4, 5], [], [], [], [2], [], 3]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT publisher ,  count(*) FROM book_club GROUP BY publisher
history:  ['root', 'none', 'select', ('culture company', '*', 0), 'count', ('book club', 'publisher', 5), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 5], [2], [], [5], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT publisher ,  count(*) FROM book_club GROUP BY publisher
history:  ['root', 'none', 'select', ('culture company', '*', 0), 'count', ('book club', 'publisher', 5), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 5], [2], [], [5], 0]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT publisher FROM book_club GROUP BY publisher ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('book club', 'publisher', 5), 'groupBy', 'orderBy', ('culture company', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT publisher FROM book_club GROUP BY publisher ORDER BY count(*) DESC LIMIT 1
history:  ['root', 'none', 'select', ('book club', 'publisher', 5), 'groupBy', 'orderBy', ('culture company', '*', 0), 'count', 2]
masks   :  [0, 1, 2, 4, 2, 7, 2, 4, 6]
label  :  [0, [1, 2], [5], [], [5], 0, [0], [2], 2]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT category ,  count(*) FROM book_club GROUP BY category
history:  ['root', 'none', 'select', ('culture company', '*', 0), 'count', ('book club', 'category', 6), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 6], [2], [], [6], 0]

-------------------------------
len of hisotry:  7 len of labels:  7 len of masks:  7
query  :  SELECT category ,  count(*) FROM book_club GROUP BY category
history:  ['root', 'none', 'select', ('culture company', '*', 0), 'count', ('book club', 'category', 6), 'groupBy']
masks   :  [0, 1, 2, 4, 4, 2, 7]
label  :  [0, [1], [0, 6], [2], [], [6], 0]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT category FROM book_club WHERE YEAR  >  1989 GROUP BY category HAVING count(*)  >=  2
history:  ['root', 'none', 'select', ('book club', 'category', 6), 'where', ('book club', 'year', 2), '>', ['VALUE_0'], 'groupBy', 'having', ('culture company', '*', 0), 'count', '>=', ['VALUE_1']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [0, 1], [6], [], [[2], []], [1], [1, ['VALUE_0']], [6], 1, [0], [2], [3], [1, ['VALUE_1']]]

-------------------------------
len of hisotry:  14 len of labels:  13 len of masks:  15
query  :  SELECT category FROM book_club WHERE YEAR  >  1989 GROUP BY category HAVING count(*)  >=  2
history:  ['root', 'none', 'select', ('book club', 'category', 6), 'where', ('book club', 'year', 2), '>', ['VALUE_0'], 'groupBy', 'having', ('culture company', '*', 0), 'count', '>=', ['VALUE_1']]
masks   :  [0, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 2, 7, 2, 4, 3, [9, 5]]
label  :  [0, [0, 1], [6], [], [[2], []], [1], [1, ['VALUE_0']], [6], 1, [0], [2], [3], [1, ['VALUE_1']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT publisher FROM book_club WHERE YEAR  =  1989 INTERSECT SELECT publisher FROM book_club WHERE YEAR  =  1990
history:  ['root', 'intersect', 'root', 'none', 'select', ('book club', 'publisher', 5), 'where', ('book club', 'year', 2), '=', [1990.0], 'root', 'none', 'select', ('book club', 'publisher', 5), 'where', ('book club', 'year', 2), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [5], [], [[2], []], [0], [1, [1990.0]], -1, 0, [0], [5], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  18 len of labels:  17 len of masks:  19
query  :  SELECT publisher FROM book_club WHERE YEAR  =  1989 INTERSECT SELECT publisher FROM book_club WHERE YEAR  =  1990
history:  ['root', 'intersect', 'root', 'none', 'select', ('book club', 'publisher', 5), 'where', ('book club', 'year', 2), '=', [1990.0], 'root', 'none', 'select', ('book club', 'publisher', 5), 'where', ('book club', 'year', 2), '=', ['VALUE_0']]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5]]
label  :  [1, -1, 0, [0], [5], [], [[2], []], [0], [1, [1990.0]], -1, 0, [0], [5], [], [[2], []], [0], [1, ['VALUE_0']]]

-------------------------------
len of hisotry:  14 len of labels:  14 len of masks:  15
query  :  SELECT publisher FROM book_club EXCEPT SELECT publisher FROM book_club WHERE YEAR  =  1989
history:  ['root', 'except', 'root', 'none', 'select', ('book club', 'publisher', 5), 'where', ('book club', 'year', 2), '=', [1989.0], 'root', 'none', 'select', ('book club', 'publisher', 5)]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4]
label  :  [3, -1, 0, [0], [5], [], [[2], []], [0], [1, [1989.0]], -1, 0, [], [5], []]

-------------------------------
len of hisotry:  14 len of labels:  14 len of masks:  15
query  :  SELECT publisher FROM book_club EXCEPT SELECT publisher FROM book_club WHERE YEAR  =  1989
history:  ['root', 'except', 'root', 'none', 'select', ('book club', 'publisher', 5), 'where', ('book club', 'year', 2), '=', [1989.0], 'root', 'none', 'select', ('book club', 'publisher', 5)]
masks   :  [0, 0, 5, 1, 2, 4, 2, [2, 8], 3, [9, 5], -1, 5, 1, 2, 4]
label  :  [3, -1, 0, [0], [5], [], [[2], []], [0], [1, [1989.0]], -1, 0, [], [5], []]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT title ,  YEAR ,  director FROM movie ORDER BY budget_million
history:  ['root', 'none', 'select', ('movie', 'director', 11), ('movie', 'year', 10), ('movie', 'title', 9), 'orderBy', ('movie', 'budget million', 12), 1]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6]
label  :  [0, [2], [9, 10, 11], [], [], [], [12], [], 1]

-------------------------------
len of hisotry:  9 len of labels:  9 len of masks:  9
query  :  SELECT title ,  YEAR ,  director FROM movie ORDER BY budget_million
history:  ['root', 'none', 'select', ('movie', 'director', 11), ('movie', 'year', 10), ('movie', 'title', 9), 'orderBy', ('movie', 'budget million', 12), 1]
masks   :  [0, 1, 2, 4, 4, 4, 2, 4, 6]
label  :  [0, [2], [9, 10, 11], [], [], [], [12], [], 1]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT COUNT (DISTINCT director) FROM movie
history:  ['root', 'none', 'select', ('movie', 'director', 11), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [11], [2]]

-------------------------------
len of hisotry:  5 len of labels:  4 len of masks:  4
query  :  SELECT COUNT (DISTINCT director) FROM movie
history:  ['root', 'none', 'select', ('movie', 'director', 11), 'count']
masks   :  [0, 1, 2, 4]
label  :  [0, [], [11], [2]]


In [2]:
UNK_WORD = '<unk>'
UNK = 0
PAD_WORD = '<blank>'
PAD = 1
BOS_WORD = '<s>'
BOS = 2
EOS_WORD = '</s>'
EOS = 3
SKP_WORD = '<sk>'
SKP = 4
RIG_WORD = '<]>'
RIG = 5
LFT_WORD = '<[>'
LFT = 6
special_token_list = [UNK_WORD, PAD_WORD, BOS_WORD, EOS_WORD, SKP_WORD, RIG_WORD, LFT_WORD]

In [3]:
def get_parent_index(tk_list):
    stack = [0]
    r_list = []
    for i, tk in enumerate(tk_list):
        r_list.append(stack[-1])
        if tk.startswith('('):
            # +1: because the parent of the top level is 0
            stack.append(i+1)
        elif tk ==')':
            stack.pop()
    # for EOS (</s>)
    r_list.append(0)
    return r_list


def get_tgt_mask(lay_skip):
    # 0: use layout encoding vectors; 1: use target word embeddings;
    # with a <s> token at the first position
    return [1] + [1 if tk in (SKP_WORD, RIG_WORD) else 0 for tk in lay_skip]


def get_lay_index(lay_skip):
    # with a <s> token at the first position
    r_list = [0]
    k = 0
    for tk in lay_skip:
        if tk in (SKP_WORD, RIG_WORD):
            r_list.append(0)
        else:
            r_list.append(k)
            k += 1
    return r_list


def get_tgt_loss(line, mask_target_loss):
    r_list = []
    for tk_tgt, tk_lay_skip in zip(line['tgt'], line['lay_skip']):
        if tk_lay_skip in (SKP_WORD, RIG_WORD):
            r_list.append(tk_tgt)
        else:
            if mask_target_loss:
                r_list.append(PAD_WORD)
            else:
                r_list.append(tk_tgt)
    return r_list


def __getstate__(self):
    return dict(self.__dict__, stoi=dict(self.stoi))


def __setstate__(self, state):
    self.__dict__.update(state)
    self.stoi = defaultdict(lambda: 0, self.stoi)


torchtext.vocab.Vocab.__getstate__ = __getstate__
torchtext.vocab.Vocab.__setstate__ = __setstate__


def filter_counter(freqs, min_freq):
    cnt = Counter()
    for k, v in freqs.items():
        if (min_freq is None) or (v >= min_freq):
            cnt[k] = v
    return cnt


def merge_vocabs(vocabs, min_freq=0, vocab_size=None):
    """
    Merge individual vocabularies (assumed to be generated from disjoint
    documents) into a larger vocabulary.

    Args:
        vocabs: `torchtext.vocab.Vocab` vocabularies to be merged
        vocab_size: `int` the final vocabulary size. `None` for no limit.
    Return:
        `torchtext.vocab.Vocab`
    """
    merged = Counter()
    for vocab in vocabs:
        merged += filter_counter(vocab.freqs, min_freq)
    return torchtext.vocab.Vocab(merged,
                                 specials=list(special_token_list),
                                 max_size=vocab_size, min_freq=min_freq)


def join_dicts(*args):
    """
    args: dictionaries with disjoint keys
    returns: a single dictionary that has the union of these keys
    """
    return dict(chain(*[d.items() for d in args]))

def _preprocess_json(js):
    t = SCode((js['token'], js['type']))
    js['lay'] = t.layout(add_skip=False)
    js['lay_skip'] = t.layout(add_skip=True)
    assert len(t.target()) == len(js['lay_skip']), (list(zip(t.target(), js['lay_skip'])), ' '.join(js['tgt']))
    js['tgt'] = t.target()

def read_anno_json(anno_path):
    with codecs.open(anno_path, "r", "utf-8") as corpus_file:
        js_list = [json.loads(line) for line in corpus_file]
        js_list = js_list[:5]
        for js in js_list:
            _preprocess_json(js)
    return js_list

In [11]:
js_list = read_anno_json(test_anno)

In [16]:
def process_data(js_list):
    for js in js_list:
        print("\n"+"-"*50)
        for field in ['src', "token", "type", 'lay', "lay_index", "lay_parent_index",\
                      "copy_to_tgt", "copy_to_ext", "tgt_mask", "tgt", "tgt_copy_ext",\
                      "tgt_parent_index", "tgt_loss"]:
            if field in ('src', 'lay', "token", "type"):
                lines = js[field]
            elif field in ('copy_to_tgt','copy_to_ext'):
                lines = js['src']
            elif field in ('tgt',):
                def _tgt(line):
                    r_list = []
                    for tk_tgt, tk_lay_skip in zip(line['tgt'], line['lay_skip']):
                        if tk_lay_skip in (SKP_WORD, RIG_WORD):
                            r_list.append(tk_tgt)
                        else:
                            r_list.append(PAD_WORD)
                    return r_list
                lines = _tgt(js)
            elif field in ('tgt_copy_ext',):
                def _tgt_copy_ext(line):
                    r_list = []
                    src_set = set(line['src'])
                    for tk_tgt in line['tgt']:
                        if tk_tgt in src_set:
                            r_list.append(tk_tgt)
                        else:
                            r_list.append(UNK_WORD)
                    return r_list
                lines = _tgt_copy_ext(js)
            elif field in ('tgt_loss',):
                lines = get_tgt_loss(js, False)
            elif field in ('tgt_mask',):
                lines = get_tgt_mask(js['lay_skip'])
            elif field in ('lay_index',):
                lines = get_lay_index(js['lay_skip'])
            elif field in ('lay_parent_index',):
                lines = get_parent_index(js['lay'])
            elif field in ('tgt_parent_index',):
                lines = get_parent_index(js['tgt'])
            else:
                raise NotImplementedError

            print(field + ": ", lines)

In [17]:
process_data(js_list)

--------------------------------------------------
src:  ['send', 'a', 'signal', '`', 'signal.SIGUSR1', '`', 'to', 'the', 'current', 'process']
token:  ['os', '.', 'kill', '(', 'os', '.', 'getpid', '(', ')', ',', 'signal', '.', 'SIGUSR1', ')']
type:  ['KEYWORD', 'OP', 'KEYWORD', 'OP', 'KEYWORD', 'OP', 'KEYWORD', 'OP', 'OP', 'OP', 'KEYWORD', 'OP', 'KEYWORD', 'OP']
lay:  ['os', '.', 'kill', '(', 'os', '.', 'getpid', '(', ')', ',', 'signal', '.', 'SIGUSR1', ')']
lay_index:  [0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
lay_parent_index:  [0, 0, 0, 0, 4, 4, 4, 4, 8, 4, 4, 4, 4, 4, 0]
copy_to_tgt:  ['send', 'a', 'signal', '`', 'signal.SIGUSR1', '`', 'to', 'the', 'current', 'process']
copy_to_ext:  ['send', 'a', 'signal', '`', 'signal.SIGUSR1', '`', 'to', 'the', 'current', 'process']
tgt_mask:  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
tgt:  ['<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>']
tgt_copy_ext:  ['<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', 'signal', '<unk>', '<unk>', '<unk>']
tgt_parent_index:  [0, 0, 0, 0, 4, 4, 4, 4, 8, 4, 4, 4, 4, 4, 0]
tgt_loss:  ['os', '.', 'kill', '(', 'os', '.', 'getpid', '(', ')', ',', 'signal', '.', 'SIGUSR1', ')']

--------------------------------------------------
src:  ['decode', 'a', 'hex', 'string', "'4a4b4c", "'", 'to', 'UTF-8', '.']
token:  ['bytes', '.', 'fromhex', '(', "'4a4b4c'", ')', '.', 'decode', '(', "'utf-8'", ')']
type:  ['KEYWORD', 'OP', 'KEYWORD', 'OP', 'STRING', 'OP', 'OP', 'KEYWORD', 'OP', 'STRING', 'OP']
lay:  ['bytes', '.', 'fromhex', '(', 'STRING', ')', '.', 'decode', '(', 'STRING', ')']
lay_index:  [0, 0, 1, 2, 3, 4, 0, 5, 6, 7, 8, 9, 0, 10]
lay_parent_index:  [0, 0, 0, 0, 4, 4, 0, 0, 0, 9, 9, 0]
copy_to_tgt:  ['decode', 'a', 'hex', 'string', "'4a4b4c", "'", 'to', 'UTF-8', '.']
copy_to_ext:  ['decode', 'a', 'hex', 'string', "'4a4b4c", "'", 'to', 'UTF-8', '.']
tgt_mask:  [1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0]
tgt:  ['<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<]>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<]>', '<blank>']
tgt_copy_ext:  ['<unk>', '.', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '.', 'decode', '<unk>', '<unk>', '<unk>', '<unk>']
tgt_parent_index:  [0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 10, 10, 10, 0]
tgt_loss:  ['bytes', '.', 'fromhex', '(', '<[>', '<]>', ')', '.', 'decode', '(', '<[>', '<]>', ')']

--------------------------------------------------
src:  ['check', 'if', 'all', 'elements', 'in', 'list', '`', 'myList', '`', 'are', 'identical']
token:  ['all', '(', 'x', '==', 'myList', '[', '0', ']', 'for', 'x', 'in', 'myList', ')']
type:  ['KEYWORD', 'OP', 'NAME', 'OP', 'KEYWORD', 'OP', 'NUMBER', 'OP', 'KEYWORD', 'NAME', 'KEYWORD', 'KEYWORD', 'OP']
lay:  ['all', '(', 'NAME', '==', 'myList', '[', 'NUMBER', ']', 'for', 'NAME', 'in', 'myList', ')']
lay_index:  [0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
lay_parent_index:  [0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0]
copy_to_tgt:  ['check', 'if', 'all', 'elements', 'in', 'list', '`', 'myList', '`', 'are', 'identical']
copy_to_ext:  ['check', 'if', 'all', 'elements', 'in', 'list', '`', 'myList', '`', 'are', 'identical']
tgt_mask:  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
tgt:  ['<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>']
tgt_copy_ext:  ['all', '<unk>', '<unk>', '<unk>', 'myList', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', 'in', 'myList', '<unk>']
tgt_parent_index:  [0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0]
tgt_loss:  ['all', '(', 'x', '==', 'myList', '[', '0', ']', 'for', 'x', 'in', 'myList', ')']

--------------------------------------------------
src:  ['format', 'number', 'of', 'spaces', 'between', 'strings', '`', 'Python', '`', ',', '`', ':', '`', 'and', '`', 'Very', 'Good', '`', 'to', 'be', '`', '20', '`']
token:  ['print', '(', "'%*s#SPACE#:#SPACE#%*s'", '%', '(', '20', ',', "'Python'", ',', '20', ',', "'Very#SPACE#Good'", ')', ')']
type:  ['KEYWORD', 'OP', 'STRING', 'OP', 'OP', 'NUMBER', 'OP', 'STRING', 'OP', 'NUMBER', 'OP', 'STRING', 'OP', 'OP']
lay:  ['print', '(', 'STRING', '%', '(', 'NUMBER', ',', 'STRING', ',', 'NUMBER', ',', 'STRING', ')', ')']
lay_index:  [0, 0, 1, 2, 0, 3, 4, 5, 6, 7, 0, 8, 9, 10, 11, 0, 12, 13]
lay_parent_index:  [0, 0, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 2, 0]
copy_to_tgt:  ['format', 'number', 'of', 'spaces', 'between', 'strings', '`', 'Python', '`', ',', '`', ':', '`', 'and', '`', 'Very', 'Good', '`', 'to', 'be', '`', '20', '`']
copy_to_ext:  ['format', 'number', 'of', 'spaces', 'between', 'strings', '`', 'Python', '`', ',', '`', ':', '`', 'and', '`', 'Very', 'Good', '`', 'to', 'be', '`', '20', '`']
tgt_mask:  [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]
tgt:  ['<blank>', '<blank>', '<blank>', '<]>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<]>', '<blank>', '<blank>', '<blank>', '<blank>', '<]>', '<blank>', '<blank>']
tgt_copy_ext:  ['<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '20', ',', '<unk>', '<unk>', ',', '20', ',', '<unk>', '<unk>', '<unk>', '<unk>']
tgt_parent_index:  [0, 0, 2, 2, 2, 2, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 2, 0]
tgt_loss:  ['print', '(', '<[>', '<]>', '%', '(', '20', ',', '<[>', '<]>', ',', '20', ',', '<[>', '<]>', ')', ')']

--------------------------------------------------
src:  ['How', 'to', 'convert', 'a', 'string', 'from', 'CP-1251', 'to', 'UTF-8', '?']
token:  ['d', '.', 'decode', '(', "'cp1251'", ')', '.', 'encode', '(', "'utf8'", ')']
type:  ['NAME', 'OP', 'KEYWORD', 'OP', 'STRING', 'OP', 'OP', 'KEYWORD', 'OP', 'STRING', 'OP']
lay:  ['NAME', '.', 'decode', '(', 'STRING', ')', '.', 'encode', '(', 'STRING', ')']
lay_index:  [0, 0, 1, 2, 3, 4, 0, 5, 6, 7, 8, 9, 0, 10]
lay_parent_index:  [0, 0, 0, 0, 4, 4, 0, 0, 0, 9, 9, 0]
copy_to_tgt:  ['How', 'to', 'convert', 'a', 'string', 'from', 'CP-1251', 'to', 'UTF-8', '?']
copy_to_ext:  ['How', 'to', 'convert', 'a', 'string', 'from', 'CP-1251', 'to', 'UTF-8', '?']
tgt_mask:  [1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0]
tgt:  ['<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<]>', '<blank>', '<blank>', '<blank>', '<blank>', '<blank>', '<]>', '<blank>']
tgt_copy_ext:  ['<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>', '<unk>']
tgt_parent_index:  [0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 10, 10, 10, 0]
tgt_loss:  ['d', '.', 'decode', '(', '<[>', '<]>', ')', '.', 'encode', '(', '<[>', '<]>', ')']