In [1]:
import os
import argparse
import codecs
import json
import random as rnd
import numpy as np
from collections import Counter, defaultdict
from itertools import chain, count
from six import string_types
import torch
import torchtext.data
import torchtext.vocab

# import table
# import table.IO
# import opts
# from tree import SCode

In [2]:
OLD_WHERE_OPS = ('not', 'between', '=', '>', '<', '>=', '<=', '!=', 'in', 'like', 'is', 'exists')
NEW_WHERE_OPS = ('=','>','<','>=','<=','!=','like','not in','in','between','is')
NEW_WHERE_DICT = {
    '=': 0,
    '>': 1,
    '<': 2,
    '>=': 3,
    '<=': 4,
    '!=': 5,
    'like': 6,
    'not in': 7,
    'in': 8,
    'between': 9,
    'is':10
}
# SQL_OPS = ('none','intersect', 'union', 'except')
SQL_OPS = {
    'none': 0,
    'intersect': 1,
    'union': 2,
    'except': 3
}
KW_DICT = {
    'where': 0,
    'groupBy': 1,
    'orderBy': 2
}
ORDER_OPS = {
    'desc': 0,
    'asc': 1}
AGG_OPS = ('none','max', 'min', 'count', 'sum', 'avg')

COND_OPS = {
    'and':0,
    'or':1
}

ORDER_DICT = {
    0:"asc_limit",
    1:"asc",
    2:"desc_limit",
    3: "desc"
}

TRAIN_COMPONENTS = ('multi_sql','keyword','col','op','agg','root_tem','des_asc','having','andor','value')
COMPONENTS_DICT = {
    'multi_sql':0,
    'keyword':1,
    'col':2,
    'op':3,
    'agg':4,
    'root_tem':5,
    'des_asc':6,
    'having':7,
    'andor':8,
    'value':9
}

In [3]:
def convert_to_op_index(is_not,op):
    op = OLD_WHERE_OPS[op]
    if is_not and op == "in":
        return 7
    try:
        return NEW_WHERE_DICT[op]
    except:
        print("Unsupport op: {}".format(op)) # TODO: check ! =
        return -1

def index_to_column_name(index, table):
    column_name = table["column_names"][index][1]
    table_index = table["column_names"][index][0]
    table_name = table["table_names"][table_index]
    return table_name, column_name, index


def get_label_cols(with_join,fk_dict,labels):
    # list(set([l[1][i][0][2] for i in range(min(len(l[1]), 3))]))
    cols = set()
    ret = []
    for i in range(len(labels)):
        cols.add(labels[i][0][2]) # still col index
        if len(cols) > 3:
            break
    for col in cols:
        # ret.append([col])
        if with_join and len(fk_dict[col]) > 0:
            ret.append(col) #ret.append([col]+fk_dict[col]) TODO: fk_dict removed
        else:
            ret.append(col)
    return ret


# history added
class MultiSqlPredictor:
    def __init__(self, question, sql, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.keywords = ('intersect', 'except', 'union')

    def generate_output(self):
        for key in self.sql:
            if key in self.keywords and self.sql[key]:
                return self.history + ['root'], key, self.sql[key]
        return self.history + ['root'], 'none', self.sql


class KeyWordPredictor:
    def __init__(self, question, sql, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.keywords = ('select', 'where', 'groupBy', 'orderBy', 'limit', 'having')

    def generate_output(self):
        sql_keywords = []
        for key in self.sql:
            if key in self.keywords and self.sql[key]: # included other keywords
                sql_keywords.append(key)
        return self.history, [len(sql_keywords), sql_keywords], self.sql


# history added
class ColPredictor:
    def __init__(self, question, sql, table, history, kw=None):
        self.sql = sql
        self.question = question
        self.history = history
        self.table = table
        self.keywords = ('select', 'where', 'groupBy', 'orderBy', 'having')
        self.kw = kw

    def generate_output(self):
        ret = []
        candidate_keys = self.sql.keys()
        if self.kw:
            candidate_keys = [self.kw]
        for key in candidate_keys:
            if key in self.keywords and self.sql[key]:
                cols = []
                sqls = []
                if key == 'groupBy':
                    sql_cols = self.sql[key]
                    for col in sql_cols:
                        cols.append((index_to_column_name(col[1], self.table), col[2]))
                        sqls.append(col) # col_unit1
                elif key == 'orderBy':
                    sql_cols = self.sql[key][1]
                    for col in sql_cols: # only contain col_unit1 in val_unit: (unit_op, col_unit1, col_unit2)
                        cols.append((index_to_column_name(col[1][1], self.table), col[1][2]))
                        sqls.append(col) # val_unit1
                elif key == 'select':
                    sql_cols = self.sql[key][1]
                    for col in sql_cols:  # only contain col_unit1 in val_unit
                        cols.append((index_to_column_name(col[1][1][1], self.table), col[1][1][2]))
                        sqls.append(col) # (agg_id, val_unit)
                elif key == 'where' or key == 'having':
                    sql_cols = self.sql[key]
                    for col in sql_cols: # TODO: check this one!
                        if not isinstance(col, list):
                            continue
                        try: # col_id of col_unit of val_unit of cond_unit of condition
                            cols.append((index_to_column_name(col[2][1][1], self.table), col[2][1][2]))
                        except:
                            print("Key:{} Col:{} Question:{}".format(key, col, self.question))
                        sqls.append(col) # cond_unit
                ret.append((
                    self.history + [key], (len(cols), cols), sqls
                ))
        return ret
        # ret.append(history+[key],)


class OpPredictor:
    def __init__(self, question, sql, history):
        self.sql = sql # check sql is cond_unit
        self.question = question
        self.history = history # history not change
        # self.keywords = ('select', 'where', 'groupBy', 'orderBy', 'having')

    def generate_output(self): # sql3: val_unit, sql4: val1
        return self.history, convert_to_op_index(self.sql[0],self.sql[1]), (self.sql[3], self.sql[4])


class AggPredictor:
    def __init__(self, question, sql, history,kw=None):
        self.sql = sql
        self.question = question
        self.history = history
        self.kw = kw
    def generate_output(self):
        label = -1
        if self.kw:
            key = self.kw
        else:
            key = self.history[-2]
        if key == 'select':
            label = self.sql[0] # check sql: (agg_id, val_unit)
        elif key == 'orderBy':
            label = self.sql[1][0] # check sql: val_unit1
        elif key == 'having':
            label = self.sql[2][1][0] # check sql: cond_unit
        else: # ADDED
            print("\n Unexpected pre-agg key: ", key)
            exit()
        return self.history, label

# TODO: check why not RootTemPredictor

# class RootTemPredictor:
#     def __init__(self, question, sql):
#         self.sql = sql
#         self.question = question
#         self.keywords = ('intersect', 'except', 'union')
#
#     def generate_output(self):
#         for key in self.sql:
#             if key in self.keywords:
#                 return ['ROOT'], key, self.sql[key]
#         return ['ROOT'], 'none', self.sql


# history added orderBy only one col and agg! TODO: CHECK multiple orderBy columns
class DesAscPredictor:
    def __init__(self, question, sql, table, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.table = table

    def generate_output(self):
        for key in self.sql: # check sql: whole sql
            if key == "orderBy" and self.sql[key]:
                # self.history.append(key)
                try:
                    col = self.sql[key][1][0][1][1] # w
                except:
                    print("question:{} sql:{}".format(self.question, self.sql))
                # self.history.append(index_to_column_name(col, self.table))
                # self.history.append(self.sql[key][1][0][1][0])
                if self.sql[key][0] == "asc" and self.sql["limit"]: # TODO: get limit value and labels
                    label = 0
                elif self.sql[key][0] == "asc" and not self.sql["limit"]:
                    label = 1
                elif self.sql[key][0] == "desc" and self.sql["limit"]:
                    label = 2
                else:
                    label = 3                                           # agg_id in col_unit of val_unit in orderBy
                return self.history+[index_to_column_name(col, self.table), self.sql[key][1][0][1][0]], label


class AndOrPredictor:
    def __init__(self, question, sql, table, history):
        self.sql = sql
        self.question = question
        self.history = history
        self.table = table

    def generate_output(self):
        if 'where' in self.sql and self.sql['where'] and len(self.sql['where']) > 1:
            return self.history, COND_OPS[self.sql['where'][1]]
        return self.history,-1
    
    
def get_table_dict(table_data_path):
    data = json.load(open(table_data_path))
    table = dict()
    for item in data:
        table[item["db_id"]] = item
    return table

In [4]:
def parse_data_full_history(question_tokens, sql, table, history):
    table_schema = [
        table["table_names"],
        table["column_names"],
        table["column_types"]
    ]
    full_labels = []
    masks = [COMPONENTS_DICT['multi_sql']]
    stack = [("root", sql)]
    with_join = False
    fk_dict = defaultdict(list)
    for fk in table["foreign_keys"]:
        fk_dict[fk[0]].append(fk[1])
        fk_dict[fk[1]].append(fk[0])
    while len(stack) > 0:
        node = stack.pop()
        if node[0] == "root":
            if len(masks) > 1:
                masks.append(COMPONENTS_DICT['root_tem'])
                full_labels.append(-1)
            history, label, sql = MultiSqlPredictor(question_tokens, node[1], history).generate_output()
            full_labels.append(SQL_OPS[label])
            history.append(label)
            if label == "none":
                stack.append((label, sql))
                masks.append(COMPONENTS_DICT['keyword'])
            else:
                node[1][label] = None
                stack.append((label, node[1], sql)) # TODO: double check
                masks.append(COMPONENTS_DICT['multi_sql'])
                # if label != "none":
                # stack.append(("none",node[1]))
        elif node[0] in ('intersect', 'except', 'union'):
            stack.append(("root", node[1]))
            stack.append(("root", node[2]))
        elif node[0] == "none":
            with_join = len(node[1]["from"]["table_units"]) > 1
            history, label, sql = KeyWordPredictor(question_tokens, node[1], history).generate_output()
            # full_labels.append(label)
            # [len(sql_keywords), sql_keywords]

            label_idxs = []
            for item in label[1]:
                if item in KW_DICT:
                    label_idxs.append(KW_DICT[item])
            label_idxs.sort()
            full_labels.append(label_idxs)

            if "orderBy" in label[1]:
                stack.append(("orderBy", node[1]))
            if "groupBy" in label[1]:
                has_having = "having" in label[1]

                stack.append(("groupBy", node[1], has_having))
            if "where" in label[1]:
                stack.append(("where", node[1]))
            if "select" in label[1]:
                stack.append(("select", node[1]))

        elif node[0] in ("select", "having", "orderBy"):
            # if node[0] != "orderBy":
            history.append(node[0])
            masks.append(COMPONENTS_DICT['col'])

            col_ret = ColPredictor(question_tokens, node[1], table, history, node[0]).generate_output()
            agg_col_dict = dict()
            op_col_dict = dict()
            if len(col_ret) > 1:
                print("\nWarning: why return more than one col_ret!")
                exit()
            # history + [key], (len(cols), cols), sqls
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("\nWarning: predicted 0 columns!")
                    exit()

                full_labels.append(get_label_cols(with_join, fk_dict, l[1]))
                for col, sql_item in zip(l[1], s):
                    key = "{}{}{}".format(col[0][0], col[0][1], col[0][2]) #table_name, column_name, index
                    # sql_item: (agg_id, val_unit)/select, val_unit1/orderBy, col_unit1/groupBy, cond_unit/where/having
                    if key not in agg_col_dict:
                        agg_col_dict[key] = [(sql_item, col[0])]
                    else:
                        agg_col_dict[key].append((sql_item, col[0])) # for the same col with multiple agg
                    if key not in op_col_dict:
                        op_col_dict[key] = [(sql_item, col[0])]
                    else:
                        op_col_dict[key].append((sql_item, col[0]))
                for key in agg_col_dict:
                    stack.append(("col", node[0], agg_col_dict[key], op_col_dict[key]))
        elif node[0] == "col":
            # full_labels.append(node[2][-1])
            history.append(node[2][0][1])
            if node[1] == "where":
                # stack.append(("value", node[2], "where"))
                stack.append(("op", node[2], "where"))
                # masks.append(COMPONENTS_DICT['op'])
            elif node[1] != "groupBy":
                labels = []
                for sql_item, col in node[2]:
                    _, label = AggPredictor(question_tokens, sql_item, history, node[1]).generate_output()
                    if label - 1 >= 0:
                        labels.append(label - 1) # TODO: check why -1

                # print(node[2][0][1][2])
                masks.append(COMPONENTS_DICT['agg'])
                full_labels.append(labels[:min(len(labels), 3)])

                if node[1] == "having":
                    # stack.append(("value", node[2], "having"))
                    stack.append(("op", node[2], "having"))
                if node[1] == "orderBy":
                    stack.append(("des_asc", sql))

                if len(labels) > 0:
                    history.append(AGG_OPS[labels[0] + 1])

        elif node[0] == "des_asc":
            orderby_ret = DesAscPredictor(question_tokens, node[1], table, history).generate_output()

            if not orderby_ret:
                continue
            masks.append(COMPONENTS_DICT['des_asc'])
            # print(node[1])
            history.append(orderby_ret[1])
            full_labels.append(orderby_ret[1])
            if len(stack) > 0:
                masks.append(-1)
        elif node[0] == "value":
            masks.append([COMPONENTS_DICT['value'],COMPONENTS_DICT['root_tem']])
            val1 = node[1][3]
            val2 = node[1][4]
            if val2:
                if len(stack) > 0:
                    masks.append(-1)
                full_labels.append([1,[val1,val2]])
                history.append([val1,val2])
            else:
                if len(stack) > 0:
                    masks.append(-1)
                full_labels.append([1,[val1]])
                history.append([val1])

        elif node[0] == "op":
            labels = []

            for sql_item, col in node[1]:
                _, label, s = OpPredictor(question_tokens, sql_item, history).generate_output()
                if label != -1:
                    labels.append(label)
                    history.append(NEW_WHERE_OPS[label])

                # masks.append(COMPONENTS_DICT['root_tem'])
                if isinstance(s[0], dict):
                    stack.append(("root", s[0]))
                    masks.append(COMPONENTS_DICT['root_tem'])
                    full_labels.append([0,[]])
                else:
                    stack.append(("value",sql_item))

            if len(labels) > 2:
                print(question_tokens)

            masks.append(COMPONENTS_DICT['op'])
            full_labels.append(labels)
        elif node[0] == "where":
            history.append(node[0])
            hist, andor_label = AndOrPredictor(question_tokens, node[1], table, history).generate_output()

            col_ret = ColPredictor(question_tokens, node[1], table, history, "where").generate_output()
            masks.append(COMPONENTS_DICT['col'])
            op_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue

                label = get_label_cols(with_join, fk_dict, l[1])
                if len(label) > 1:
                    full_labels.append([label,[andor_label]])
                    masks.append([COMPONENTS_DICT['col'],COMPONENTS_DICT['andor']])
                else:
                    full_labels.append([label,[]])
                    masks.append([COMPONENTS_DICT['col'], COMPONENTS_DICT['andor']])
                # full_labels.append()
                for col, sql_item in zip(l[1], s):
                    key = "{}{}{}".format(col[0][0], col[0][1], col[0][2])
                    if key not in op_col_dict:
                        op_col_dict[key] = [(sql_item, col[0])]
                    else:
                        op_col_dict[key].append((sql_item, col[0]))
                for key in op_col_dict:
                    stack.append(("col", "where", op_col_dict[key]))
        elif node[0] == "groupBy":
            history.append(node[0])
            col_ret = ColPredictor(question_tokens, node[1], table, history, node[0]).generate_output()
            masks.append(COMPONENTS_DICT['col'])
            # agg_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue

                full_labels.append(get_label_cols(with_join, fk_dict, l[1]))
                if node[2]:
                    stack.append(("having", node[1]))
                    full_labels.append(1)
                    masks.append(COMPONENTS_DICT['having'])
                else:
                    full_labels.append(0)
                    masks.append(COMPONENTS_DICT['having'])

    return history,full_labels,masks

In [5]:
def parse_data_full_history(question_tokens, sql, table, history):
    table_schema = [
        table["table_names"],
        table["column_names"],
        table["column_types"]
    ]
    full_labels = []
    masks = [[COMPONENTS_DICT['multi_sql']]]
    stack = [("root", sql)]
    with_join = False
    fk_dict = defaultdict(list)
    for fk in table["foreign_keys"]:
        fk_dict[fk[0]].append(fk[1])
        fk_dict[fk[1]].append(fk[0])
    while len(stack) > 0:
        node = stack.pop()
        if node[0] == "root":
            if len(node) == 3 and node[2] == "multi":
                masks.append([0])
            # print(sql)
            # print("root")
            # if len(masks) > 1:
                # masks.append([COMPONENTS_DICT['root_tem']])
                # full_labels.append([-1])
            history, label, ret_sql = MultiSqlPredictor(question_tokens, node[1], history).generate_output()
            full_labels.append([SQL_OPS[label]])
            history.append(label)
            if label == "none":
                stack.append((label, ret_sql))
                masks.append([COMPONENTS_DICT['keyword']])
            else:
                node[1][label] = None
                stack.append((label, ret_sql, node[1]))
                masks.append([COMPONENTS_DICT['multi_sql']])
                # if label != "none":
                # stack.append(("none",node[1]))
        elif node[0] in ('intersect', 'except', 'union'):
            full_labels.append([])
            masks.append([-1])
            stack.append(("root", node[1],"multi"))
            stack.append(("root", node[2]))
        elif node[0] == "none":
            with_join = len(node[1]["from"]["table_units"]) > 1
            history, label, sql = KeyWordPredictor(question_tokens, node[1], history).generate_output()
            # full_labels.append(label)

            label_idxs = []
            for item in label[1]:
                if item in KW_DICT:
                    label_idxs.append(KW_DICT[item])
            label_idxs.sort()
            full_labels.append([label_idxs])

            # if "orderBy" in label[1] and "having" in label[1]:
            #     print("Aaaaa!!!!!!!!!")
            #     print(sql)
            # if "having" in label[1]:
            #     stack.append(("having", node[1]))
            if "orderBy" in label[1]:
                stack.append(("orderBy", node[1]))
            if "groupBy" in label[1]:
                has_having = "having" in label[1]
                # if "having" in label[1]:
                #     dataset['having_dataset'].append({
                #         "question_tokens": question_tokens,
                #         "ts": table_schema,
                #         "history": history[:],
                #         "gt_col": node[1]["groupBy"][0][1],
                #         "label": 1
                #     })
                # else:
                #     dataset['having_dataset'].append({
                #         "question_tokens": question_tokens,
                #         "ts": table_schema,
                #         "history": history[:],
                #         "gt_col": node[1]["groupBy"][0][1],
                #         "label": 0
                #     })
                stack.append(("groupBy", node[1],has_having))
            if "where" in label[1]:
                stack.append(("where", node[1]))
            if "select" in label[1]:
                stack.append(("select", node[1]))

        elif node[0] in ("select", "having", "orderBy"):
            # if node[0] != "orderBy":
            history.append(node[0])
            masks.append([COMPONENTS_DICT['col']])
            # if node[0] == "orderBy":
                # orderby_ret = DesAscPredictor(question_tokens, node[1], table, history).generate_output()
                # if orderby_ret:
                #     dataset['des_asc_dataset'].append({
                #         "question_tokens": question_tokens,
                #         "ts": table_schema,
                #         "history": orderby_ret[0],
                #         "gt_col": node[1]["orderBy"][1][0][1][1],
                #         "label": ORDER_OPS[orderby_ret[1]]
                #     })
                    # history.append(orderby_ret[1])
            col_ret = ColPredictor(question_tokens, node[1], table, history, node[0]).generate_output()
            agg_col_dict = dict()
            op_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue
                # dataset['col_dataset'].append({
                #     "question_tokens": question_tokens,
                #     "ts": table_schema,
                #     "history": history[:],
                #     "label": get_label_cols(with_join, fk_dict, l[1])
                # })
                full_labels.append([get_label_cols(with_join, fk_dict, l[1])])
                for col, sql_item in zip(l[1], s):
                    key = "{}{}{}".format(col[0][0], col[0][1], col[0][2])
                    if key not in agg_col_dict:
                        agg_col_dict[key] = [(sql_item, col[0])]
                    else:
                        agg_col_dict[key].append((sql_item, col[0]))
                    if key not in op_col_dict:
                        op_col_dict[key] = [(sql_item, col[0])]
                    else:
                        op_col_dict[key].append((sql_item, col[0]))
                for key in agg_col_dict:
                    stack.append(("col", node[0], agg_col_dict[key], op_col_dict[key]))
        elif node[0] == "col":
            # full_labels.append(node[2][-1])
            history.append(node[2][0][1])
            if node[1] == "where":
                # stack.append(("value", node[2], "where"))
                stack.append(("op", node[2], "where"))
                # masks.append(COMPONENTS_DICT['op'])
            elif node[1] != "groupBy":
                labels = []
                for sql_item, col in node[2]:
                    _, label = AggPredictor(question_tokens, sql_item, history, node[1]).generate_output()
                    if label - 1 >= 0:
                        labels.append(label - 1)

                # print(node[2][0][1][2])
                if node[1] == "orderBy":
                    stack.append(("des_asc", sql))
                    continue
                masks.append([COMPONENTS_DICT['agg']])
                full_labels.append([labels[:min(len(labels), 3)]])

                # history.append(labels[:min(len(labels), 3)])
                # dataset['agg_dataset'].append({
                #     "question_tokens": question_tokens,
                #     "ts": table_schema,
                #     "history": history[:],
                #     "gt_col": node[2][0][1][2],
                #     "label": labels[:min(len(labels), 3)]
                # })
                # stack.append(("value",node[2],node[1]))
                if node[1] == "having":
                    # stack.append(("value", node[2], "having"))
                    stack.append(("op", node[2], "having"))

                # if len(labels) == 0:
                #     history.append("none")
                # else:
                if len(labels) == 0 and node[1] == "having":
                    history.append("none")
                for v in labels:
                    history.append(AGG_OPS[v + 1])
                    if node[1] != "having":
                        masks.append([-1])
                        full_labels.append([])
                    # history.append([AGG_OPS[labels[i] + 1] for i in range(len(labels))])

        elif node[0] == "des_asc":
            orderby_ret = DesAscPredictor(question_tokens, node[1], table, history).generate_output()

            if not orderby_ret:
                continue
            masks.append([COMPONENTS_DICT['des_asc']])
            # print(node[1])
            history.append(ORDER_DICT[orderby_ret[1]])
            full_labels.append([orderby_ret[1]])
            masks.append([-1])
            full_labels.append([])
        elif node[0] == "value":
            history.append(node[2])
            masks.append([COMPONENTS_DICT['root_tem'],COMPONENTS_DICT['value']])
            val1 = 0 # TODO: node[1][3]
            val2 = 1 # TODO: node[1][4]
            full_labels.append([1, [val1, val2]])
            history.append("value") # TODO: ([val1, val2])
            masks.append([-1])
            full_labels.append([])
            # if val2:
            #     # if len(stack) > 0:
            #
            #         # masks.append(-1)
            #
            #     # history.append(val2)
            # else:
            #     # if len(stack) > 0:
            #     masks.append([-1])
            #     full_labels.append([1,[val1]])
            #     history.append([val1])

        elif node[0] == "op":
            # history.append(node[1][0][1])
            labels = []
            # if len(labels) > 2:
            #     print(question_tokens)
            # dataset['op_dataset'].append({
            #     "question_tokens": question_tokens,
            #     "ts": table_schema,
            #     "history": history[:],
            #     "gt_col": node[1][0][1][2],
            #     "label": labels
            # })


            for sql_item, col in node[1]:
                _, label, s = OpPredictor(question_tokens, sql_item, history).generate_output()
                if label != -1:
                    labels.append(label)

                # masks.append(COMPONENTS_DICT['root_tem'])
                if isinstance(s[0], dict):
                    stack.append(("root", s[0]))
                    history.append(NEW_WHERE_OPS[label])
                    # masks.append([COMPONENTS_DICT['op']])
                    # history.append("root")
                    # dataset['root_tem_dataset'].append({
                    #     "question_tokens": question_tokens,
                    #     "ts": table_schema,
                    #     "history": history[:],
                    #     "gt_col": node[1][0][1][2],
                    #     "label": 0
                    # })
                else:
                    stack.append(("value",sql_item,NEW_WHERE_OPS[label]))

                    # full_labels.append(0)
                    # dataset['root_tem_dataset'].append({
                    #     "question_tokens": question_tokens,
                    #     "ts": table_schema,
                    #     "history": history[:],
                    #     "gt_col": node[1][0][1][2],
                    #     "label": 1
                    # })
                    # history.append("terminal")
            if len(labels) > 2:
                print(question_tokens)
            # dataset['op_dataset'][-1]["label"] = labels
            # full_labels.append(labels)
            # if stack[-1][0] == "value":
            masks.append([COMPONENTS_DICT['op']])
            full_labels.append([labels])
            if stack[-1][0] == "root":
                full_labels.append([0])
                masks.append([COMPONENTS_DICT['root_tem']])
                masks.append([COMPONENTS_DICT['multi_sql']])
        elif node[0] == "where":
            history.append(node[0])
            hist, andor_label = AndOrPredictor(question_tokens, node[1], table, history).generate_output()
            # if andor_label != -1:
                # masks.append(COMPONENTS_DICT['andor'])
                # full_labels.append(label)
                # dataset['andor_dataset'].append({
                #     "question_tokens": question_tokens,
                #     "ts": table_schema,
                #     "history": history[:],
                #     "label": label
                # })
            col_ret = ColPredictor(question_tokens, node[1], table, history, "where").generate_output()
            # masks.append([COMPONENTS_DICT['col']])
            op_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue
                # dataset['col_dataset'].append({
                #     "question_tokens": question_tokens,
                #     "ts": table_schema,
                #     "history": history[:],
                #     "label": get_label_cols(with_join, fk_dict, l[1])
                # })
                label = get_label_cols(with_join, fk_dict, l[1])
                if len(label) > 1:
                    full_labels.append([label,[andor_label]])
                    masks.append([COMPONENTS_DICT['col'],COMPONENTS_DICT['andor']])
                else:
                    full_labels.append([label,[]])
                    masks.append([COMPONENTS_DICT['col'], COMPONENTS_DICT['andor']])
                # full_labels.append()
                for col, sql_item in zip(l[1], s):
                    key = "{}{}{}".format(col[0][0], col[0][1], col[0][2])
                    if key not in op_col_dict:
                        op_col_dict[key] = [(sql_item, col[0])]
                    else:
                        op_col_dict[key].append((sql_item, col[0]))
                for key in op_col_dict:
                    stack.append(("col", "where", op_col_dict[key]))
        elif node[0] == "groupBy":

            history.append(node[0])
            col_ret = ColPredictor(question_tokens, node[1], table, history, node[0]).generate_output()
            masks.append([COMPONENTS_DICT['col']])
            # agg_col_dict = dict()
            for h, l, s in col_ret:
                if l[0] == 0:
                    print("Warning: predicted 0 columns!")
                    continue
                # dataset['col_dataset'].append({
                #     "question_tokens": question_tokens,
                #     "ts": table_schema,
                #     "history": history[:],
                #     "label": get_label_cols(with_join, fk_dict, l[1])
                # })
                history.append(l[1][0][0])
                full_labels.append([get_label_cols(with_join, fk_dict, l[1])])
                if node[2]:
                    stack.append(("having", node[1]))
                    full_labels.append([1])
                    masks.append([COMPONENTS_DICT['having']])
                else:
                    full_labels.append([0])
                    masks.append([COMPONENTS_DICT['having']])

                # for col, sql_item in zip(l[1], s):
                #     key = "{}{}{}".format(col[0][0], col[0][1], col[0][2])
                #     if key not in agg_col_dict:
                #         agg_col_dict[key] = [(sql_item, col[0])]
                #     else:
                #         agg_col_dict[key].append((sql_item, col[0]))
                # for key in agg_col_dict:
                #     stack.append(("col", node[0], agg_col_dict[key]))
    return history,full_labels,masks

In [6]:
# masks   :  [[0], [1], [2], [4], [2, 8], [3], [5], [0], [1], [2], [4], [-1]]
# label  :  [[0], [[0]], [[[14, 12], 4]], [[]], [[21], []], [[2]], [0], [0], [[]], [[21]], [[4]], []]

def unlist_mask_label(mask_list, label_list):
    label_nolist = []
    label_nums = []
    mask_nolist = []
    mask_inds = []
    
    for ll, ml in zip(label_list, mask_list):
        if len(ml) == 1 and ml[0] == 2 and any(isinstance(i, list) for el in ll for i in el): # for column label is [[[14, 12], 4]]
            mask_nolist.append(ml[0])
            col_num = sum([len(i) if isinstance(i, list) else 1 for el in ll for i in el])
            mask_inds.append(col_num)
        elif len(ml) == 1:
            mask_nolist.append(ml[0])
            mask_inds.append(1)
        elif len(ml) == 2:
            mask_nolist.extend(ml)
            mask_inds.extend([0, 0])
        else:
            print("\nWarning: NOT expected length of the mask list greater than 2!")
            exit()
        
        # [0], [[0]], [[[14, 12], 4]], [[]], [], [[21], []]
        if len(ll) == 0: # []
            #label_nolist.extend(ll)
            label_nums.append(0)
        elif not isinstance(ll[0], list) and len(ll) == 1: # [0]
            label_nolist.extend(ll)
            assert len(ll)  == 1
            label_nums.append(1)
        elif not isinstance(ll[0], list) and isinstance(ll[1], list): # [1, ['VALUE_0', None]]
            assert len(ll) == 2
            label_nolist.append(ll[0])
            label_nums.append(1)
            label_nolist.extend(ll[1]) # TODO: change [1, ['VALUE_0', None]]
            label_nums.append(len(ll[1]))
        elif ml[0] == 2 and any(isinstance(i, list) for el in ll for i in el): #for [[[14, 12], 4]]
            col_label = []
            for el in ll:
                for ii in el:
                    if isinstance(ii, list):
                        col_label.extend(ii)
                    else:
                        col_label.append(ii)
            label_nolist.extend(col_label)
            col_nums = [len(i) if isinstance(i, list) else 1 for el in ll for i in el]
            label_nums.extend(col_nums)
        elif len(ll) == 1: # [[0]] or [[1, 3]]
            label_nolist.extend(ll[0])
            label_nums.append(len(ll[0]))
        else:
            assert len(ll) == 2
            label_nolist.extend(ll[0])
            label_nums.append(len(ll[0]))
            label_nolist.extend(ll[1])
            label_nums.append(len(ll[1]))
            
    assert sum(label_nums) == len(label_nolist)
    assert len(mask_nolist) == len(mask_inds)
    
    return mask_nolist, mask_inds, label_nolist, label_nums

In [22]:
def reconstruct_mask_label(mask_one, mask_inds_one, label_list_one, label_nums_one):

    # mask_one/mi/ln: (max_len) mask_list, mask_inds, label_nums
    module_mask_one = []
    module_label_one = []
    module_label_one_temp = []
    two_mods = []
    label_index = 0
    for j, mlj, mij in zip(count(), mask_one, mask_inds_one):
        if mij != 0:
            if len(two_mods) > 0:
                module_mask_one.append(two_mods)
                two_mods = []   
            module_mask_one.append([mlj])
        elif mij == 0:
            two_mods.append(mlj)
        
    ln = label_nums_one.copy()
    for lnj in ln:
        label_add = []
        for _ in range(lnj):
            label_add.append(label_list_one[label_index])
            label_index += 1
        module_label_one_temp.append(label_add)
        
    label_num_tmp = []
    for j, mij in zip(count(), mask_inds_one):
        if mij < 2:
            label_num_tmp.append(ln.pop(0))
        else:
            lbs = []
            num_count = 0
            while num_count < mij:
                lnp = ln.pop(0)
                lbs.append(lnp)
                num_count += lnp
            assert num_count == mij
            label_num_tmp.append(lbs)
    
    two_labels = []
    assert len(mask_inds_one) == len(label_num_tmp)
    for k, mlk, mik, lnk in zip(count(), mask_one, mask_inds_one, label_num_tmp):
        print("----------lnk: ", lnk)
        if mik == 1:
            if len(two_labels) > 0:
                module_label_one.append(two_labels)
                two_labels = []
            if mlk in [0, 7, -1, 5, 6]:
                module_label_one.append(module_label_one_temp.pop(0))
            else:
                module_label_one.append([module_label_one_temp.pop(0)])
        elif mik == 0:
            label = module_label_one_temp.pop(0)
            if mlk == 5: # for case [1, ['VALUE_0', None]]
                two_labels.append(label[0])
            else:
                two_labels.append(label)
        else:
            col_labels = []
            print("lnk: ", lnk)
            for lnki in lnk:
                col_label = module_label_one_temp.pop(0)
                assert len(col_label) == lnki
                if len(col_label) == 1:
                    col_labels.append(col_label[0])
                else:
                    col_labels.append(col_label)
            module_label_one.append([col_labels])
            
    return module_mask_one, module_label_one

In [23]:
mask_list = [[0], [1], [2], [4], [2, 8], [3], [5], [0], [1], [2], [4], [-1]]
label_list = [[0], [[0]], [[[14, 12], 4]], [[]], [[21], []], [[2]], [0], [0], [[]], [[21]], [[4]], []]

mask_nolist, mask_inds, label_nolist, label_nums = unlist_mask_label(mask_list, label_list)
print("mask_list: ", mask_list)
print("label_list: ", label_list)
print("mask_nolist : ", mask_nolist)
print("mask_inds   : ", mask_inds)
print("label_nums  : ", label_nums)
print("label_nolist: ", label_nolist)

mask_list:  [[0], [1], [2], [4], [2, 8], [3], [5], [0], [1], [2], [4], [-1]]
label_list:  [[0], [[0]], [[[14, 12], 4]], [[]], [[21], []], [[2]], [0], [0], [[]], [[21]], [[4]], []]
mask_nolist :  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds   :  [1, 1, 3, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_nums  :  [1, 1, 2, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]
label_nolist:  [0, 0, 14, 12, 4, 21, 2, 0, 0, 21, 4]

In [24]:
def replace_value(conditions,nl,mp):
    for cond in conditions:
        for i,value in enumerate(cond):
            if i < 3:
                continue
            if not value or isinstance(value,dict):
                continue
            old_value = value
            if isinstance(value,str):
                if value[0] in ('\'','\"'):
                    value = value[1:-1]
                value = value.split()
            else:
                value = [value]
            try:
                new_val = 'VALUE_{}'.format(len(mp))
                cond[i] = new_val
                mp.append(old_value)
                if isinstance(value[0],str):
                    idx = nl.index(value[0])
                else:
                    idx = -1
                    for i in range(len(nl)):
                        if nl[i].isdigit() and (float(nl[i]) == value[0]):
                            idx = i
                            break
                    if idx == -1:
                        # print(old_value)
                        # print(nl)
                        continue
                nl = nl[:idx] + [new_val] + nl[idx+len(value):]
            except Exception:
                # print(old_value)
                # print(nl)
                continue
    return conditions,nl

def replace_nl(sql,nl):
    mp = []
    sql["where"],nl = replace_value(sql["where"],nl,mp)
    sql["having"],nl = replace_value(sql["having"],nl,mp)
    d = {}
    for i,val in enumerate(mp):
        d["VALUE_{}".format(i)] = val
    return d,sql,nl

def get_table_schema(table):
    col_names = table["column_names"]
    tab_names = table["table_names"]
    col_types = table["column_types"]
    col_name_comb = []
    for coln, colt in zip(col_names, col_types):
        tab_id, coln_str = coln
        if tab_id == -1:
            col_name_comb.append(["all", coln_str])
        else:
            col_name_comb.append(tab_names[tab_id].split(" ") + coln_str.split(" ") + [colt])
    
    return col_name_comb

def get_col_in_history(history):
    col_inds = []
    col_mask = []
    history_col_replaced = []
    #["singer", "age", 13]
    for hs in history:
        if isinstance(hs, tuple):
            col_inds.append(hs[2])
            col_mask.append(1)
            history_col_replaced.append("column")
        else:
            col_inds.append(-1)
            col_mask.append(0)
            history_col_replaced.append(hs)
    
    return col_inds, col_mask, history_col_replaced
        
            
def parse_data_new_format(data, table_dict):
    dataset = []
    for item in data:
        table_one = table_dict[item["db_id"]]
        table_schema = get_table_schema(table_one)
        mp,sql,nl = replace_nl(item["sql"],item["question_toks"])
        history, labels, masks = parse_data_full_history(nl, sql, table_one, [])
        mask_nolist, mask_inds, label_nolist, label_nums = unlist_mask_label(masks, labels)
        mask_list_recont, label_list_recont = reconstruct_mask_label(mask_nolist, mask_inds, label_nolist, label_nums)
        
        col_inds, col_mask, history_col_replaced = get_col_in_history(history)
#         if not len(history) == len(labels) == len(masks):
        if not (mask_list_recont == masks and label_list_recont == labels):
            print('\n-------------------------------')
            print('len of hisotry: ', len(history), 'len of labels: ', len(labels), "len of masks: ", len(masks))
            print("query  : ", item['query'])
            print("history: ", history)
            print("masks    : ", masks)
#             print("mask_rec : ", mask_list_recont)
            print("label    : ", labels)
#             print("label_rec: ", label_list_recont)
        else:
            dataset.append({
                "sql_history":history_col_replaced,
                "module_label":labels,
                "module_mask":masks,
                "map":mp,
                "src":nl,
                "table_schema": table_schema,
                "col_inds": col_inds,
                "col_mask": col_mask
            })
            
#     with open('dev_init.json', 'w') as outfile:
#         json.dump(dataset, outfile)

In [25]:
COMPONENTS_DICT = {
    'multi_sql':0,
    'keyword':1,
    'col':2,
    'op':3,
    'agg':4,
    'root_tem':5,
    'des_asc':6,
    'having':7,
    'andor':8,
    'value':9
}

In [26]:
# stepten no order by
# SELECT T1.Area FROM APPELLATIONS AS T1 JOIN WINE AS T2 ON T1.Appelation  =  T2.Appelation GROUP BY T2.Appelation HAVING T2.year  <  2010 ORDER BY count(*) DESC LIMIT 1

In [27]:
data_path = '../../SyntaxSQL/data/dev.json'
table_data_path = '../../SyntaxSQL/data/tables.json'
data = json.load(open(data_path))
table_dict = get_table_dict(table_data_path)
parse_data_new_format(data, table_dict)

In [28]:
train_data = torch.load('../data_model/syntaxSQL/train.pt')

In [69]:
for example in train_data.examples:
    print("\n-----------------------")
    print("src: ", example.src)
#     print("tbl: ", example.tbl)
    print("col_inds: ", example.col_inds)
    print("col_mask: ", example.col_mask)
    print("sql_history: ", example.sql_history)
    print("mask_list: ", example.mask_list)
    print("mask_inds: ", example.mask_inds)
    print("label_list: ", example.label_list)
    print("label_nums: ", example.label_nums)

-----------------------
src:  ['How', 'many', 'singers', 'do', 'we', 'have', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'total', 'number', 'of', 'singers', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'name', ',', 'country', ',', 'age', 'for', 'all', 'singers', 'ordered', 'by', 'age', 'from', 'the', 'oldest', 'to', 'the', 'youngest', '.']
col_inds:  [-1, -1, -1, 13, 10, 9, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 9, 10, 13, 13, 3]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', ',', 'countries', ',', 'and', 'ages', 'for', 'every', 'singer', 'in', 'descending', 'order', 'of', 'age', '?']
col_inds:  [-1, -1, -1, 13, 10, 9, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 9, 10, 13, 13, 3]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', ',', 'minimum', ',', 'and', 'maximum', 'age', 'of', 'all', 'singers', 'from', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 13, -1, -1, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'min', 'max', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, -1, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 13, 4, 1, 0, 10, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', ',', 'minimum', ',', 'and', 'maximum', 'age', 'for', 'all', 'French', 'singers', '?']
col_inds:  [-1, -1, -1, 13, -1, -1, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'min', 'max', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, -1, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 13, 4, 1, 0, 10, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'name', 'and', 'the', 'release', 'year', 'of', 'the', 'song', 'by', 'the', 'youngest', 'singer', '.']
col_inds:  [-1, -1, -1, 12, 11, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 11, 12, 13, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'release', 'years', 'for', 'all', 'the', 'songs', 'of', 'the', 'youngest', 'singer', '?']
col_inds:  [-1, -1, -1, 12, 11, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 11, 12, 13, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'all', 'distinct', 'countries', 'where', 'singers', 'above', 'age', 'VALUE_0', 'are', 'from', '?']
col_inds:  [-1, -1, -1, 10, -1, 13, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 10, 13, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'different', 'countries', 'with', 'singers', 'above', 'age', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 10, -1, 13, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 10, 13, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'all', 'countries', 'and', 'the', 'number', 'of', 'singers', 'in', 'each', 'country', '.']
col_inds:  [-1, -1, -1, 0, -1, 10, -1, 10]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 10, 2, 10, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'singers', 'are', 'from', 'each', 'country', '?']
col_inds:  [-1, -1, -1, 0, -1, 10, -1, 10]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 10, 2, 10, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['List', 'all', 'song', 'names', 'by', 'singers', 'above', 'the', 'average', 'age', '.']
col_inds:  [-1, -1, -1, 11, -1, 13, -1, -1, -1, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'avg']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 11, 13, 1, 0, 0, 13, 4]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'all', 'the', 'song', 'names', 'by', 'singers', 'who', 'are', 'older', 'than', 'average', '?']
col_inds:  [-1, -1, -1, 11, -1, 13, -1, -1, -1, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'avg']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 11, 13, 1, 0, 0, 13, 4]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'location', 'and', 'name', 'for', 'all', 'stadiums', 'with', 'a', 'capacity', 'between', 'VALUE_0', 'and', 'VALUE_1', '.']
col_inds:  [-1, -1, -1, 3, 2, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', 'between', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 2, 3, 4, 9, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'locations', 'and', 'names', 'of', 'all', 'stations', 'with', 'capacity', 'between', 'VALUE_0', 'and', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 3, 2, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', 'between', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 2, 3, 4, 9, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'and', 'the', 'maximum', 'capacity', 'of', 'all', 'stadiums', '?']
col_inds:  [-1, -1, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'max']
mask_list:  [0, 1, 2, 4, -1, -1]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 4, 4, 0]
label_nums:  [1, 0, 1, 2, 0, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'and', 'maximum', 'capacities', 'for', 'all', 'stations', '?']
col_inds:  [-1, -1, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'max']
mask_list:  [0, 1, 2, 4, -1, -1]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 4, 4, 0]
label_nums:  [1, 0, 1, 2, 0, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'and', 'capacity', 'for', 'the', 'stadium', 'with', 'highest', 'average', 'attendance', '?']
col_inds:  [-1, -1, -1, 4, 3, -1, 7, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 3, 4, 7, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'and', 'capacity', 'for', 'the', 'stadium', 'with', 'the', 'highest', 'average', 'attendance', '?']
col_inds:  [-1, -1, -1, 4, 3, -1, 7, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 3, 4, 7, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'concerts', 'are', 'there', 'in', 'year', 'VALUE_0', 'or', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 19, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 19, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'concerts', 'occurred', 'in', 'VALUE_0', 'or', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 19, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 19, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'stadium', 'name', 'and', 'the', 'number', 'of', 'concerts', 'in', 'each', 'stadium', '.']
col_inds:  [-1, -1, -1, 0, -1, 3, -1, 18]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 3, 2, 18, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['For', 'each', 'stadium', ',', 'how', 'many', 'concerts', 'play', 'there', '?']
col_inds:  [-1, -1, -1, 0, -1, 3, -1, 18]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 3, 2, 18, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['Show', 'the', 'stadium', 'name', 'and', 'capacity', 'with', 'most', 'number', 'of', 'concerts', 'in', 'year', 'VALUE_0', 'or', 'after', '.']
col_inds:  [-1, -1, -1, 4, 3, -1, 19, -1, -1, -1, 1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '>=', 'value', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 1, 2, 3, 4, 19, 3, 1, 0, 1, 1, 0, 0, 2]
label_nums:  [1, 3, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'and', 'capacity', 'of', 'the', 'stadium', 'with', 'the', 'most', 'concerts', 'after', '2013', '?']
col_inds:  [-1, -1, -1, 4, 3, -1, 19, -1, -1, -1, 1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '>=', 'value', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 1, 2, 3, 4, 19, 3, 1, 0, 1, 1, 0, 0, 2]
label_nums:  [1, 3, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'year', 'has', 'most', 'number', 'of', 'concerts', '?']
col_inds:  [-1, -1, -1, 19, -1, 19, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 19, 19, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'year', 'that', 'had', 'the', 'most', 'concerts', '?']
col_inds:  [-1, -1, -1, 19, -1, 19, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 19, 19, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'stadium', 'names', 'without', 'any', 'concert', '.']
col_inds:  [-1, -1, -1, 3, -1, 1, -1, -1, -1, -1, 18]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 3, 1, 7, 0, 0, 18]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'stadiums', 'without', 'any', 'concerts', '?']
col_inds:  [-1, -1, -1, 3, -1, 1, -1, -1, -1, -1, 18]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 3, 1, 7, 0, 0, 18]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Show', 'countries', 'where', 'a', 'singer', 'above', 'age', 'VALUE_0', 'and', 'a', 'singer', 'below', '30', 'are', 'from', '.']
col_inds:  [-1, -1, -1, -1, -1, 10, -1, 13, -1, -1, -1, -1, -1, 10, -1, 13, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '>', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '<', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 10, 13, 1, 1, 0, 1, 0, 0, 10, 13, 2, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'names', 'for', 'all', 'stadiums', 'except', 'for', 'stadiums', 'having', 'a', 'concert', 'in', 'year', '2014', '.']
col_inds:  [-1, -1, -1, -1, -1, 3, -1, -1, -1, 3, -1, 19, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [3, 0, 3, 0, 0, 3, 19, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'all', 'stadiums', 'that', 'did', 'not', 'have', 'a', 'concert', 'in', '2014', '?']
col_inds:  [-1, -1, -1, -1, -1, 3, -1, -1, -1, 3, -1, 19, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [3, 0, 3, 0, 0, 3, 19, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'name', 'and', 'theme', 'for', 'all', 'concerts', 'and', 'the', 'number', 'of', 'singers', 'in', 'each', 'concert', '.']
col_inds:  [-1, -1, -1, 0, -1, 17, 16, -1, 15]
col_mask:  [0, 0, 0, 1, 0, 1, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 16, 17, 0, 2, 15, 0]
label_nums:  [1, 1, 3, 1, 0, 0, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'names', ',', 'themes', ',', 'and', 'number', 'of', 'singers', 'for', 'each', 'and', 'every', 'concert', '?']
col_inds:  [-1, -1, -1, 0, -1, 17, 16, -1, 15]
col_mask:  [0, 0, 0, 1, 0, 1, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 16, 17, 0, 2, 15, 0]
label_nums:  [1, 1, 3, 1, 0, 0, 0, 1, 1]

-----------------------
src:  ['List', 'singer', 'names', 'and', 'number', 'of', 'concerts', 'for', 'each', 'singer', '.']
col_inds:  [-1, -1, -1, 0, -1, 9, -1, 8]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 9, 2, 8, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'singers', 'and', 'number', 'of', 'concerts', 'for', 'each', 'person', '?']
col_inds:  [-1, -1, -1, 0, -1, 9, -1, 8]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 9, 2, 8, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['List', 'all', 'singer', 'names', 'in', 'concerts', 'in', 'year', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 9, -1, 19, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 19, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'singers', 'who', 'performed', 'in', 'a', 'concert', 'in', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 9, -1, 19, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 19, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['what', 'is', 'the', 'name', 'and', 'nation', 'of', 'the', 'singer', 'who', 'have', 'a', 'song', 'having', "'Hey", "'", 'in', 'its', 'name', '?']
col_inds:  [-1, -1, -1, 10, 9, -1, 11, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]

label_list:  [0, 1, 21, 23, 4, 23, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'the', 'average', 'weight', 'and', 'year', 'for', 'each', 'year', '?']
col_inds:  [-1, -1, -1, 23, 21, -1, -1, 23]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'avg', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 21, 23, 4, 23, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Which', 'countries', 'in', 'VALUE_0', 'have', 'at', 'least', 'VALUE_1', 'car', 'manufacturers', '?']
col_inds:  [-1, -1, -1, 4, -1, 2, -1, -1, -1, 4, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 4, 2, 0, 1, 0, 1, 4, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'all', 'European', 'countries', 'with', 'at', 'least', 'VALUE_1', 'manufacturers', '?']
col_inds:  [-1, -1, -1, 4, -1, 2, -1, -1, -1, 4, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 4, 2, 0, 1, 0, 1, 4, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'maximum', 'horsepower', 'and', 'the', 'make', 'of', 'the', 'car', 'models', 'with', 'VALUE_0', 'cylinders', '?']
col_inds:  [-1, -1, -1, 15, 20, -1, 18, -1, -1, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 20, 15, 18, 0, 1, 0, 1, 20, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'largest', 'amount', 'of', 'horsepower', 'for', 'the', 'models', 'with', 'VALUE_0', 'cylinders', 'and', 'what', 'make', 'is', 'it', '?']
col_inds:  [-1, -1, -1, 15, 20, -1, 18, -1, -1, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 20, 15, 18, 0, 1, 0, 1, 20, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['Which', 'model', 'saves', 'the', 'most', 'gasoline', '?', 'That', 'is', 'to', 'say', ',', 'have', 'the', 'maximum', 'miles', 'per', 'gallon', '.']
col_inds:  [-1, -1, -1, 14, -1, 17, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 14, 17, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'car', 'wmodel', 'with', 'the', 'highest', 'mpg', '?']
col_inds:  [-1, -1, -1, 14, -1, 17, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 14, 17, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'horsepower', 'of', 'the', 'cars', 'before', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 20, -1, -1, 23, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 20, 4, 23, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'horsepower', 'for', 'all', 'cards', 'produced', 'before', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 20, -1, -1, 23, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 20, 4, 23, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'edispl', 'of', 'the', 'cars', 'of', 'model', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 19, -1, -1, 14, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 19, 4, 14, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'edispl', 'for', 'all', 'volvos', '?']
col_inds:  [-1, -1, -1, 19, -1, -1, 14, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 19, 4, 14, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'maximum', 'accelerate', 'for', 'different', 'number', 'of', 'cylinders', '?']
col_inds:  [-1, -1, -1, 18, 22, -1, -1, 18]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'max', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 18, 22, 0, 18, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'the', 'maximum', 'accelerate', 'for', 'all', 'the', 'different', 'cylinders', '?']
col_inds:  [-1, -1, -1, 18, 22, -1, -1, 18]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'max', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 18, 22, 0, 18, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Which', 'model', 'has', 'the', 'most', 'version', '(', 'make', ')', 'of', 'cars', '?']
col_inds:  [-1, -1, -1, 14, -1, 14, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 14, 14, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'model', 'has', 'the', 'most', 'different', 'versions', '?']
col_inds:  [-1, -1, -1, 14, -1, 14, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 14, 14, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'cars', 'have', 'more', 'than', 'VALUE_0', 'cylinders', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 18, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 18, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'number', 'of', 'cars', 'with', 'more', 'than', 'VALUE_0', 'cylinders', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 18, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 18, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['how', 'many', 'cars', 'were', 'produced', 'in', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 23, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 23, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['In', 'VALUE_0', ',', 'how', 'many', 'cars', 'were', 'made', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 23, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 23, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'car', 'models', 'were', 'produced', 'by', 'the', 'maker', 'with', 'full', 'name', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 8, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 8, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'number', 'of', 'car', 'models', 'created', 'by', 'the', 'car', 'maker', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 8, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 8, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'makers', 'designed', 'more', 'than', 'VALUE_0', 'car', 'models', '?', 'List', 'full', 'name', 'and', 'the', 'id', '.']
col_inds:  [-1, -1, -1, 6, 8, -1, 6, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 8, 6, 6, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'ids', 'of', 'all', 'makers', 'with', 'more', 'than', 'VALUE_0', 'models', '?']
col_inds:  [-1, -1, -1, 6, 8, -1, 6, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 8, 6, 6, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'distinctive', 'models', 'are', 'produced', 'by', 'maker', 'with', 'the', 'full', 'name', 'VALUE_0', 'or', 'weighing', 'more', 'than', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 12, -1, 21, -1, -1, 8, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 12, 8, 21, 1, 1, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'different', 'models', 'created', 'by', 'either', 'the', 'car', 'maker', 'VALUE_0', 'or', 'weighed', 'more', 'than', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 12, -1, 21, -1, -1, 8, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 12, 8, 21, 1, 1, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['In', 'which', 'years', 'cars', 'were', 'produced', 'weighing', 'no', 'less', 'than', 'VALUE_0', 'and', 'no', 'more', 'than', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 23, -1, 21, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'value', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 23, 21, 1, 2, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'different', 'years', 'in', 'which', 'there', 'were', 'cars', 'produced', 'that', 'weighed', 'less', 'than', 'VALUE_1', 'and', 'also', 'cars', 'that', 'weighted', 'more', 'than', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 23, -1, 21, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'value', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 23, 21, 1, 2, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'horsepower', 'of', 'the', 'car', 'with', 'the', 'largest', 'accelerate', '?']
col_inds:  [-1, -1, -1, 20, -1, 22, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 20, 22, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'horsepower', 'of', 'the', 'car', 'with', 'the', 'greatest', 'accelerate', '?']
col_inds:  [-1, -1, -1, 20, -1, 22, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 20, 22, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['For', 'model', 'VALUE_0', ',', 'how', 'many', 'cylinders', 'does', 'the', 'car', 'with', 'the', 'least', 'accelerate', 'have', '?']
col_inds:  [-1, -1, -1, 18, -1, 14, -1, -1, -1, 22, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 18, 14, 0, 1, 0, 1, 22, 0]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['For', 'a', 'VALUE_0', 'model', ',', 'how', 'many', 'cylinders', 'does', 'the', 'version', 'with', 'least', 'accelerate', 'have', '?']
col_inds:  [-1, -1, -1, 18, -1, 14, -1, -1, -1, 22, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 18, 14, 0, 1, 0, 1, 22, 0]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'cars', 'have', 'a', 'larger', 'accelerate', 'than', 'the', 'car', 'with', 'the', 'largest', 'horsepower', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 22, -1, -1, -1, -1, 22, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 0, 2, 22, 1, 0, 0, 2, 22, 20, 2]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'number', 'of', 'cars', 'with', 'a', 'greater', 'accelerate', 'than', 'the', 'one', 'with', 'the', 'most', 'horsepower', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 22, -1, -1, -1, -1, 22, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 0, 2, 22, 1, 0, 0, 2, 22, 20, 2]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'countries', 'has', 'more', 'than', '2', 'car', 'makers', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'number', 'of', 'countries', 'with', 'more', 'than', '2', 'car', 'makers', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'cars', 'has', 'over', 'VALUE_0', 'cylinders', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 18, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 18, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'number', 'of', 'carsw', 'ith', 'over', 'VALUE_0', 'cylinders', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 18, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 18, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['For', 'the', 'cars', 'with', 'VALUE_0', 'cylinders', ',', 'which', 'model', 'has', 'the', 'largest', 'horsepower', '?']
col_inds:  [-1, -1, -1, 14, -1, 18, -1, -1, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 14, 18, 0, 1, 0, 1, 20, 2]

mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 5, 6, 27, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'cities', 'have', 'served', 'as', 'host', 'cities', 'more', 'than', 'once', '?', 'Return', 'me', 'their', 'GDP', 'and', 'population', '.']
col_inds:  [-1, -1, -1, 5, 6, -1, 27, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 5, 6, 27, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['List', 'every', 'individual', "'s", 'first', 'name', ',', 'middle', 'name', 'and', 'last', 'name', 'in', 'alphabetical', 'order', 'by', 'last', 'name', '.']
col_inds:  [-1, -1, -1, 23, 19, 18, -1, 23, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 18, 19, 23, 23, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'first', ',', 'middle', ',', 'and', 'last', 'names', 'of', 'all', 'individuals', ',', 'ordered', 'by', 'last', 'name', '?']
col_inds:  [-1, -1, -1, 23, 19, 18, -1, 23, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 18, 19, 23, 23, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['List', 'all', 'the', 'types', 'of', 'forms', '.']
col_inds:  [-1, -1, -1, 12]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 12]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'different', 'types', 'of', 'forms', '?']
col_inds:  [-1, -1, -1, 12]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 12]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'the', 'most', 'popular', 'party', 'form', '.']
col_inds:  [-1, -1, -1, 15, -1, 42, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 15, 42, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'party', 'form', 'that', 'is', 'most', 'common', '?']
col_inds:  [-1, -1, -1, 15, -1, 42, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 15, 42, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'payment', 'method', 'and', 'phone', 'of', 'the', 'party', 'with', 'email', '``', 'enrico09', '@', 'example.com', "''", '.']
col_inds:  [-1, -1, -1, 30, 29, -1, 31, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 29, 30, 31, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'payment', 'method', 'code', 'and', 'party', 'phone', 'of', 'the', 'party', 'with', 'the', 'email', "'enrico09", '@', 'example.com', "'", '?']
col_inds:  [-1, -1, -1, 30, 29, -1, 31, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 29, 30, 31, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'emails', 'of', 'parties', 'with', 'the', 'most', 'popular', 'party', 'form', '.']
col_inds:  [-1, -1, -1, 31, -1, 42, -1, -1, -1, -1, 42, -1, 42, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 31, 42, 0, 0, 0, 1, 2, 42, 42, 0, 0, 2]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'party', 'emails', 'associated', 'with', 'parties', 'that', 'used', 'the', 'party', 'form', 'that', 'is', 'the', 'most', 'common', '?']
col_inds:  [-1, -1, -1, 31, -1, 42, -1, -1, -1, -1, 42, -1, 42, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 31, 42, 0, 0, 0, 1, 2, 42, 42, 0, 0, 2]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['List', 'all', 'the', 'name', 'of', 'organizations', 'in', 'order', 'of', 'the', 'date', 'formed', '.']
col_inds:  [-1, -1, -1, 26, -1, 25, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 26, 25, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'organizations', ',', 'ordered', 'by', 'the', 'date', 'they', 'were', 'formed', ',', 'ascending', '?']
col_inds:  [-1, -1, -1, 26, -1, 25, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 26, 25, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'the', 'youngest', 'organization', '.']
col_inds:  [-1, -1, -1, 26, -1, 25, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 26, 25, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'organization', 'that', 'was', 'formed', 'most', 'recently', '?']
col_inds:  [-1, -1, -1, 26, -1, 25, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 26, 25, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'last', 'name', 'of', 'the', 'latest', 'contact', 'individual', 'of', 'the', 'organization', '``', 'VALUE_0', "''", '.']
col_inds:  [-1, -1, -1, 23, -1, 26, -1, -1, -1, 35, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 23, 26, 0, 1, 0, 1, 35, 2]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'last', 'name', 'of', 'the', 'contact', 'individual', 'from', 'the', 'VALUE_0', 'organization', 'who', 'was', 'contacted', 'most', 'recently', '?']
col_inds:  [-1, -1, -1, 23, -1, 26, -1, -1, -1, 35, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 23, 26, 0, 1, 0, 1, 35, 2]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'services', 'are', 'there', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'services', '.']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'name', 'of', 'the', 'services', 'that', 'has', 'never', 'been', 'used', '.']
col_inds:  [-1, -1, -1, -1, -1, 9, -1, -1, -1, 9]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 9, 0, 9]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'services', 'that', 'have', 'never', 'been', 'used', '?']
col_inds:  [-1, -1, -1, -1, -1, 9, -1, -1, -1, 9]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 9, 0, 9]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'all', 'the', 'cities', 'and', 'states', '.']
col_inds:  [-1, -1, -1, -1, -1, 3, -1, -1, -1, 5]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [2, 0, 3, 0, 5]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'all', 'cities', 'and', 'states', '?']
col_inds:  [-1, -1, -1, -1, -1, 3, -1, -1, -1, 5]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [2, 0, 3, 0, 5]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['How', 'many', 'cities', 'are', 'there', 'in', 'state', '``', 'VALUE_0', "''", '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 5, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'cities', 'in', 'the', 'state', 'of', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 5, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'payment', 'method', 'code', 'used', 'by', 'more', 'than', 'VALUE_0', 'parties', '.']
col_inds:  [-1, -1, -1, 29, -1, 29, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 29, 29, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'payment', 'method', 'codes', 'that', 'have', 'been', 'used', 'by', 'more', 'than', 'VALUE_0', 'parties', '?']
col_inds:  [-1, -1, -1, 29, -1, 29, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 29, 29, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'organizations', 'whose', 'names', 'contain', '``', 'Party', "''", '.']
col_inds:  [-1, -1, -1, 26, -1, 26, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'like', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 26, 26, 6, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'organizations', 'that', 'contain', 'the', 'word', '``', 'Party', "''", '?']
col_inds:  [-1, -1, -1, 26, -1, 26, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'like', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 26, 26, 6, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'distinct', 'payment', 'methods', 'are', 'used', 'by', 'parties', '?']
col_inds:  [-1, -1, -1, 29, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 29, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'different', 'payment', 'method', 'codes', 'used', 'by', 'parties', '.']
col_inds:  [-1, -1, -1, 29, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 29, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Which', 'is', 'the', 'email', 'of', 'the', 'party', 'that', 'has', 'used', 'the', 'services', 'the', 'most', 'number', 'of', 'times', '?']
col_inds:  [-1, -1, -1, 31, -1, 31, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 31, 31, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Return', 'the', 'party', 'email', 'that', 'has', 'used', 'party', 'services', 'the', 'greatest', 'number', 'of', 'times', '.']
col_inds:  [-1, -1, -1, 31, -1, 31, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 31, 31, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'state', 'can', 'address', '``', '6862', 'Kaitlyn', 'Knolls', "''", 'possibly', 'be', 'in', '?']
col_inds:  [-1, -1, -1, 5, -1, 2, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'like', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 5, 2, 6, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Give', 'the', 'state', 'corresponding', 'to', 'the', 'line', 'number', 'building', '``', '6862', 'Kaitlyn', 'Knolls', "''", '.']
col_inds:  [-1, -1, -1, 5, -1, 2, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'like', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 5, 2, 6, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'organization', 'that', 'has', 'the', 'greatest', 'number', 'of', 'contact', 'individuals', '?']
col_inds:  [-1, -1, -1, 26, -1, 26, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 26, 26, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Return', 'the', 'name', 'of', 'the', 'organization', 'which', 'has', 'the', 'most', 'contact', 'individuals', '.']
col_inds:  [-1, -1, -1, 26, -1, 26, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 26, 26, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'last', 'name', 'of', 'the', 'individuals', 'that', 'have', 'been', 'contact', 'individuals', 'of', 'an', 'organization', '.']
col_inds:  [-1, -1, -1, 23]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 23]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'last', 'names', 'of', 'individuals', 'who', 'have', 'been', 'contact', 'individuals', 'for', 'an', 'organization', '?']
col_inds:  [-1, -1, -1, 23]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 23]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['Which', 'country', 'does', 'Airline', '``', 'VALUE_0', "''", 'belong', 'to', '?']
col_inds:  [-1, -1, -1, 4, -1, 2, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 4, 2, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'country', 'is', 'Jetblue', 'Airways', 'affiliated', 'with', '?']
col_inds:  [-1, -1, -1, 4, -1, 2, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 4, 2, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'abbreviation', 'of', 'Airline', '``', 'VALUE_0', "''", '?']
col_inds:  [-1, -1, -1, 3, -1, 2, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]

col_inds:  [-1, -1, -1, 4, -1, 3, -1, -1, -1, 4, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'value', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 4, 3, 2, 1, 0, 1, 4, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'cities', 'that', 'have', 'more', 'than', 'one', 'employee', 'under', 'age', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 4, -1, 3, -1, -1, -1, 4, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'value', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 4, 3, 2, 1, 0, 1, 4, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'shops', 'in', 'each', 'location', '.']
col_inds:  [-1, -1, -1, 7, 0, -1, -1, 7]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 7, 2, 7, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'shops', 'are', 'there', 'in', 'each', 'location', '?']
col_inds:  [-1, -1, -1, 7, 0, -1, -1, 7]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 7, 2, 7, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Find', 'the', 'manager', 'name', 'and', 'district', 'of', 'the', 'shop', 'whose', 'number', 'of', 'products', 'is', 'the', 'largest', '.']
col_inds:  [-1, -1, -1, 8, 10, -1, 9, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 8, 10, 9, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'manager', 'name', 'and', 'district', 'of', 'the', 'shop', 'that', 'sells', 'the', 'largest', 'number', 'of', 'products', '?']
col_inds:  [-1, -1, -1, 8, 10, -1, 9, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 8, 10, 9, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['find', 'the', 'minimum', 'and', 'maximum', 'number', 'of', 'products', 'of', 'all', 'stores', '.']
col_inds:  [-1, -1, -1, 9, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'min', 'max']
mask_list:  [0, 1, 2, 4, -1, -1]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 9, 1, 0]
label_nums:  [1, 0, 1, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'minimum', 'and', 'maximum', 'number', 'of', 'products', 'across', 'all', 'the', 'shops', '?']
col_inds:  [-1, -1, -1, 9, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'min', 'max']
mask_list:  [0, 1, 2, 4, -1, -1]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 9, 1, 0]
label_nums:  [1, 0, 1, 2, 0, 0]

-----------------------
src:  ['Return', 'the', 'name', ',', 'location', 'and', 'district', 'of', 'all', 'shops', 'in', 'descending', 'order', 'of', 'number', 'of', 'products', '.']
col_inds:  [-1, -1, -1, 8, 7, 6, -1, 9, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 8, 6, 7, 9, 3]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['Sort', 'all', 'the', 'shops', 'by', 'number', 'products', 'in', 'descending', 'order', ',', 'and', 'return', 'the', 'name', ',', 'location', 'and', 'district', 'of', 'each', 'shop', '.']
col_inds:  [-1, -1, -1, 8, 7, 6, -1, 9, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 8, 6, 7, 9, 3]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'names', 'of', 'stores', 'whose', 'number', 'products', 'is', 'more', 'than', 'the', 'average', 'number', 'of', 'products', '.']
col_inds:  [-1, -1, -1, 6, -1, 9, -1, -1, -1, -1, 9, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'avg']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 6, 9, 1, 0, 0, 9, 4]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Which', 'shops', "'", 'number', 'products', 'is', 'above', 'the', 'average', '?', 'Give', 'me', 'the', 'shop', 'names', '.']
col_inds:  [-1, -1, -1, 6, -1, 9, -1, -1, -1, -1, 9, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'avg']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 6, 9, 1, 0, 0, 9, 4]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['find', 'the', 'name', 'of', 'employee', 'who', 'was', 'awarded', 'the', 'most', 'times', 'in', 'the', 'evaluation', '.']
col_inds:  [-1, -1, -1, 2, -1, 15, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 2, 15, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'employee', 'received', 'the', 'most', 'awards', 'in', 'evaluations', '?', 'Give', 'me', 'the', 'employee', 'name', '.']
col_inds:  [-1, -1, -1, 2, -1, 15, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 2, 15, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'the', 'employee', 'who', 'got', 'the', 'highest', 'one', 'time', 'bonus', '.']
col_inds:  [-1, -1, -1, 2, -1, 17, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 17, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Which', 'employee', 'received', 'the', 'biggest', 'bonus', '?', 'Give', 'me', 'the', 'employee', 'name', '.']
col_inds:  [-1, -1, -1, 2, -1, 17, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 17, 2]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'names', 'of', 'employees', 'who', 'never', 'won', 'any', 'award', 'in', 'the', 'evaluation', '.']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, -1, -1, -1, 15]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 2, 1, 7, 0, 0, 15]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'employees', 'who', 'never', 'received', 'any', 'evaluation', '?']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, -1, -1, -1, 15]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 2, 1, 7, 0, 0, 15]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'shop', 'that', 'is', 'hiring', 'the', 'largest', 'number', 'of', 'employees', '?']
col_inds:  [-1, -1, -1, 6, -1, 11, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 6, 11, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'shop', 'has', 'the', 'most', 'employees', '?', 'Give', 'me', 'the', 'shop', 'name', '.']
col_inds:  [-1, -1, -1, 6, -1, 11, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 6, 11, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'the', 'shops', 'that', 'do', 'not', 'hire', 'any', 'employee', '.']
col_inds:  [-1, -1, -1, 6, -1, 5, -1, -1, -1, -1, 11]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 6, 5, 7, 0, 0, 11]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Which', 'shops', 'run', 'with', 'no', 'employees', '?', 'Find', 'the', 'shop', 'names']
col_inds:  [-1, -1, -1, 6, -1, 5, -1, -1, -1, -1, 11]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 6, 5, 7, 0, 0, 11]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'employees', 'hired', 'in', 'each', 'shop', ';', 'show', 'the', 'shop', 'name', 'as', 'well', '.']
col_inds:  [-1, -1, -1, 6, 0, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 6, 2, 6, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['For', 'each', 'shop', ',', 'return', 'the', 'number', 'of', 'employees', 'working', 'there', 'and', 'the', 'name', 'of', 'the', 'shop', '.']
col_inds:  [-1, -1, -1, 6, 0, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 6, 2, 6, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'total', 'bonus', 'given', 'in', 'all', 'evaluations', '?']
col_inds:  [-1, -1, -1, 17, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'sum']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 17, 3]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'total', 'amount', 'of', 'bonus', 'given', 'in', 'all', 'the', 'evaluations', '.']
col_inds:  [-1, -1, -1, 17, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'sum']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 17, 3]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Give', 'me', 'all', 'the', 'information', 'about', 'hiring', '.']
col_inds:  [-1, -1, -1, 0]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 0]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['What', 'is', 'all', 'the', 'information', 'about', 'hiring', '?']
col_inds:  [-1, -1, -1, 0]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 0]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['Which', 'district', 'has', 'both', 'stores', 'with', 'less', 'than', 'VALUE_0', 'products', 'and', 'stores', 'with', 'more', 'than', '10000', 'products', '?']
col_inds:  [-1, -1, -1, -1, -1, 8, -1, 9, -1, -1, -1, -1, -1, 8, -1, 9, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '<', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 8, 9, 2, 1, 0, 1, 0, 0, 8, 9, 1, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'districts', 'in', 'which', 'there', 'are', 'both', 'shops', 'selling', 'less', 'than', 'VALUE_0', 'products', 'and', 'shops', 'selling', 'more', 'than', '10000', 'products', '.']
col_inds:  [-1, -1, -1, -1, -1, 8, -1, 9, -1, -1, -1, -1, -1, 8, -1, 9, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '<', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 8, 9, 2, 1, 0, 1, 0, 0, 8, 9, 1, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'different', 'store', 'locations', 'are', 'there', '?']
col_inds:  [-1, -1, -1, 7, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 7, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'distinct', 'store', 'locations', '.']
col_inds:  [-1, -1, -1, 7, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 7, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'drivers', 'are', 'there', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'name', ',', 'home', 'city', ',', 'and', 'age', 'for', 'all', 'drivers', '.']
col_inds:  [-1, -1, -1, 5, 4, 2]
col_mask:  [0, 0, 0, 1, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4, 4]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 4, 5]
label_nums:  [1, 0, 3, 0, 0, 0]

-----------------------
src:  ['Show', 'the', 'party', 'and', 'the', 'number', 'of', 'drivers', 'in', 'each', 'party', '.']
col_inds:  [-1, -1, -1, 0, -1, 3, -1, 3]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 3, 2, 3, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['Show', 'the', 'name', 'of', 'drivers', 'in', 'descending', 'order', 'of', 'age', '.']
col_inds:  [-1, -1, -1, 2, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 5, 3]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'all', 'different', 'home', 'cities', '.']
col_inds:  [-1, -1, -1, 4]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 4]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['Show', 'the', 'home', 'city', 'with', 'the', 'most', 'number', 'of', 'drivers', '.']
col_inds:  [-1, -1, -1, 4, -1, 4, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 4, 4, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'party', 'with', 'drivers', 'from', 'VALUE_0', 'and', 'drivers', 'older', 'than', 'VALUE_1', '.']
col_inds:  [-1, -1, -1, 3, -1, 5, -1, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 3, 4, 5, 0, 1, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'home', 'city', 'where', 'at', 'least', 'two', 'drivers', 'older', 'than', 'VALUE_0', 'are', 'from', '.']
col_inds:  [-1, -1, -1, 4, -1, 5, -1, -1, -1, 4, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 4, 5, 1, 1, 0, 1, 4, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'all', 'home', 'cities', 'except', 'for', 'those', 'having', 'a', 'driver', 'older', 'than', '40', '.']
col_inds:  [-1, -1, -1, -1, -1, 4, -1, -1, -1, 4, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [3, 0, 4, 0, 0, 4, 5, 1, 1, 0, 1]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------

-----------------------
src:  ['What', 'are', 'the', 'average', 'and', 'maximum', 'number', 'of', 'tickets', 'bought', 'in', 'all', 'visits', '?']
col_inds:  [-1, -1, -1, 11, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'max']
mask_list:  [0, 1, 2, 4, -1, -1]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 11, 4, 0]
label_nums:  [1, 0, 1, 2, 0, 0]

-----------------------
src:  ['What', 'is', 'the', 'total', 'ticket', 'expense', 'of', 'the', 'visitors', 'whose', 'membership', 'level', 'is', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 12, -1, -1, 7, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'sum', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 12, 3, 7, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'visitor', 'who', 'visited', 'both', 'a', 'museum', 'opened', 'before', 'VALUE_0', 'and', 'a', 'museum', 'opened', 'after', '2011', '?']
col_inds:  [-1, -1, -1, -1, -1, 6, -1, 4, -1, -1, -1, -1, -1, 6, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '<', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 6, 4, 2, 1, 0, 1, 0, 0, 6, 4, 1, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'visitors', 'who', 'did', 'not', 'visit', 'any', 'museum', 'opened', 'after', '2010', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 5, -1, -1, -1, -1, 10, -1, 4, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 5, 7, 0, 0, 0, 10, 4, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'museums', 'were', 'opened', 'after', 'VALUE_0', 'or', 'before', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 4, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '<', 'value', '>', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 4, 1, 2, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'accounts', 'do', 'we', 'have', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'accounts', '.']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'all', 'account', 'ids', 'and', 'account', 'details', '.']
col_inds:  [-1, -1, -1, 22, 20]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 20, 22]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'ids', 'and', 'details', 'of', 'all', 'accounts', '?']
col_inds:  [-1, -1, -1, 22, 20]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 20, 22]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['How', 'many', 'statements', 'do', 'we', 'have', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'statements', '.']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['List', 'all', 'statement', 'ids', 'and', 'statement', 'details', '.']
col_inds:  [-1, -1, -1, 16, 15]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 16, 15]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'ids', 'and', 'details', 'of', 'all', 'statements', '?']
col_inds:  [-1, -1, -1, 16, 15]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 16, 15]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['Show', 'statement', 'id', ',', 'statement', 'detail', ',', 'account', 'detail', 'for', 'accounts', '.']
col_inds:  [-1, -1, -1, 22, 16, 21]
col_mask:  [0, 0, 0, 1, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4, 4]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 16, 21, 22]
label_nums:  [1, 0, 3, 0, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'statement', 'ids', ',', 'statement', 'details', ',', 'and', 'account', 'details', ',', 'for', 'all', 'accounts', '?']
col_inds:  [-1, -1, -1, 22, 16, 21]
col_mask:  [0, 0, 0, 1, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4, 4]
mask_inds:  [1, 1, 1, 1, 1, 1]
label_list:  [0, 16, 21, 22]
label_nums:  [1, 0, 3, 0, 0, 0]

-----------------------
src:  ['Show', 'all', 'statement', 'id', 'and', 'the', 'number', 'of', 'accounts', 'for', 'each', 'statement', '.']
col_inds:  [-1, -1, -1, 0, -1, 21, -1, 21]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 21, 2, 21, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'different', 'statement', 'ids', 'on', 'accounts', ',', 'and', 'the', 'number', 'of', 'accounts', 'for', 'each', '?']
col_inds:  [-1, -1, -1, 0, -1, 21, -1, 21]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 21, 2, 21, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['Show', 'the', 'statement', 'id', 'and', 'the', 'statement', 'detail', 'for', 'the', 'statement', 'with', 'most', 'number', 'of', 'accounts', '.']
col_inds:  [-1, -1, -1, 16, 21, -1, 21, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 16, 21, 21, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'statement', 'id', 'and', 'statement', 'detail', 'for', 'the', 'statement', 'that', 'has', 'the', 'most', 'corresponding', 'accounts', '?']
col_inds:  [-1, -1, -1, 16, 21, -1, 21, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 16, 21, 21, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'number', 'of', 'documents', '.']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'documents', '.']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['List', 'the', 'document', 'type', 'code', ',', 'document', 'name', ',', 'and', 'document', 'description', 'for', 'the', 'document', 'with', 'name', "'Noel", 'CV', "'", 'or', 'name', "'King", 'Book', "'", '.']
col_inds:  [-1, -1, -1, 13, 12, 9, -1, 12, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 12, 13, 12, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'type', 'come', ',', 'name', ',', 'and', 'description', 'of', 'the', 'document', 'that', 'has', 'either', 'the', 'name', "'Noel", 'CV', "'", 'or', "'King", 'Book', "'", '?']
col_inds:  [-1, -1, -1, 13, 12, 9, -1, 12, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 12, 13, 12, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'and', 'names', 'of', 'all', 'documents', '.']
col_inds:  [-1, -1, -1, 12, 8]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 8, 12]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'ids', 'and', 'names', 'for', 'each', 'of', 'the', 'documents', '?']
col_inds:  [-1, -1, -1, 12, 8]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 8, 12]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['Find', 'names', 'and', 'ids', 'of', 'all', 'documents', 'with', 'document', 'type', 'code', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 8, 12, -1, 9, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 8, 12, 9, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'ids', 'of', 'documents', 'that', 'have', 'the', 'type', 'code', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 8, 12, -1, 9, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 8, 12, 9, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'documents', 'are', 'with', 'document', 'type', 'code', 'VALUE_0', 'for', 'each', 'product', 'id', '?']
col_inds:  [-1, -1, -1, 10, 0, -1, -1, 9, -1, -1, -1, 10]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'where', 'column', '=', 'value', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 8, 3, 5, 9, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1]
label_list:  [0, 0, 1, 0, 10, 2, 9, 0, 1, 0, 1, 10, 0]
label_nums:  [1, 2, 2, 0, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'documents', 'with', 'the', 'type', 'code', 'VALUE_0', 'that', 'correspond', 'to', 'each', 'product', 'id', '.']
col_inds:  [-1, -1, -1, 10, 0, -1, -1, 9, -1, -1, -1, 10]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'where', 'column', '=', 'value', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 8, 3, 5, 9, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1]
label_list:  [0, 0, 1, 0, 10, 2, 9, 0, 1, 0, 1, 10, 0]
label_nums:  [1, 2, 2, 0, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1]

-----------------------
src:  ['Show', 'the', 'document', 'name', 'and', 'the', 'document', 'date', 'for', 'all', 'documents', 'on', 'project', 'with', 'details', "'Graph", 'Database', 'project', "'", '.']
col_inds:  [-1, -1, -1, 11, 12, -1, 7, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 11, 12, 7, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'dates', 'for', 'documents', 'corresponding', 'to', 'project', 'that', 'has', 'the', 'details', "'Graph", 'Database', 'project', "'", '?']
col_inds:  [-1, -1, -1, 11, 12, -1, 7, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 11, 12, 7, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'project', 'ids', 'and', 'the', 'number', 'of', 'documents', 'in', 'each', 'project', '.']
col_inds:  [-1, -1, -1, 0, -1, 10, -1, 10]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 10, 2, 10, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'documents', 'correspond', 'with', 'each', 'project', 'id', '?']
col_inds:  [-1, -1, -1, 0, -1, 10, -1, 10]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 10, 2, 10, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'the', 'id', 'of', 'the', 'project', 'with', 'least', 'number', 'of', 'documents', '?']
col_inds:  [-1, -1, -1, 10, -1, 10, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 10, 10, 0, 0, 0]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Return', 'the', 'id', 'of', 'the', 'project', 'that', 'has', 'the', 'fewest', 'corresponding', 'documents', '.']
col_inds:  [-1, -1, -1, 10, -1, 10, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 10, 10, 0, 0, 0]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'for', 'projects', 'with', 'at', 'least', 'VALUE_0', 'documents', '.']
col_inds:  [-1, -1, -1, 10, -1, 10, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 10, 10, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'project', 'ids', 'of', 'projects', 'that', 'have', 'VALUE_0', 'or', 'more', 'corresponding', 'documents', '?']
col_inds:  [-1, -1, -1, 10, -1, 10, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 10, 10, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['List', 'document', 'type', 'codes', 'and', 'the', 'number', 'of', 'documents', 'in', 'each', 'code', '.']
col_inds:  [-1, -1, -1, 0, -1, 9, -1, 9]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 9, 2, 9, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'documents', 'are', 'there', 'of', 'each', 'type', '?']
col_inds:  [-1, -1, -1, 0, -1, 9, -1, 9]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 9, 2, 9, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'the', 'document', 'type', 'code', 'with', 'most', 'number', 'of', 'documents', '?']
col_inds:  [-1, -1, -1, 9, -1, 9, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 9, 9, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Return', 'the', 'code', 'of', 'the', 'document', 'type', 'that', 'is', 'most', 'common', '.']
col_inds:  [-1, -1, -1, 9, -1, 9, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 9, 9, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'document', 'type', 'code', 'with', 'fewer', 'than', 'VALUE_0', 'documents', '.']
col_inds:  [-1, -1, -1, 9, -1, 9, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '<', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 9, 9, 1, 0, 2, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]


label_list:  [0, 1, 0, 2, 2, 2, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'scientists', ',', 'and', 'how', 'many', 'projects', 'are', 'each', 'of', 'them', 'working', 'on', '?']
col_inds:  [-1, -1, -1, 2, 0, -1, -1, 2]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 2, 2, 2, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Find', 'the', 'SSN', 'and', 'name', 'of', 'scientists', 'who', 'are', 'assigned', 'to', 'the', 'project', 'with', 'the', 'longest', 'hours', '.']
col_inds:  [-1, -1, -1, 2, 1, -1, 5, -1, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'max']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 1, 2, 5, 0, 0, 0, 5, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'SSN', 'and', 'names', 'of', 'scientists', 'working', 'on', 'the', 'project', 'with', 'the', 'most', 'hours', '?']
col_inds:  [-1, -1, -1, 2, 1, -1, 5, -1, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'max']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 1, 2, 5, 0, 0, 0, 5, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'scientists', 'who', 'are', 'assigned', 'to', 'some', 'project', '.']
col_inds:  [-1, -1, -1, 2]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 2]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'scientists', 'who', 'are', 'assigned', 'to', 'any', 'project', '?']
col_inds:  [-1, -1, -1, 2]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 2]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['Select', 'the', 'project', 'names', 'which', 'are', 'not', 'assigned', 'yet', '.']
col_inds:  [-1, -1, -1, 4, -1, 3, -1, -1, -1, -1, 7]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 4, 3, 7, 0, 0, 7]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'projects', 'that', 'have', 'not', 'been', 'assigned', '?']
col_inds:  [-1, -1, -1, 4, -1, 3, -1, -1, -1, -1, 7]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 4, 3, 7, 0, 0, 7]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'scientists', 'who', 'are', 'not', 'assigned', 'to', 'any', 'project', '.']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, -1, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 2, 1, 7, 0, 0, 6]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'scientists', 'who', 'have', 'not', 'been', 'assigned', 'a', 'project', '?']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, -1, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 2, 1, 7, 0, 0, 6]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'scientists', 'who', 'are', 'not', 'assigned', 'to', 'any', 'project', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 1, -1, -1, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 0, 2, 1, 7, 0, 0, 6]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['How', 'many', 'scientists', 'do', 'not', 'have', 'any', 'projects', 'assigned', 'to', 'them', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 1, -1, -1, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 0, 2, 1, 7, 0, 0, 6]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'names', 'of', 'scientists', 'who', 'are', 'not', 'working', 'on', 'the', 'project', 'with', 'the', 'highest', 'hours', '.']
col_inds:  [-1, -1, -1, -1, -1, 2, -1, -1, -1, 2, -1, 5, -1, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'max']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 2, 0, 0, 2, 5, 0, 0, 0, 5, 0]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'scientists', 'who', 'are', 'not', 'working', 'on', 'the', 'project', 'with', 'the', 'most', 'hours', '?']
col_inds:  [-1, -1, -1, -1, -1, 2, -1, -1, -1, 2, -1, 5, -1, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'max']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 2, 0, 0, 2, 5, 0, 0, 0, 5, 0]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['List', 'all', 'the', 'scientists', "'", 'names', ',', 'their', 'projects', "'", 'names', ',', 'and', 'the', 'hours', 'worked', 'by', 'that', 'scientist', 'on', 'each', 'project', ',', 'in', 'alphabetical', 'order', 'of', 'project', 'name', ',', 'and', 'then', 'scientist', 'name', '.']
col_inds:  [-1, -1, -1, 5, 4, 2, -1, 2, -1, 4, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'asc', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 4, 5, 2, 4, 1, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 2, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'each', 'scientist', ',', 'the', 'names', 'of', 'the', 'projects', 'that', 'they', 'work', 'on', ',', 'and', 'the', 'hours', 'for', 'each', 'of', 'those', 'projects', ',', 'listed', 'in', 'alphabetical', 'order', 'by', 'project', 'name', ',', 'then', 'scientist', 'name', '.']
col_inds:  [-1, -1, -1, 5, 4, 2, -1, 2, -1, 4, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'asc', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 4, 5, 2, 4, 1, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 2, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'name', 'of', 'the', 'project', 'that', 'needs', 'the', 'least', 'amount', 'of', 'time', 'to', 'finish', 'and', 'the', 'name', 'of', 'scientists', 'who', 'worked', 'on', 'it', '.']
col_inds:  [-1, -1, -1, 2, 4, -1, 5, -1, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'min']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 2, 4, 5, 0, 0, 0, 5, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'project', 'that', 'requires', 'the', 'fewest', 'number', 'of', 'hours', ',', 'and', 'the', 'names', 'of', 'the', 'scientists', 'assigned', 'to', 'it', '?']
col_inds:  [-1, -1, -1, 2, 4, -1, 5, -1, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'root', 'none', 'select', 'column', 'min']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 2, 4, 5, 0, 0, 0, 5, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'highest', 'rated', 'wine', '?']
col_inds:  [-1, -1, -1, 15, -1, 18, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 15, 18, 0]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Give', 'the', 'name', 'of', 'the', 'wine', 'with', 'the', 'highest', 'score', '.']
col_inds:  [-1, -1, -1, 15, -1, 18, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 15, 18, 0]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Which', 'winery', 'is', 'the', 'wine', 'that', 'has', 'the', 'highest', 'score', 'from', '?']
col_inds:  [-1, -1, -1, 12, -1, 18, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 12, 18, 0]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'winery', 'at', 'which', 'the', 'wine', 'with', 'the', 'highest', 'score', 'was', 'made', '?']
col_inds:  [-1, -1, -1, 12, -1, 18, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 12, 18, 0]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'names', 'of', 'all', 'wines', 'produced', 'in', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 15, -1, 16, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 16, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'all', 'wines', 'produced', 'in', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 15, -1, 16, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 16, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['List', 'the', 'grapes', 'and', 'appelations', 'of', 'all', 'wines', '.']
col_inds:  [-1, -1, -1, 13, 11]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 11, 13]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'grapes', 'and', 'appelations', 'of', 'each', 'wine', '?']
col_inds:  [-1, -1, -1, 13, 11]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 11, 13]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['List', 'the', 'names', 'and', 'scores', 'of', 'all', 'wines', '.']
col_inds:  [-1, -1, -1, 18, 15]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 18, 15]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'scores', 'of', 'all', 'wines', '?']
col_inds:  [-1, -1, -1, 18, 15]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 18, 15]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['List', 'the', 'area', 'and', 'county', 'of', 'all', 'appelations', '.']
col_inds:  [-1, -1, -1, 6, 8]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 8, 6]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'areas', 'and', 'counties', 'for', 'all', 'appelations', '?']
col_inds:  [-1, -1, -1, 6, 8]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 8, 6]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'prices', 'of', 'wines', 'produced', 'before', 'the', 'year', 'of', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 17, -1, 16, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 17, 16, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Return', 'the', 'prices', 'of', 'wines', 'produced', 'before', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 17, -1, 16, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 17, 16, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['List', 'the', 'names', 'of', 'all', 'distinct', 'wines', 'that', 'have', 'scores', 'higher', 'than', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 15, -1, 18, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 18, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'wines', 'with', 'scores', 'higher', 'than', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 15, -1, 18, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 18, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['List', 'the', 'names', 'of', 'all', 'distinct', 'wines', 'that', 'are', 'made', 'of', 'red', 'color', 'grape', '.']
col_inds:  [-1, -1, -1, 15, -1, 3, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 3, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'wines', 'made', 'from', 'red', 'grapes', '?']
col_inds:  [-1, -1, -1, 15, -1, 3, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 3, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'names', 'of', 'all', 'distinct', 'wines', 'that', 'have', 'appellations', 'in', 'VALUE_0', 'area', '.']
col_inds:  [-1, -1, -1, 15, -1, 8, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 8, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'distinct', 'names', 'of', 'wines', 'that', 'have', 'appellations', 'in', 'the', 'VALUE_0', 'area', '?']
col_inds:  [-1, -1, -1, 15, -1, 8, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 15, 8, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'wines', 'are', 'produced', 'at', 'VALUE_0', 'winery', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 12, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 12, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'wines', 'produced', 'at', 'VALUE_0', 'winery', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 12, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 12, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'appelations', 'are', 'in', 'VALUE_0', 'Country', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 6, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 6, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'appelations', 'in', 'VALUE_0', 'County', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 6, -1, -1]

sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 34, 38, 0, 1, 0, 1, 0, 0, 34, 38, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'players', 'who', 'won', 'in', 'both', 'VALUE_0', 'and', '2016', '?']
col_inds:  [-1, -1, -1, -1, -1, 34, -1, 38, -1, -1, -1, -1, -1, 34, -1, 38, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 34, 38, 0, 1, 0, 1, 0, 0, 34, 38, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['List', 'the', 'number', 'of', 'all', 'matches', 'who', 'played', 'in', 'years', 'of', 'VALUE_0', 'or', 'VALUE_1', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 38, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 38, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'matches', 'were', 'played', 'in', 'VALUE_0', 'or', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 38, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 38, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'country', 'code', 'and', 'first', 'name', 'of', 'the', 'players', 'who', 'won', 'in', 'both', 'tourney', 'VALUE_0', 'and', 'Australian', 'Open', '?']
col_inds:  [-1, -1, -1, -1, -1, 2, 6, -1, 27, -1, -1, -1, -1, -1, 2, 6, -1, 27, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 2, 6, 27, 0, 1, 0, 1, 0, 0, 2, 6, 27, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'first', 'names', 'and', 'country', 'codes', 'for', 'players', 'who', 'won', 'both', 'the', 'VALUE_0', 'and', 'the', 'Australian', 'Open', '?']
col_inds:  [-1, -1, -1, -1, -1, 2, 6, -1, 27, -1, -1, -1, -1, -1, 2, 6, -1, 27, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 2, 6, 27, 0, 1, 0, 1, 0, 0, 2, 6, 27, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'first', 'name', 'and', 'country', 'code', 'of', 'the', 'oldest', 'player', '.']
col_inds:  [-1, -1, -1, 6, 2, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 6, 5, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'first', 'name', 'and', 'country', 'code', 'of', 'the', 'oldest', 'player', '?']
col_inds:  [-1, -1, -1, 6, 2, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 6, 5, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['List', 'the', 'first', 'and', 'last', 'name', 'of', 'all', 'players', 'in', 'the', 'order', 'of', 'birth', 'date', '.']
col_inds:  [-1, -1, -1, 3, 2, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 3, 5, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'full', 'names', 'of', 'all', 'players', ',', 'sorted', 'by', 'birth', 'date', '?']
col_inds:  [-1, -1, -1, 3, 2, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 3, 5, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['List', 'the', 'first', 'and', 'last', 'name', 'of', 'all', 'players', 'who', 'are', 'left', '/', 'VALUE_0', 'hand', 'in', 'the', 'order', 'of', 'birth', 'date', '.']
col_inds:  [-1, -1, -1, 3, 2, -1, 4, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 2, 3, 4, 0, 1, 0, 1, 5, 1]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'full', 'names', 'of', 'all', 'left', 'handed', 'players', ',', 'in', 'order', 'of', 'birth', 'date', '?']
col_inds:  [-1, -1, -1, 3, 2, -1, 4, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 2, 3, 4, 0, 1, 0, 1, 5, 1]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'first', 'name', 'and', 'country', 'code', 'of', 'the', 'player', 'who', 'did', 'the', 'most', 'number', 'of', 'tours', '.']
col_inds:  [-1, -1, -1, 2, 6, -1, 43, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 6, 43, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'first', 'name', 'and', 'country', 'code', 'of', 'the', 'player', 'with', 'the', 'most', 'tours', '?']
col_inds:  [-1, -1, -1, 2, 6, -1, 43, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 2, 6, 43, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'year', 'that', 'has', 'the', 'most', 'number', 'of', 'matches', '.']
col_inds:  [-1, -1, -1, 38, -1, 38, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 38, 38, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'year', 'had', 'the', 'most', 'matches', '?']
col_inds:  [-1, -1, -1, 38, -1, 38, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 38, 38, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'and', 'rank', 'points', 'of', 'the', 'winner', 'who', 'won', 'the', 'most', 'times', '.']
col_inds:  [-1, -1, -1, 36, 34, -1, 34, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 34, 36, 34, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'winner', 'who', 'has', 'won', 'the', 'most', 'matches', ',', 'and', 'how', 'many', 'rank', 'points', 'does', 'this', 'player', 'have', '?']
col_inds:  [-1, -1, -1, 36, 34, -1, 34, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 34, 36, 34, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'the', 'winner', 'who', 'has', 'the', 'highest', 'rank', 'points', 'and', 'participated', 'in', 'the', 'VALUE_0', 'tourney', '.']
col_inds:  [-1, -1, -1, 34, -1, 27, -1, -1, -1, 36, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 34, 27, 0, 1, 0, 1, 36, 2]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'winner', 'with', 'the', 'most', 'rank', 'points', 'who', 'participated', 'in', 'the', 'VALUE_0', 'tournament', '?']
col_inds:  [-1, -1, -1, 34, -1, 27, -1, -1, -1, 36, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 34, 27, 0, 1, 0, 1, 36, 2]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['find', 'the', 'names', 'of', 'loser', 'and', 'winner', 'who', 'played', 'in', 'the', 'match', 'with', 'greatest', 'number', 'of', 'minutes', '.']
col_inds:  [-1, -1, -1, 15, 34, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 34, 15, 20, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'winner', 'and', 'loser', 'who', 'played', 'in', 'the', 'longest', 'match', '?']
col_inds:  [-1, -1, -1, 15, 34, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 34, 15, 20, 2]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'average', 'ranking', 'for', 'each', 'player', 'and', 'their', 'first', 'name', '.']
col_inds:  [-1, -1, -1, 2, 40, -1, -1, 2]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'avg', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 40, 2, 4, 2, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'first', 'names', 'of', 'all', 'players', ',', 'and', 'their', 'average', 'rankings', '?']
col_inds:  [-1, -1, -1, 2, 40, -1, -1, 2]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'avg', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 40, 2, 4, 2, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Find', 'the', 'total', 'ranking', 'points', 'for', 'each', 'player', 'and', 'their', 'first', 'name', '.']
col_inds:  [-1, -1, -1, 2, 42, -1, -1, 2]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'sum', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 42, 2, 3, 2, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'first', 'names', 'of', 'all', 'players', ',', 'and', 'their', 'total', 'ranking', 'points', '?']
col_inds:  [-1, -1, -1, 2, 42, -1, -1, 2]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'sum', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 42, 2, 3, 2, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['find', 'the', 'number', 'of', 'players', 'for', 'each', 'country', '.']
col_inds:  [-1, -1, -1, 6, 0, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 6, 2, 6, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'players', 'are', 'from', 'each', 'country', '?']
col_inds:  [-1, -1, -1, 6, 0, -1, -1, 6]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 6, 2, 6, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['find', 'the', 'code', 'of', 'the', 'country', 'where', 'has', 'the', 'greatest', 'number', 'of', 'players', '.']
col_inds:  [-1, -1, -1, 6, -1, 6, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 6, 6, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'code', 'of', 'the', 'country', 'with', 'the', 'most', 'players', '?']
col_inds:  [-1, -1, -1, 6, -1, 6, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 6, 6, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'codes', 'of', 'countries', 'that', 'have', 'more', 'than', 'VALUE_0', 'players', '.']
col_inds:  [-1, -1, -1, 6, -1, 6, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 6, 6, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'codes', 'of', 'countries', 'with', 'more', 'than', 'VALUE_0', 'players', '?']
col_inds:  [-1, -1, -1, 6, -1, 6, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 6, 6, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'total', 'number', 'of', 'tours', 'for', 'each', 'ranking', 'date', '.']
col_inds:  [-1, -1, -1, 39, 43, -1, -1, 39]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'sum', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 43, 39, 3, 39, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'total', 'tours', 'were', 'there', 'for', 'each', 'ranking', 'date', '?']
col_inds:  [-1, -1, -1, 39, 43, -1, -1, 39]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'sum', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 43, 39, 3, 39, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'matches', 'happened', 'in', 'each', 'year', '.']
col_inds:  [-1, -1, -1, 38, 0, -1, -1, 38]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 38, 2, 38, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'matches', 'were', 'played', 'in', 'each', 'year', '?']
col_inds:  [-1, -1, -1, 38, 0, -1, -1, 38]
col_mask:  [0, 0, 0, 1, 1, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 38, 2, 38, 0]
label_nums:  [1, 1, 2, 0, 1, 0, 1, 1]

-----------------------
src:  ['Find', 'the', 'name', 'and', 'rank', 'of', 'the', '3', 'youngest', 'winners', 'across', 'all', 'matches', '.']
col_inds:  [-1, -1, -1, 35, 34, -1, 28, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 34, 35, 28, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'ranks', 'of', 'the', 'three', 'youngest', 'winners', 'across', 'all', 'matches', '?']
col_inds:  [-1, -1, -1, 35, 34, -1, 28, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'orderBy', 'column', 'asc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 34, 35, 28, 0]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 0]

-----------------------

label_list:  [0, 2, 3]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'is', 'the', 'first', 'and', 'second', 'line', 'for', 'all', 'addresses', '?']
col_inds:  [-1, -1, -1, 3, 2]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 2, 3]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['How', 'many', 'courses', 'in', 'total', 'are', 'listed', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'courses', 'are', 'there', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'is', 'the', 'VALUE_0', 'course', 'described', '?']
col_inds:  [-1, -1, -1, 12, -1, 11, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 12, 11, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'descriptions', 'for', 'all', 'the', 'VALUE_0', 'courses', '?']
col_inds:  [-1, -1, -1, 12, -1, 11, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 12, 11, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'zip', 'code', 'of', 'the', 'address', 'in', 'the', 'city', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 6, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 6, 5, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'zip', 'code', 'for', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 6, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 6, 5, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'department', 'offers', 'the', 'most', 'number', 'of', 'degrees', '?', 'List', 'department', 'name', 'and', 'id', '.']
col_inds:  [-1, -1, -1, 19, 15, -1, 19, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 19, 15, 19, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['For', 'each', 'department', 'id', ',', 'what', 'is', 'the', 'name', 'of', 'the', 'department', 'with', 'the', 'most', 'number', 'of', 'degrees', '?']
col_inds:  [-1, -1, -1, 19, 15, -1, 19, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 19, 15, 19, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'departments', 'offer', 'any', 'degree', '?']
col_inds:  [-1, -1, -1, 19, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 19, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'different', 'departments', 'offer', 'degrees', '?']
col_inds:  [-1, -1, -1, 19, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 19, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'different', 'degree', 'names', 'are', 'offered', '?']
col_inds:  [-1, -1, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 20, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'different', 'degrees', 'are', 'offered', '?']
col_inds:  [-1, -1, -1, 20, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 20, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'degrees', 'does', 'the', 'engineering', 'department', 'offer', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 15, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 15, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'degrees', 'does', 'the', 'engineering', 'department', 'have', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 15, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 15, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'descriptions', 'of', 'all', 'the', 'sections', '?']
col_inds:  [-1, -1, -1, 26, 25]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 25, 26]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'descriptions', 'for', 'all', 'the', 'sections', '?']
col_inds:  [-1, -1, -1, 26, 25]
col_mask:  [0, 0, 0, 1, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column']
mask_list:  [0, 1, 2, 4, 4]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 25, 26]
label_nums:  [1, 0, 2, 0, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'id', 'of', 'courses', 'having', 'at', 'most', 'VALUE_0', 'sections', '?']
col_inds:  [-1, -1, -1, 10, 11, -1, 10, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '<=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 10, 11, 10, 1, 0, 2, 4, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'and', 'ids', 'of', 'every', 'course', 'with', 'less', 'than', 'VALUE_0', 'sections', '?']
col_inds:  [-1, -1, -1, 10, 11, -1, 10, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '<=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 10, 11, 10, 1, 0, 2, 4, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['List', 'the', 'section_name', 'in', 'reversed', 'lexicographical', 'order', '.']
col_inds:  [-1, -1, -1, 25, -1, 25, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 25, 25, 3]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'sections', 'in', 'reverse', 'alphabetical', 'order', '?']
col_inds:  [-1, -1, -1, 25, -1, 25, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'orderBy', 'column', 'desc']
mask_list:  [0, 1, 2, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 25, 25, 3]
label_nums:  [1, 1, 1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'semester', 'which', 'most', 'student', 'registered', 'in', '?', 'Show', 'both', 'the', 'name', 'and', 'the', 'id', '.']
col_inds:  [-1, -1, -1, 28, 29, -1, 28, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 28, 29, 28, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['For', 'each', 'semester', ',', 'what', 'is', 'the', 'name', 'and', 'id', 'of', 'the', 'one', 'with', 'the', 'most', 'students', 'registered', '?']
col_inds:  [-1, -1, -1, 28, 29, -1, 28, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 28, 29, 28, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'description', 'of', 'the', 'department', 'whose', 'name', 'has', 'the', 'substring', 'the', 'computer', '?']
col_inds:  [-1, -1, -1, 16, -1, 15, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'like', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 16, 15, 6, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'department', 'description', 'for', 'the', 'one', 'whose', 'name', 'has', 'the', 'word', 'computer', '?']
col_inds:  [-1, -1, -1, 16, -1, 15, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'like', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 16, 15, 6, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Who', 'are', 'enrolled', 'in', 'VALUE_0', 'degree', 'programs', 'in', 'one', 'semester', '?', 'List', 'the', 'first', 'name', ',', 'middle', 'name', 'and', 'last', 'name', 'and', 'the', 'id', '.']
col_inds:  [-1, -1, -1, 32, 37, 36, 35, -1, 32, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 32, 35, 36, 37, 32, 1, 0, 2, 0, 1, 0, 1]
label_nums:  [1, 1, 4, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'first', ',', 'middle', ',', 'and', 'last', 'names', ',', 'along', 'with', 'the', 'ids', ',', 'of', 'all', 'students', 'who', 'enrolled', 'in', 'VALUE_0', 'degree', 'programs', 'in', 'one', 'semester', '?']
col_inds:  [-1, -1, -1, 32, 37, 36, 35, -1, 32, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 32, 35, 36, 37, 32, 1, 0, 2, 0, 1, 0, 1]
label_nums:  [1, 1, 4, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Who', 'is', 'enrolled', 'in', 'a', 'VALUE_0', 'degree', 'program', '?', 'List', 'the', 'first', 'name', ',', 'middle', 'name', ',', 'last', 'name', '.']
col_inds:  [-1, -1, -1, 37, 36, 35, -1, 20, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 35, 36, 37, 20, 0, 1, 0, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'first', ',', 'middle', ',', 'and', 'last', 'names', 'for', 'everybody', 'enrolled', 'in', 'a', 'Bachelors', 'program', '?']
col_inds:  [-1, -1, -1, 37, 36, 35, -1, 20, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 35, 36, 37, 20, 0, 1, 0, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'kind', 'of', 'program', 'which', 'most', 'number', 'of', 'students', 'are', 'enrolled', 'in', '?']
col_inds:  [-1, -1, -1, 20, -1, 20, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 20, 20, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'degree', 'summary', 'name', 'that', 'has', 'the', 'most', 'number', 'of', 'students', 'enrolled', '?']
col_inds:  [-1, -1, -1, 20, -1, 20, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 20, 20, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'program', 'which', 'most', 'number', 'of', 'students', 'are', 'enrolled', 'in', '.', 'List', 'both', 'the', 'id', 'and', 'the', 'summary', '.']
col_inds:  [-1, -1, -1, 20, 18, -1, 18, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 18, 20, 18, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'program', 'id', 'and', 'the', 'summary', 'of', 'the', 'degree', 'that', 'has', 'the', 'most', 'students', 'enrolled', '?']
col_inds:  [-1, -1, -1, 20, 18, -1, 18, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 18, 20, 18, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'student', 'has', 'enrolled', 'for', 'the', 'most', 'times', 'in', 'any', 'program', '?', 'List', 'the', 'id', ',', 'first', 'name', ',', 'middle', 'name', ',', 'last', 'name', ',', 'the', 'number', 'of', 'enrollments', 'and', 'student', 'id', '.']
col_inds:  [-1, -1, -1, 0, -1, 37, 36, 35, 32, -1, 32, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'column', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, -1, 4, 4, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 32, 35, 36, 37, 2, 32, 0, 0, 2]
label_nums:  [1, 2, 4, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'first', ',', 'middle', ',', 'and', 'last', 'name', ',', 'along', 'with', 'the', 'id', 'and', 'number', 'of', 'enrollments', ',', 'for', 'the', 'student', 'who', 'enrolled', 'the', 'most', 'in', 'any', 'program', '?']
col_inds:  [-1, -1, -1, 0, -1, 37, 36, 35, 32, -1, 32, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'column', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, -1, 4, 4, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 32, 35, 36, 37, 2, 32, 0, 0, 2]
label_nums:  [1, 2, 4, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'semesters', 'do', 'not', 'have', 'any', 'student', 'enrolled', '?', 'List', 'the', 'semester', 'name', '.']
col_inds:  [-1, -1, -1, 29, -1, 28, -1, -1, -1, -1, 46]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 29, 28, 7, 0, 0, 46]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'semester', 'with', 'no', 'students', 'enrolled', '?']
col_inds:  [-1, -1, -1, 29, -1, 28, -1, -1, -1, -1, 46]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 29, 28, 7, 0, 0, 46]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'all', 'the', 'course', 'names', 'of', 'the', 'courses', 'which', 'ever', 'have', 'students', 'enrolled', 'in', '?']
col_inds:  [-1, -1, -1, 11]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 11]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'all', 'courses', 'that', 'have', 'some', 'students', 'enrolled', '?']
col_inds:  [-1, -1, -1, 11]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 11]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['What', "'s", 'the', 'name', 'of', 'the', 'course', 'with', 'most', 'number', 'of', 'enrollments', '?']
col_inds:  [-1, -1, -1, 11, -1, 11, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 11, 11, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'course', 'with', 'the', 'most', 'students', 'enrolled', '?']
col_inds:  [-1, -1, -1, 11, -1, 11, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']

src:  ['What', 'are', 'the', 'faculty', 'id', 'and', 'the', 'number', 'of', 'students', 'each', 'faculty', 'has', '?']
col_inds:  [-1, -1, -1, 0, -1, 15, -1, 15]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 15, 2, 15, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['Show', 'all', 'the', 'faculty', 'ranks', 'and', 'the', 'number', 'of', 'students', 'advised', 'by', 'each', 'rank', '.']
col_inds:  [-1, -1, -1, 0, -1, 18, -1, 18]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 18, 2, 18, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'students', 'are', 'advised', 'by', 'each', 'rank', 'of', 'faculty', '?', 'List', 'the', 'rank', 'and', 'the', 'number', 'of', 'students', '.']
col_inds:  [-1, -1, -1, 0, -1, 18, -1, 18]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 18, 2, 18, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['What', 'are', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'faculty', 'who', 'has', 'the', 'most', 'students', '?']
col_inds:  [-1, -1, -1, 16, 17, -1, 15, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 16, 17, 15, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Give', 'me', 'the', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'faculty', 'who', 'advises', 'the', 'most', 'students', '.']
col_inds:  [-1, -1, -1, 16, 17, -1, 15, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 16, 17, 15, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'for', 'all', 'the', 'faculty', 'members', 'who', 'have', 'at', 'least', 'VALUE_0', 'students', '.']
col_inds:  [-1, -1, -1, 15, -1, 15, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 15, 15, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'faculty', 'members', 'advise', 'two', 'ore', 'more', 'students', '?', 'Give', 'me', 'their', 'faculty', 'ids', '.']
col_inds:  [-1, -1, -1, 15, -1, 15, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>=', 'value']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 1, 15, 15, 1, 0, 2, 3, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'ids', 'for', 'the', 'faculty', 'members', 'who', 'do', "n't", 'advise', 'any', 'student', '.']
col_inds:  [-1, -1, -1, -1, -1, 15, -1, -1, -1, 13]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 15, 0, 13]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'ids', 'of', 'the', 'faculty', 'members', 'who', 'do', 'not', 'advise', 'any', 'student', '.']
col_inds:  [-1, -1, -1, -1, -1, 15, -1, -1, -1, 13]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 15, 0, 13]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'activities', 'do', 'we', 'have', '?']
col_inds:  [-1, -1, -1, 2]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 2]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['List', 'all', 'the', 'activities', 'we', 'have', '.']
col_inds:  [-1, -1, -1, 2]
col_mask:  [0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1]
label_list:  [0, 2]
label_nums:  [1, 0, 1, 0]

-----------------------
src:  ['How', 'many', 'activities', 'do', 'we', 'have', '?']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'activities', 'available', '.']
col_inds:  [-1, -1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 0, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'faculty', 'members', 'participate', 'in', 'an', 'activity', '?']
col_inds:  [-1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 5, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Give', 'me', 'the', 'number', 'of', 'faculty', 'members', 'who', 'participate', 'in', 'an', 'activity']
col_inds:  [-1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 5, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'of', 'the', 'faculty', 'who', 'do', "n't", 'participate', 'in', 'any', 'activity', '.']
col_inds:  [-1, -1, -1, -1, -1, 15, -1, -1, -1, 5]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 15, 0, 5]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Which', 'faculty', 'do', 'not', 'participate', 'in', 'any', 'activity', '?', 'Find', 'their', 'faculty', 'ids', '.']
col_inds:  [-1, -1, -1, -1, -1, 15, -1, -1, -1, 5]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 15, 0, 5]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'of', 'all', 'the', 'faculty', 'members', 'who', 'participate', 'in', 'an', 'activity', 'and', 'advise', 'a', 'student', '.']
col_inds:  [-1, -1, -1, -1, -1, 5, -1, -1, -1, 13]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [1, 0, 5, 0, 13]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'ids', 'of', 'the', 'faculty', 'members', 'who', 'not', 'only', 'participate', 'in', 'an', 'activity', 'but', 'also', 'advise', 'a', 'student', '.']
col_inds:  [-1, -1, -1, -1, -1, 5, -1, -1, -1, 13]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [1, 0, 5, 0, 13]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['How', 'many', 'activities', 'does', 'VALUE_0', 'VALUE_1', 'participate', 'in', '?']
col_inds:  [-1, -1, -1, 0, -1, -1, 16, -1, -1, 17, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 16, 17, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'number', 'of', 'activities', 'VALUE_0', 'VALUE_1', 'is', 'involved', 'in', '.']
col_inds:  [-1, -1, -1, 0, -1, -1, 16, -1, -1, 17, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 0, 2, 16, 17, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'names', 'of', 'all', 'the', 'activities', 'VALUE_0', 'VALUE_1', 'participates', 'in', '.']
col_inds:  [-1, -1, -1, 2, -1, 16, -1, -1, 17, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 2, 16, 17, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'activities', 'VALUE_0', 'VALUE_1', 'is', 'involved', 'in']
col_inds:  [-1, -1, -1, 2, -1, 16, -1, -1, 17, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 2, 16, 17, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'first', 'and', 'last', 'name', 'of', 'all', 'the', 'faculty', 'members', 'who', 'participated', 'in', 'some', 'activity', ',', 'together', 'with', 'the', 'number', 'of', 'activities', 'they', 'participated', 'in', '.']
col_inds:  [-1, -1, -1, 15, 0, -1, 16, 17, -1, 15]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'column', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 4, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 16, 17, 0, 15, 2, 15, 0]
label_nums:  [1, 1, 4, 0, 1, 0, 0, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'faculty', 'members', 'who', 'participated', 'in', 'at', 'least', 'one', 'activity', '?', 'For', 'each', 'of', 'them', ',', 'also', 'show', 'the', 'number', 'of', 'activities', 'they', 'participated', 'in', '.']
col_inds:  [-1, -1, -1, 15, 0, -1, 16, 17, -1, 15]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'count', 'column', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, 4, -1, 4, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 16, 17, 0, 15, 2, 15, 0]
label_nums:  [1, 1, 4, 0, 1, 0, 0, 0, 1, 1]

-----------------------
src:  ['Show', 'all', 'the', 'activity', 'names', 'and', 'the', 'number', 'of', 'faculty', 'involved', 'in', 'each', 'activity', '.']
col_inds:  [-1, -1, -1, 0, -1, 2, -1, 1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 2, 2, 1, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['How', 'many', 'faculty', 'members', 'participate', 'in', 'each', 'activity', '?', 'Return', 'the', 'activity', 'names', 'and', 'the', 'number', 'of', 'faculty', 'members', '.']
col_inds:  [-1, -1, -1, 0, -1, 2, -1, 1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'column', 'groupBy', 'column']
mask_list:  [0, 1, 2, 4, -1, 4, 2, 7]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 0, 2, 2, 1, 0]
label_nums:  [1, 1, 2, 1, 0, 0, 1, 1]

-----------------------
src:  ['What', 'is', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'faculty', 'participating', 'in', 'the', 'most', 'activities', '?']
col_inds:  [-1, -1, -1, 16, 17, -1, 15, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 16, 17, 15, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'faculty', 'who', 'is', 'involved', 'in', 'the', 'largest', 'number', 'of', 'activities', '.']
col_inds:  [-1, -1, -1, 16, 17, -1, 15, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 16, 17, 15, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'activity', 'that', 'has', 'the', 'most', 'faculty', 'members', 'involved', 'in', '?']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 2, 1, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'activity', 'has', 'the', 'most', 'faculty', 'members', 'participating', 'in', '?', 'Find', 'the', 'activity', 'name', '.']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 2, 1, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'of', 'the', 'students', 'who', 'do', "n't", 'participate', 'in', 'any', 'activity', '.']
col_inds:  [-1, -1, -1, -1, -1, 7, -1, -1, -1, 3]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 7, 0, 3]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'ids', 'of', 'the', 'students', 'who', 'are', 'not', 'involved', 'in', 'any', 'activity']
col_inds:  [-1, -1, -1, -1, -1, 7, -1, -1, -1, 3]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 7, 0, 3]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Show', 'the', 'ids', 'for', 'all', 'the', 'students', 'who', 'participate', 'in', 'an', 'activity', 'and', 'are', 'under', '20', '.']
col_inds:  [-1, -1, -1, -1, -1, 3, -1, -1, -1, 7, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '<', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 3, 0, 0, 7, 10, 2, 1, 0, 1]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'ids', 'of', 'the', 'students', 'who', 'are', 'under', '20', 'years', 'old', 'and', 'are', 'involved', 'in', 'at', 'least', 'one', 'activity', '.']
col_inds:  [-1, -1, -1, -1, -1, 3, -1, -1, -1, 7, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '<', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 3, 0, 0, 7, 10, 2, 1, 0, 1]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'student', 'participating', 'in', 'the', 'most', 'activities', '?']
col_inds:  [-1, -1, -1, 8, 9, -1, 7, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 8, 9, 7, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Tell', 'me', 'the', 'first', 'and', 'last', 'name', 'of', 'the', 'student', 'who', 'has', 'the', 'most', 'activities', '.']
col_inds:  [-1, -1, -1, 8, 9, -1, 7, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 8, 9, 7, 0, 0, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'name', 'of', 'the', 'activity', 'with', 'the', 'most', 'students', '?']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 2, 1, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', 'of', 'the', 'activity', 'that', 'has', 'the', 'largest', 'number', 'of', 'student', 'participants', '.']
col_inds:  [-1, -1, -1, 2, -1, 1, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 2, 1, 0, 0, 2]
label_nums:  [1, 2, 1, 0, 1, 1, 1, 1, 0]

-----------------------

col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [1, 0, 0, 9, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 9, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Give', 'the', 'names', 'of', 'countries', 'with', 'VALUE_0', 'and', 'French', 'as', 'official', 'languages', '.']
col_inds:  [-1, -1, -1, -1, -1, 9, -1, 25, -1, -1, 24, -1, -1, -1, -1, -1, 9, -1, 25, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [1, 0, 0, 9, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 9, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'number', 'of', 'distinct', 'continents', 'where', 'VALUE_0', 'is', 'spoken', '?']
col_inds:  [-1, -1, -1, 10, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 10, 2, 24, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'continents', 'speak', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 10, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 10, 2, 24, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'regions', 'that', 'use', 'VALUE_0', 'or', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 11, -1, 24, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 11, 24, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['Which', 'regions', 'speak', 'VALUE_1', 'or', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 11, -1, 24, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 11, 24, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'countries', 'where', 'either', 'VALUE_0', 'or', 'Dutch', 'is', 'the', 'official', 'language', '?']
col_inds:  [-1, -1, -1, -1, -1, 0, -1, 25, -1, -1, 24, -1, -1, -1, -1, -1, 0, -1, 25, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [2, 0, 0, 0, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'countries', 'have', 'either', 'VALUE_0', 'or', 'Dutch', 'as', 'an', 'official', 'language', '?']
col_inds:  [-1, -1, -1, -1, -1, 0, -1, 25, -1, -1, 24, -1, -1, -1, -1, -1, 0, -1, 25, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [2, 0, 0, 0, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'language', 'is', 'the', 'most', 'popular', 'on', 'the', 'Asian', 'continent', '?']
col_inds:  [-1, -1, -1, 24, -1, 10, -1, -1, -1, 24, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 1, 2, 24, 10, 0, 1, 0, 1, 24, 0, 0, 2]
label_nums:  [1, 3, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'language', 'that', 'is', 'used', 'by', 'the', 'largest', 'number', 'of', 'Asian', 'nations', '?']
col_inds:  [-1, -1, -1, 24, -1, 10, -1, -1, -1, 24, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 1, 2, 24, 10, 0, 1, 0, 1, 24, 0, 0, 2]
label_nums:  [1, 3, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Which', 'languages', 'are', 'spoken', 'by', 'only', 'one', 'country', 'in', 'republic', 'governments', '?']
col_inds:  [-1, -1, -1, 24, -1, 19, -1, -1, -1, 24, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'groupBy', 'column', 'having', 'column', 'count', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 24, 19, 0, 1, 0, 1, 24, 1, 0, 2, 0, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'languages', 'are', 'only', 'used', 'by', 'a', 'single', 'country', 'with', 'a', 'republic', 'government', '?']
col_inds:  [-1, -1, -1, 24, -1, 19, -1, -1, -1, 24, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'groupBy', 'column', 'having', 'column', 'count', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 1, 24, 19, 0, 1, 0, 1, 24, 1, 0, 2, 0, 1, 0, 1]
label_nums:  [1, 2, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'city', 'with', 'the', 'largest', 'population', 'that', 'uses', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 5, 2, -1, 24, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 2, 5, 24, 0, 1, 0, 1, 5, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'most', 'populace', 'city', 'that', 'speaks', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 5, 2, -1, 24, -1, -1, -1, 5, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 2, 5, 24, 0, 1, 0, 1, 5, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['Find', 'the', 'name', ',', 'population', 'and', 'expected', 'life', 'length', 'of', 'asian', 'country', 'with', 'the', 'largest', 'area', '?']
col_inds:  [-1, -1, -1, 15, 14, 9, -1, 10, -1, -1, -1, 12, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 9, 14, 15, 10, 0, 1, 0, 1, 12, 2]
label_nums:  [1, 2, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'name', ',', 'population', ',', 'and', 'life', 'expectancy', 'of', 'the', 'largest', 'Asian', 'country', 'by', 'land', '?']
col_inds:  [-1, -1, -1, 15, 14, 9, -1, 10, -1, -1, -1, 12, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 9, 14, 15, 10, 0, 1, 0, 1, 12, 2]
label_nums:  [1, 2, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'average', 'life', 'expectancy', 'in', 'the', 'countries', 'where', 'English', 'is', 'not', 'the', 'official', 'language', '?']
col_inds:  [-1, -1, -1, 15, -1, -1, 9, -1, -1, -1, -1, 9, -1, 25, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 15, 4, 9, 7, 0, 0, 0, 9, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Give', 'the', 'mean', 'life', 'expectancy', 'of', 'countries', 'in', 'which', 'English', 'is', 'not', 'the', 'official', 'language', '.']
col_inds:  [-1, -1, -1, 15, -1, -1, 9, -1, -1, -1, -1, 9, -1, 25, -1, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 15, 4, 9, 7, 0, 0, 0, 9, 24, 25, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'total', 'number', 'of', 'people', 'living', 'in', 'the', 'nations', 'that', 'do', 'not', 'use', 'English', '?']
col_inds:  [-1, -1, -1, 14, -1, -1, 9, -1, -1, -1, -1, 9, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'sum', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 14, 3, 9, 7, 0, 0, 0, 9, 24, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['How', 'many', 'people', 'live', 'in', 'countries', 'that', 'do', 'not', 'speak', 'English', '?']
col_inds:  [-1, -1, -1, 14, -1, -1, 9, -1, -1, -1, -1, 9, -1, 24, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'sum', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 14, 3, 9, 7, 0, 0, 0, 9, 24, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'official', 'language', 'spoken', 'in', 'the', 'country', 'whose', 'head', 'of', 'state', 'is', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 24, -1, 25, -1, -1, 20, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 24, 25, 20, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'official', 'language', 'used', 'in', 'the', 'country', 'the', 'name', 'of', 'whose', 'head', 'of', 'state', 'is', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 24, -1, 25, -1, -1, 20, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 24, 25, 20, 0, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'total', 'number', 'of', 'unique', 'official', 'languages', 'spoken', 'in', 'the', 'countries', 'that', 'are', 'founded', 'before', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 24, -1, -1, 25, -1, -1, 13, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 24, 2, 25, 13, 0, 0, 1, 0, 1, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['For', 'the', 'countries', 'founded', 'before', 'VALUE_0', ',', 'what', 'is', 'the', 'total', 'number', 'of', 'distinct', 'official', 'languages', '?']
col_inds:  [-1, -1, -1, 24, -1, -1, 25, -1, -1, 13, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count', 'where', 'column', '=', 'value', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 24, 2, 25, 13, 0, 0, 1, 0, 1, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 1, 0, 2, 1, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'countries', 'that', 'have', 'greater', 'surface', 'area', 'than', 'any', 'country', 'in', 'Europe', '?']
col_inds:  [-1, -1, -1, 9, -1, 12, -1, -1, -1, -1, 12, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'min', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 12, 1, 0, 0, 0, 12, 1, 10, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'countries', 'have', 'greater', 'area', 'than', 'that', 'of', 'any', 'country', 'in', 'Europe', '?']
col_inds:  [-1, -1, -1, 9, -1, 12, -1, -1, -1, -1, 12, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'min', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 12, 1, 0, 0, 0, 12, 1, 10, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'African', 'countries', 'that', 'have', 'a', 'population', 'less', 'than', 'any', 'country', 'in', 'Asia', '?']
col_inds:  [-1, -1, -1, 9, -1, 14, -1, -1, -1, -1, 14, -1, -1, 10, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'root', 'none', 'select', 'column', 'max', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 9, 10, 14, 0, 2, 0, 0, 0, 14, 0, 10, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'African', 'countries', 'have', 'a', 'smaller', 'population', 'than', 'that', 'of', 'any', 'country', 'in', 'Asia', '?']
col_inds:  [-1, -1, -1, 9, -1, 14, -1, -1, -1, -1, 14, -1, -1, 10, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '<', 'root', 'none', 'select', 'column', 'max', 'where', 'column', '=', 'value', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, -1, 2, 8, 3, 5, 9, -1, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1]
label_list:  [0, 0, 9, 10, 14, 0, 2, 0, 0, 0, 14, 0, 10, 0, 1, 0, 1, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'Asian', 'countries', 'have', 'a', 'population', 'that', 'is', 'larger', 'than', 'any', 'country', 'in', 'Africa', '?']
col_inds:  [-1, -1, -1, 9, -1, 14, -1, -1, -1, -1, 14, -1, -1, 10, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '>', 'root', 'none', 'select', 'column', 'min', 'where', 'column', '=', 'value', 'column', '=', 'value']

col_inds:  [-1, -1, -1, -1, -1, 5, -1, -1, -1, 5, -1, 2, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [3, 0, 5, 0, 0, 5, 2, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'all', 'movie', 'titles', ',', 'years', ',', 'and', 'directors', ',', 'ordered', 'by', 'budget', '.']
col_inds:  [-1, -1, -1, 11, 10, 9, -1, 12, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 9, 10, 11, 12, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['What', 'are', 'the', 'titles', ',', 'years', ',', 'and', 'directors', 'of', 'all', 'movies', ',', 'ordered', 'by', 'budget', 'in', 'millions', '?']
col_inds:  [-1, -1, -1, 11, 10, 9, -1, 12, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'orderBy', 'column', 'asc']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 2, 9, 10, 11, 12, 1]
label_nums:  [1, 1, 3, 0, 0, 0, 1, 1, 0]

-----------------------
src:  ['How', 'many', 'movie', 'directors', 'are', 'there', '?']
col_inds:  [-1, -1, -1, 11, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 11, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['Count', 'the', 'number', 'of', 'different', 'directors', '.']
col_inds:  [-1, -1, -1, 11, -1]
col_mask:  [0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'count']
mask_list:  [0, 1, 2, 4, -1]
mask_inds:  [1, 1, 1, 1, 1]
label_list:  [0, 11, 2]
label_nums:  [1, 0, 1, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'title', 'and', 'director', 'for', 'the', 'movie', 'with', 'highest', 'worldwide', 'gross', 'in', 'the', 'year', 'VALUE_0', 'or', 'before', '?']
col_inds:  [-1, -1, -1, 11, 9, -1, 10, -1, -1, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '<=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 9, 11, 10, 4, 1, 0, 1, 13, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['Return', 'the', 'title', 'and', 'director', 'of', 'the', 'movie', 'released', 'in', 'the', 'year', 'VALUE_0', 'or', 'earlier', 'that', 'had', 'the', 'highest', 'worldwide', 'gross', '.']
col_inds:  [-1, -1, -1, 11, 9, -1, 10, -1, -1, -1, 13, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '<=', 'value', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1]
label_list:  [0, 0, 2, 9, 11, 10, 4, 1, 0, 1, 13, 2]
label_nums:  [1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 0]

-----------------------
src:  ['Show', 'all', 'director', 'names', 'who', 'have', 'a', 'movie', 'in', 'both', 'year', '1999', 'and', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, -1, -1, 11, -1, 10, -1, -1, -1, -1, -1, 11, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 11, 10, 0, 1, 0, 1, 0, 0, 11, 10, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'directors', 'had', 'a', 'movie', 'both', 'in', 'the', 'year', '1999', 'and', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, -1, -1, 11, -1, 10, -1, -1, -1, -1, -1, 11, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [1, 0, 0, 11, 10, 0, 1, 0, 1, 0, 0, 11, 10, 0, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'all', 'director', 'names', 'who', 'have', 'a', 'movie', 'in', 'the', 'year', 'VALUE_0', 'or', 'VALUE_1', '.']
col_inds:  [-1, -1, -1, 11, -1, 10, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 11, 10, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['Which', 'directors', 'had', 'a', 'movie', 'in', 'either', 'VALUE_0', 'or', 'VALUE_1', '?']
col_inds:  [-1, -1, -1, 11, -1, 10, -1, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 11, 10, 0, 0, 1, 0, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', ',', 'maximum', ',', 'and', 'minimum', 'budget', 'for', 'all', 'movies', 'before', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 12, -1, -1, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'max', 'min', 'where', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, -1, -1, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 12, 4, 0, 1, 10, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Return', 'the', 'average', ',', 'maximum', ',', 'and', 'minimum', 'budgets', 'in', 'millions', 'for', 'movies', 'made', 'before', 'the', 'year', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 12, -1, -1, -1, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'max', 'min', 'where', 'column', '<', 'value']
mask_list:  [0, 1, 2, 4, -1, -1, -1, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 12, 4, 0, 1, 10, 2, 1, 0, 1]
label_nums:  [1, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['List', 'all', 'company', 'names', 'with', 'a', 'book', 'published', 'by', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 14, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 14, 5, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'all', 'the', 'company', 'names', 'that', 'have', 'a', 'book', 'published', 'by', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 14, -1, 5, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 14, 5, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'the', 'movie', 'titles', 'and', 'book', 'titles', 'for', 'all', 'companies', 'in', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 4, 9, -1, 16, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 4, 16, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'titles', 'of', 'movies', 'and', 'books', 'corresponding', 'to', 'companies', 'incorporated', 'in', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 4, 9, -1, 16, -1, -1]
col_mask:  [0, 0, 0, 1, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 9, 4, 16, 0, 1, 0, 1]
label_nums:  [1, 1, 2, 0, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Show', 'all', 'company', 'names', 'with', 'a', 'movie', 'directed', 'in', 'year', 'VALUE_0', '.']
col_inds:  [-1, -1, -1, 14, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 14, 10, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'all', 'company', 'names', 'that', 'have', 'a', 'corresponding', 'movie', 'directed', 'in', 'the', 'year', 'VALUE_0', '?']
col_inds:  [-1, -1, -1, 14, -1, 10, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', '=', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 0, 0, 1]
label_list:  [0, 0, 14, 10, 0, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'states', 'have', 'both', 'owners', 'and', 'professionals', 'living', 'there', '?']
col_inds:  [-1, -1, -1, -1, -1, 15, -1, -1, -1, 38]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [1, 0, 15, 0, 38]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'states', 'where', 'both', 'owners', 'and', 'professionals', 'live', '.']
col_inds:  [-1, -1, -1, -1, -1, 15, -1, -1, -1, 38]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'intersect', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [1, 0, 15, 0, 38]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['What', 'is', 'the', 'average', 'age', 'of', 'the', 'dogs', 'who', 'have', 'gone', 'through', 'any', 'treatments', '?']
col_inds:  [-1, -1, -1, 26, -1, -1, 20, -1, -1, -1, -1, 45]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', 'in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 26, 4, 20, 8, 0, 0, 45]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'average', 'age', 'of', 'the', 'dogs', 'who', 'went', 'through', 'treatments', '.']
col_inds:  [-1, -1, -1, 26, -1, -1, 20, -1, -1, -1, -1, 45]
col_mask:  [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1]
sql_history:  ['root', 'none', 'select', 'column', 'avg', 'where', 'column', 'in', 'root', 'none', 'select', 'column']
mask_list:  [0, 1, 2, 4, -1, 2, 8, 3, 5, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]
label_list:  [0, 0, 26, 4, 20, 8, 0, 0, 45]
label_nums:  [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0]

-----------------------
src:  ['Which', 'professionals', 'live', 'in', 'the', 'state', 'of', 'VALUE_0', 'or', 'have', 'done', 'treatment', 'on', 'more', 'than', '2', 'treatments', '?', 'List', 'his', 'or', 'her', 'id', ',', 'last', 'name', 'and', 'cell', 'phone', '.']
col_inds:  [-1, -1, -1, -1, -1, 43, 40, 33, -1, 38, -1, -1, -1, -1, -1, 43, 40, 33, -1, 33, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [2, 0, 0, 40, 33, 43, 38, 0, 1, 0, 1, 0, 1, 40, 33, 43, 33, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 3, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Find', 'the', 'id', ',', 'last', 'name', 'and', 'cell', 'phone', 'of', 'the', 'professionals', 'who', 'live', 'in', 'the', 'state', 'of', 'VALUE_0', 'or', 'have', 'performed', 'more', 'than', 'two', 'treatments', '.']
col_inds:  [-1, -1, -1, -1, -1, 43, 40, 33, -1, 38, -1, -1, -1, -1, -1, 43, 40, 33, -1, 33, -1, 0, -1, -1, -1]
col_mask:  [0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'column', 'column', 'where', 'column', '=', 'value', 'root', 'none', 'select', 'column', 'column', 'column', 'groupBy', 'column', 'having', 'column', 'count', '>', 'value']
mask_list:  [0, 0, -1, 1, 2, 4, 4, 4, 2, 8, 3, 5, 9, -1, 0, 1, 2, 4, 4, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [2, 0, 0, 40, 33, 43, 38, 0, 1, 0, 1, 0, 1, 40, 33, 43, 33, 1, 0, 2, 1, 1, 0, 1]
label_nums:  [1, 0, 1, 1, 3, 0, 0, 0, 1, 0, 1, 1, 2, 0, 1, 1, 3, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'dogs', 'have', 'not', 'cost', 'their', 'owner', 'more', 'than', '1000', 'for', 'treatment', '?', 'List', 'the', 'dog', 'names', '.']
col_inds:  [-1, -1, -1, 25, -1, 20, -1, -1, -1, -1, 45, -1, 45, -1, 49, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'sum', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 25, 20, 7, 0, 0, 1, 45, 45, 1, 49, 3, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['What', 'are', 'the', 'names', 'of', 'the', 'dogs', 'for', 'which', 'the', 'owner', 'spent', 'more', 'than', '1000', 'for', 'treatment', '?']
col_inds:  [-1, -1, -1, 25, -1, 20, -1, -1, -1, -1, 45, -1, 45, -1, 49, -1, -1, -1]
col_mask:  [0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]
sql_history:  ['root', 'none', 'select', 'column', 'where', 'column', 'not in', 'root', 'none', 'select', 'column', 'groupBy', 'column', 'having', 'column', 'sum', '>', 'value']
mask_list:  [0, 1, 2, 4, 2, 8, 3, 5, 0, 1, 2, 4, 2, 7, 2, 4, 3, 5, 9, -1]
mask_inds:  [1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1]
label_list:  [0, 0, 25, 20, 7, 0, 0, 1, 45, 45, 1, 49, 3, 1, 1, 0, 1]
label_nums:  [1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0]

-----------------------
src:  ['Which', 'first', 'names', 'are', 'used', 'for', 'professionals', 'or', 'owners', 'but', 'are', 'not', 'used', 'as', 'dog', 'names', '?']
col_inds:  [-1, -1, -1, -1, -1, 35, -1, -1, -1, -1, -1, 11, -1, -1, -1, 25]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [2, 0, 35, 3, 0, 11, 0, 25]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Find', 'the', 'first', 'names', 'that', 'are', 'used', 'for', 'professionals', 'or', 'owners', 'but', 'are', 'not', 'used', 'as', 'dog', 'names', '.']
col_inds:  [-1, -1, -1, -1, -1, 35, -1, -1, -1, -1, -1, 11, -1, -1, -1, 25]
col_mask:  [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
sql_history:  ['root', 'union', 'root', 'none', 'select', 'column', 'root', 'except', 'root', 'none', 'select', 'column', 'root', 'none', 'select', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 0, 0, -1, 1, 2, 4, 0, 1, 2, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [2, 0, 35, 3, 0, 11, 0, 25]
label_nums:  [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

-----------------------
src:  ['Which', 'professional', 'did', 'not', 'operate', 'any', 'treatment', 'on', 'dogs', '?', 'List', 'the', 'professional', "'s", 'id', ',', 'role', 'and', 'email', '.']
col_inds:  [-1, -1, -1, -1, -1, 41, 34, 33, -1, -1, -1, 41, 34, 33]
col_mask:  [0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'column', 'column', 'root', 'none', 'select', 'column', 'column', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 4, 4, 0, 1, 2, 4, 4, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 33, 34, 41, 0, 33, 34, 41]
label_nums:  [1, 0, 1, 0, 3, 0, 0, 0, 1, 0, 3, 0, 0, 0]

-----------------------
src:  ['Give', 'me', 'the', 'id', ',', 'role', 'and', 'email', 'of', 'the', 'professionals', 'who', 'did', 'not', 'perform', 'any', 'treatment', 'on', 'dogs', '.']
col_inds:  [-1, -1, -1, -1, -1, 41, 34, 33, -1, -1, -1, 41, 34, 33]
col_mask:  [0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1]
sql_history:  ['root', 'except', 'root', 'none', 'select', 'column', 'column', 'column', 'root', 'none', 'select', 'column', 'column', 'column']
mask_list:  [0, 0, -1, 1, 2, 4, 4, 4, 0, 1, 2, 4, 4, 4]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [3, 0, 33, 34, 41, 0, 33, 34, 41]
label_nums:  [1, 0, 1, 0, 3, 0, 0, 0, 1, 0, 3, 0, 0, 0]

-----------------------
src:  ['Which', 'owner', 'owns', 'the', 'most', 'dogs', '?', 'List', 'the', 'owner', 'id', ',', 'first', 'name', 'and', 'last', 'name', '.']
col_inds:  [-1, -1, -1, 12, 11, 21, -1, 21, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 11, 12, 21, 21, 0, 0, 2]
label_nums:  [1, 2, 3, 0, 0, 0, 1, 1, 1, 1, 0]

-----------------------
src:  ['Return', 'the', 'owner', 'id', ',', 'first', 'name', 'and', 'last', 'name', 'of', 'the', 'owner', 'who', 'has', 'the', 'most', 'dogs', '.']
col_inds:  [-1, -1, -1, 12, 11, 21, -1, 21, -1, 0, -1]
col_mask:  [0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0]
sql_history:  ['root', 'none', 'select', 'column', 'column', 'column', 'groupBy', 'column', 'orderBy', 'column', 'desc_limit']
mask_list:  [0, 1, 2, 4, 4, 4, 2, 7, 2, 6, -1]
mask_inds:  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
label_list:  [0, 1, 2, 11, 12, 21, 21, 0, 0, 2]